[2015-12-16 16:09] bboe commented on #556
`get_subreddit` doesn't actually load the subreddit unless you try to access one of it's attributes. So
`r.get_subreddit('something quarantined').quarantine.opt_in()` should work.

[2015-12-17 01:42] rasher opened #566 "Add version argument to get_wiki_page"
Since (I think) bfe90aa18a092449da504770eb1ecef3f03cbe11, it seems I can no longer get a specific version of a wiki page by passing `v=` to `get_wiki_page` since it doesn't pass kwargs along to the request as it did before.

[2015-12-17 02:04] bboe commented on #566
Perhaps we should have a `revision(version)` method for a wiki page. The page is the page, and it may have one or more revisions. @rasher would you be interested in trying to implement such a feature?

[2015-12-18 22:26] caleywoods commented on #564
@bboe just checking up on this.

[2015-12-18 22:36] bboe commented on #564
@caleywoods your commit https://github.com/caleywoods/praw/commit/b4d94f0207987ddc6df8a15cc12f4b26141404db looks perfect. Can you make a PR?

[2015-12-18 22:37] caleywoods commented on #564
Sure can, after Star Wars of course! I'll have it opener tomorrow afternoon at the latest.

[2015-12-19 00:12] bboe commented on #564
Awesome. Enjoy and no spoilers please :)

[2015-12-19 08:42] eleweek commented on #337
My pull-request was merged yesterday, so I think this should be closed.

[2015-12-19 08:53] voussoir commented on #337
Yep, thanks!

[2015-12-19 08:53] #337 closed

[2015-12-19 22:12] #362 closed

[2015-12-20 16:22] llimllib opened #568 ""pip install" results in nonfunctional praw"
When I "pip install praw", then "import praw", I get:

[code]

Steps to reproduce:

1. `pip install praw`
2. `python`
3. `import praw`
4. see error

When I open up the egg that pip installed, I can see that there is in fact no praw.ini included. Here are its contents:

[code]

Surely a praw.ini should come in it so that `import praw` works?

python 3.4.3, mac

[2015-12-20 18:04] 13steinj commented on #568
I don't have a Mac so I can't really test, but IIRC there were issues I've seen in packages that don't explicitly do *something* with needed non Python files in the `setup` function. I don't remember what though.

[2015-12-20 20:50] llimllib commented on #568
That should get included from the `package_data` statement AFAICT: https://github.com/praw-dev/praw/blob/master/setup.py#L44

No idea why it's not

[2015-12-21 03:07] 13steinj commented on #568
@llimllib it is. Via the *, it accounts for `<anything>.ini`. in the `praw` folder

[2015-12-21 04:24] caleywoods commented on #564
Opened https://github.com/praw-dev/praw/pull/569 -- Please let me know if anything needs adjusted. Sorry for the delay, it turned out to be a busy weekend.

[2015-12-21 06:16] voussoir commented on #564
Closing this now that the PR is merged. Thanks for contributing, caley!

[2015-12-21 06:16] #564 closed

[2015-12-21 14:04] llimllib commented on #568
Right, but it's not in the egg I got from pip, so something's not working right, yeah?

[2015-12-21 15:33] bboe commented on #568
That's a different package than PRAW. Can you check the PRAW package?

[2015-12-21 16:09] llimllib commented on #568
doh sorry! Yes the praw egg does have an ini in it!

The issue remains that importing praw after installing didn't work, so sorry for my bonehead mistake.

[code]

[2015-12-21 16:10] llimllib commented on #568
perhaps it's because the ini file is in the egg rather than on the filesystem?

[2015-12-21 16:40] bboe commented on #568
That's correct, PRAW _should_ not be installed as an egg for this very reason. I thought `zip_safe=False` was in the setup.py file at one point, but it is not.

However, I am unable to reproduce the case where `pip install` creates an egg. Can you `pip uninstall praw` until your installation of PRAW is completely removed. And then provide the full output of `pip install praw`?

[2015-12-21 18:10] llimllib commented on #568
When I uninstalled and reinstalled, it installed the wheel not the egg. I also tried installing via `prawtools`, which is how I installed it initially, and it again installed the wheel not the egg. importing functioned properly both times.

I have no idea how I got it to install the egg previously.

[2015-12-21 18:13] bboe commented on #568
Very interesting. One-offs happen. I'm going to close the issue. If you can reproduce in the future, please reopen.

[2015-12-21 18:13] #568 closed

[2015-12-21 18:15] llimllib commented on #568
Fair enough, thanks for taking a look and happy holidays

![](https://media.giphy.com/media/jPAdK8Nfzzwt2/giphy.gif)

[2015-12-30 07:58] zachoooo commented on #376
This would be great. I need it for my current project.

[2016-01-01 18:23] bboe commented on #376
@zachoooo are you interested in implementing the feature?

[2016-01-02 00:07] zachoooo commented on #376
@bboe Haha I wish I was half that good at coding.

[2016-01-02 03:00] bboe commented on #376
Give it a try :+1:

[2016-01-03 12:50] ArthurHoaro opened #573 "TypeError with add_subreddit in Python 3"
[code]

Using `python3`, I get this stacktrace:

[code]

It's working with python2.

[code]

According to [the doc](https://praw.readthedocs.org/en/stable/pages/code_overview.html?highlight=multi#praw.objects.Multireddit.add_subreddit), it does look like a bug.

[2016-01-04 15:38] 13steinj commented on #573
I can't verify at the moment nor reproduce since I don't have a debugger handy. I'll attempt to reproduce later; but in any case it doesn't *seem* to be a praw bug since it looks like an issue with python's urllib.

Can you attempt to do this in a virtual environment via `virtualenv` with just PRAW installed and see if you can reproduce within that?

[2016-01-09 19:33] 13steinj commented on #376
I wanted to comment but I forgot to, but since someone just pmmed me asking on reddit about something related, I thought I'd notify those that wanted to know.

`add_moderator` does support non full permissions. It's just not documented because add_moderator is an aliased function of `do_relationship` of `_modify_relationship`.

The data sent to the server is updated from the kwargs, so a simple

[2016-01-09 21:51] fallguy commented on #541
Hi All.  I am VERY new to coding and have been messing around with Jupyter/iPython Notebook.  Is there an update that I can run to fix the issue in terminal?  I don't really understand a lot of what you are saying just yet.  I ran an update for sklearn w/ condo but this has not fixed the problem...

I get this each time I use sklearn:
/Users/[username]/anaconda3/lib/python3.5/site-packages/sklearn

[2016-01-09 21:56] 13steinj commented on #541
This is an issue with sklearn, not with your code. See: https://github.com/scikit-learn/scikit-learn/search?utf8=%E2%9C%93&q=getargspec

That said you may want to make an issue on their tracker and or submit a pull request to fix it yourself.

[2016-01-09 22:04] fallguy commented on #541
13steinj - I really appreciate the quick reply.  I don't exactly know how to do that but I will start investigating how.  Thanks again!

[2016-01-10 18:17] Almenon opened #577 "Stack overflow when invalid subreddit fetched with get_subreddit"
Specifically, it happens when there is a question mark at the end of the name.  For example:

[code]

Some simple fixes would be to remove the question mark or raise a NotFound exception, but there may be a better solution.

See [here](http://pastebin.com/pNTCXrxK) for the error log and [this reddit thread](https://www.reddit.com/r/redditdev/comments/3zrwso) for discussion.

[2016-01-11 01:40] voussoir commented on #577
Thanks for opening the issue here. I was able to investigate more, and this is what I found:

![image](https://cloud.githubusercontent.com/assets/7299570/12225374/5c2eb058-b7be-11e5-8573-d64c1bca77d1.png)

The problem is that `/r/arrow?/about.json` is actually returning the /hot page, instead of a 404. This also happens in the browser:

![image](https://cloud.githubusercontent.com/assets/7299570/1

[2016-01-11 03:35] 13steinj commented on #577
+1 to the ValueError, but you may wanna check for other characters that cause this problem.

[2016-01-11 05:16] bboe commented on #577
I'm for raising a `ValueError` exception if the passed in string contains invalid characters.

[2016-01-11 18:19] Almenon commented on #577
Good thinking @13steinj, I found that # also causes the error.  The other characters i tested !@$%^&*=,.\\+:;" resulted in expected behavior.  I also found that the character doesn't have to be at the end.  For example, 'arrow#yolo' invokes the error.  As for the fix, would the following be good?
[code]
Another possibility would be to use Reddit's [regex](https://github.com/reddit/reddit/blob/7419

[2016-01-11 18:23] bboe commented on #577
I like the latter solution. We could maybe write a `is_valid_subreddit` helper and use it where subreddit names are passed.

[2016-01-11 19:40] voussoir commented on #577
Am I right in thinking that `?` and `#` are likely to be the only problematic characters? They make the URL looks like it's carrying a parameter or anchor, but other characters aren't going to do that. It's not even Reddit's fault, it happens everywhere:

https://github.com/praw-dev?/praw

http://imgur.com/a/ttc0N/layout#/grid

I think simply blacklisting those two characters is a better solution

[2016-01-11 19:51] 13steinj commented on #577
I think making the chars url escaped would be best, mostly because that would mean there would also be a failure later if fetch is false (from what I understand). And it gives the appropriate 404 which is a plus.

[2016-01-12 00:40] bboe commented on #577
:+1: to urlencoding.

[2016-01-12 07:07] voussoir commented on #577
Awesome, glad we reached a new consensus.

Is `urllib.parse.quote` backwards compatible for all Python versions we support, or is there a different url encoder we need to use?

What other objects / methods should we apply this change to? Any method that uses input to create URLs is susceptible, should url-encoding become a standard in PRAW for all such methods, or is it good enough to just patch t

[2016-01-12 11:47] 13steinj commented on #577
IIRC it's compatible but it may be good to take it from `six` instead of `urllib` directly.

Maybe the url can be urlencoded right before the request is actually made in `_request` or `request_json`? However, that can lead to problems of a user manually defining a url parameter such as `?sort=top` instead of `params={'sort': 'top'}`...But that's not a big deal IMO since they shouldn't be manually

[2016-01-20 17:36] adost10A opened #579 "Support for Reddit Live?"
Wondering if PRAW would be looking to support Reddit Live threads.

[2016-01-20 17:46] bboe commented on #579
I would love to see support for the feature. Is this something you'd like to take a crack at? Otherwise, it'll likely sit as a feature request until someone who (1) wants the feature and (2) is willing to implement it does so.

[2016-01-21 04:50] 13steinj opened #580 "Forbidden errors are silenced on SubmitMixin.submit"
While it's good to have the error handling, it's not so good to just make it appear as if the error doesn't exist. Sure you could say that the user should throw in their own check, but for the sake of being user friendly, it would be nice if a warning could be thrown upon the forbidden error. Idea because of [this](http://www.reddit.com/r/redditdev/comments/41x45c/praw_stickying_a_submission_poste

[2016-01-21 15:37] caleywoods opened #581 "[u'key_color'] warning at script execution"
I saw a similar warning to this about a month ago with [u'suggested_comment_sort'] and ended up doing a PR to fix the issue but wasn't sure if the cause was the same here. I didn't see anything on /r/redditdev or in /r/beta about this so I'm not sure if it's new or not.

AFAIK nothing in my scripts has changed and PRAW version reports `3.3.0`

Error/Warning text: `:0: UserWarning: Extra settings f

[2016-01-21 15:38] caleywoods commented on #581
Previous issue of similar scenario - https://github.com/praw-dev/praw/issues/581

[2016-01-21 17:20] bboe commented on #581
@caleywoods could you make a pull request similar to the other one to fix this issue? Thanks for reporting!

[2016-01-21 17:25] caleywoods commented on #581
Can do - I'll see if I can get to it soon.

[2016-01-25 03:42] Praisebetoscience opened #582 "Forbidden and Captcha errors with using update_settings [ver 3.3.0]"
I'm creating a new bot that updates the sidebar and wikipages of a subreddit.   The bot is a brand new account with no posts or karma.   It has `config` and `wiki` privileges to the subs I'm trying to update, but I was getting the same error when it originally had full permissions as well.  I can update the sidebar (both via wiki and settings) and update wiki pages with no issues via browser.

Dep

[2016-01-25 06:45] gschizas commented on #566
I've been working on this functionality. I've also added a method to show one pages revisions - although its returning a plain dictionary at the moment.

[2016-02-01 13:42] 13steinj opened #585 "Add support for /randomrising"
Reddit has a shuffled version of the /random controller [here](https://github.com/reddit/reddit/blob/718b7a6039a0a75ac3405b8d710c45abc1ea8bd4/r2/r2/controllers/listingcontroller.py#L695). Seems simple enough just to "add a `ger_randomrising`", but I don't know how a test would work for the front page (on subreddits it's simple since we'd just limit it to redditapitest or something similar, and pos

[2016-02-01 17:36] 13steinj opened #586 "praw.multiprocess.ThreadingTCPServer.serve_forever can't be used in multiproessing on windows"
On windows, the following traceback is given:

E: Whoops, it didn't copy paste. Copypasting again:

    Traceback (most recent call last):
      File "<pyshell#4>", line 1, in <module>
        p.start()
      File "C:\Program Files (x86)\Python\Python SDK 3.4.3\lib\multiprocessing\process.py", line 105, in start
        self._popen = self._Popen(self)
      File "C:\Program Files (x86)\Python\Pyth

[2016-02-03 17:27] creesch opened #588 "Add support for the password grant_type when using oauth"
As described here https://github.com/reddit/reddit/wiki/OAuth2-Quick-Start-Example

Which will allow people writing scripts without user interaction and a single ore defined user to simply auth without jumping through hoops to get the needed tokens and hashes.

Python example can be found near the bottom.

[2016-02-03 17:29] noeatnosleep commented on #588
This would be amazing.

[2016-02-03 19:51] 13steinj commented on #588
Huh, never knew that...uh...existed.

Since `.login` is being deprecated due to, well, consisting of CookieAuth, in PRAW4 it could just accept arguments for a client id and secret as well.

[2016-02-03 20:15] creesch commented on #588
Yeah I had the feeling that a lot of people didn't. Which is really odd considering that when kemitche was really busy with this and he announced the move towards mandatory oauth he went out of his way to explain this all.

I don't do much with praw myself or with python for that matter, but after witnessing too many people struggle with praw I figured I'd make this issue so someone might implemen

[2016-02-03 20:25] creesch commented on #588
Seems like #368 is possibly related linking to a reddit thread with a possible workaround

Seems like it might already possible though not as it is recommend

[2016-02-04 00:19] 13steinj commented on #588
It's definitely possible to make the change (even right now), there's just
one concern I have*, and I can't sit down and make the change atm since it
looks that there will have to be some changes on how the tokens autorefresh
regarding some parameters that are sent.

*Currently the tokens automatically refresh on the hour via the fact that
the refresh token is kept in memory after retrieval from o

[2016-02-04 14:27] stedop commented on #579
I'd like to give that a crack.  I'll update here if I have any questions

[2016-02-06 22:42] bigblindbais opened #589 "Add support for sticky comments."
It is now possible for a mod to sticky his own top-level comment in a submission.
It would be great to add the functionality to PRAW.

I'm not familiar with the code yet; I might have a look at it and check whether I can implement something myself. I saw that the method to sticky a post is pretty simple.

[2016-02-06 23:24] bigblindbais commented on #589
Apparently the ability to sticky comments is still a beta feature.
Although the reddit API doesn't mention it explicitly, the source code does implement the feature.
Nevertheless, it's probably wisest to wait until feature is supported officially.

[2016-02-06 23:41] voussoir commented on #589
Sticky comments have actually left Beta, [here's the /r/changelog post](https://www.reddit.com/r/changelog/comments/3x8w6c/reddit_change_sticky_comments/).

For comments, stickying is actually integrated into the distinguish endpoint. But, since Submission and Comment objects share the same PRAW method `Moderatable.distinguish`, I don't think we should add a `sticky` parameter to it, since it won'

[2016-02-07 14:52] bigblindbais commented on #589
You're right! I got misguided by the fact that the feature is not yet publicized in the API page (https://www.reddit.com/dev/api), and by the comments in the actual source code (https://github.com/reddit/reddit/blob/master/r2/r2/controllers/api.py#L3172).

I don't have much to say on the actual implementation; given the difference in the API between how to sticky Submissions and Comments, creating

[2016-02-07 21:29] voussoir commented on #589
I see that you've crossed this part out, but I would like to clarify that yes, there is. If you do `pip install flake8` you should be able to run `flake8` from the command line while inside your PRAW development directory. This will check for pep8 compliance. Try this out before making any changes, because it will print out lots of messages you don't need to worry about. After making changes, run

[2016-02-13 23:12] bigblindbais commented on #589
I've made a `Comment.sticky` method to sticky a comment (at the same time, distinguish it as made by a mod), while `Moderatable.undistinguish` should be used to unsticky while also resetting the distinction. I've tested it briefly myself and it seems to work. As far as I can tell, there is no method which allows to check whether a comment is distinguished or not, so I don't think there are any mea

[2016-02-15 22:33] bigblindbais commented on #589
I just noticed the Submission and Comment classes have a `distinguished` property and a `stickied` attributes which are used, for example, in the test/test_submission.py. But I can't find any reference to those in the documentation nor in the actual code. Could you give me a pointer as to where I can find more about how these attributes are implemented?

[2016-02-16 01:27] 13steinj commented on #589
The JSON returned from reddit is parsed and the key pairs (in this case
"distinguished" and "stickied") are set as attributes on the object to
their values. So in other words, if reddit.com says it's stickied /
distinguished, that means it is.

On Monday, February 15, 2016, bigblindbais <notifications@github.com> wrote:

[2016-02-17 02:32] TheEnigmaBlade commented on #581
This was fixed with #584.

[2016-02-17 04:00] #581 closed

[2016-02-17 04:00] bboe commented on #581
Thanks @TheEnigmaBlade for the update.

[2016-02-17 15:28] caleywoods commented on #581
Thanks all! Have been too busy lately.

[2016-02-24 00:04] jakebruemmer commented on #329
I just got this error as well when trying to run a script using `praw` with the `python3` binary.

[2016-02-26 04:18] leviroth commented on #557
I believe I've just implemented this. However, I'm quite new. Are there some tests I should be running?

[2016-02-26 23:06] icook opened #592 "Unhelpful exception raised from Celery task"
When using PRAW from a celery worker I recieved an unhelpful traceback.

[code]

When running this task by hand on the command line it prompted me for a Captcha, so I believe the issue is that Celery doesn't leave stdin open, or something similar. Unfortunately I haven't had the time to look into the exact cause, but I'm guessing the captcha decorator has raised an exception that was caught and im

[2016-02-27 00:23] bboe commented on #592
Thanks for filing.

[2016-02-27 00:56] #557 closed

[2016-03-09 21:04] nickstanisha opened #595 "dir changes attributes of praw.objects.Subreddits in place"
Today I noticed that the built-in function [`dir()`](https://docs.python.org/2/library/functions.html#dir) seems to change the attributes of praw.objects.Subreddits in place.

![screen shot 2016-03-09 at 4 01 22 pm](https://cloud.githubusercontent.com/assets/12176060/13650376/69edcf1e-e610-11e5-9e7d-5ef2051ad2d7.png)

Could this possibly be the result of a buggy `__dir__()` implementation in a pra

[2016-03-10 05:49] bboe commented on #595
It's possible that something changes as a result, e.g., the lazy submission object no longer becomes lazy. It'd be helpful if you could pinpoint what attributes are changing, and explain why having stability across dir is useful. Then someone, or you, could look into resolving those issues.

[2016-03-10 17:45] nickstanisha commented on #595
So I checked and it seems like the first call to `dir()` is missing these 41 Subreddit member variables.
[code]
and these 10 Redditor member variables
[code]
so it seems like all of the missing attributes are variables and not methods.

In general, you could imagine the fact that
[code]
prints `False` might trip some people up.  For example, if someone is writing a function that checks for the exi

[2016-03-10 18:47] bboe commented on #595
Because of the lazy loading many of the attributes aren't available until they are accessed the first time. That is by design. `hasattr(prog, 'description')` shouldn't return true on a lazy object.

However, it seems odd that `dir` is converting the object into a non-lazy object. That may be worth investigating.

[2016-03-10 21:56] voussoir commented on #595
The issue doesn't reproduce exactly for me:

![image](https://cloud.githubusercontent.com/assets/7299570/13685715/aec7d524-e6c6-11e5-9456-bbb6730a130c.png)

It's clear that when I deepcopy the object, one of the attribute copies triggers the lazy load, and both objects have the full API info. However, the simple `dir` test didn't have the effect that you showed in your screenshot, neither of the o

[2016-03-11 00:42] nickstanisha commented on #595
Hmmm... interesting.  This is what I get running those commands

<img width="527" alt="screen shot 2016-03-10 at 7 28 13 pm" src="https://cloud.githubusercontent.com/assets/12176060/13689369/651e08b4-e6f6-11e5-973c-153b662a389b.png">

It looks like bboe is right... the output is actually "correct," it's just not clear why `dir()` fetches new data under my configuration. Probably something to do wi

[2016-03-11 02:05] voussoir commented on #595
Okay, must be the difference between Python 2 and 3, that's an interesting distinction. Does `two.__dict__` instead of `dir(two)` cause the same thing to happen?

If this is something that can be fixed in a clean and version-compatible way, I'd say there's no reason not to, but I'm not sure how you could change the behavior of something as basic as `dir`. It appears (in 3.5), that it can be overri

[2016-03-11 04:50] bboe commented on #595
[code]

[code]

[code]

I'll check to see if the super class contains the attributes prior to fetching them in `getattr`.

[2016-03-11 05:11] voussoir commented on #595
@bboe Nice demonstration of what Python2 is doing differently from Python3. Since the `__getattr__` method of RedditContentObjects performs the API call, maybe we can add some lines that prevent the fetch if the requested attribute is either `__members__` or `__methods__`? We already have `__setstate__` being blacklisted so it isn't too much of a stretch.

[2016-03-11 05:14] bboe commented on #595
Yes, that would be the solution. Would you like to push that through @voussoir?

[2016-03-11 05:30] voussoir commented on #595
Sure thing! Does Python expect to receive something when getting those two attributes, or should they return None / raise AttributeError? I'm trying Python2 on [repl.it](https://repl.it/) but your example is actually giving `AttributeError: 'super' object has no attribute '__getattr__'`

[2016-03-11 05:37] bboe commented on #595
That's not actually the right thing to do. I think we only need to add exceptions for those two methods exactly as you described.

[2016-03-11 05:43] voussoir commented on #595
Okay, I didn't mean I would add the `super` part, I was just playing with your example because I wanted to see if Python 2 expected to receive anything from those values. It looks like they aren't necessary, so they'll just raise AttributeError.

I'll have a PR open in just a few minutes!

[2016-03-11 07:11] #595 closed

[2016-03-16 00:14] kupiakos opened #597 "Add AsyncIO support"
Support for asynchronous methods introduced in [PEP 0492](https://www.python.org/dev/peps/pep-0492/) and [Python 3.5](https://docs.python.org/3/whatsnew/3.5.html) allow relatively simple asynchronous querying, especially for things like HTTP requests with `aiohttp`. It would be very useful to be able to use PRAW natively with coroutines.

[Here](http://stackabuse.com/python-async-await-tutorial/)

[2016-03-16 00:25] 13steinj commented on #597
Python 2.7 which is still supported doesn't have access to the async statement. Unless you mean just using the decorators. And even then the async statement isn't really supported until *potentially* python 3.7.

That said can this even be done with praw's current structure? I haven't looked into aiohttp at all and it may require a major rewrite.

[2016-03-16 00:25] bboe commented on #597
Thanks for the suggestion. Unfortunately, as PRAW depends on requests for handling HTTP requests I don't think this is something that would be feasible without completely replacing the underlying HTTP request layer.

If you are interested in building such a layer that is compatible with the in-development https://github.com/praw-dev/prawcore interface that will be used in PRAW4 then we may be on t

[2016-03-16 00:25] #597 closed

[2016-03-30 15:37] somehibs opened #600 "Update pip"
I'm using python 2.7 and every time I initialise praw I receive this warning

'Version 3.4.0 of praw is outdated. Version 4.0.0b4 was released 5 days ago.'

However, when trying to update praw through pip I get
Requirement already up-to-date: praw in /usr/local/lib/python2.7/dist-packages
Could you update pip?

[2016-03-30 17:45] voussoir commented on #600
What command are you using for pip? Make sure to include the `--upgrade` flag to update.

    pip install praw --upgrade

Note that using 3.4.0 is perfectly fine for the moment if you're happy with it. Make sure you're ready for the [breaking changes](https://www.reddit.com/r/redditdev/comments/4bvp73/praw_4_beta_feedback_desired/) before upgrading to PRAW 4.

[2016-03-30 20:36] bboe commented on #600
That's a bug with update checker. It shouldn't say there are updates for beta versions. Thanks for reporting.

[2016-04-04 19:33] wannabeCitizen opened #601 "refresh_access_information broken"
I'm using praw with python3.4 and no matter what, once the first access_token expires, I cannot get a refresh token. We get the same error whether we run this live on our server that is using the reddit API or whether I manually go in and try to make the call to refresh the token from an ipython session.

Here is the output from the server, any guidance would be hugely appreciated:
[code]

[2016-04-04 21:03] #601 closed

[2016-04-05 22:53] bboe commented on #601
@wannabeCitizen did you figure out the issue?

[2016-04-07 17:17] wannabeCitizen commented on #601
I did. For whatever reason when the refresh got triggered, it was grabbing my client_id as a tuple. I fixed it, which seemed to be an issue in how I configured my praw instance.

I'm still having some strange issues with requests that take a long time and sometimes time out midway through some scraping I'm doing. However, I doubt that has much to do with praw specifically. If I discover something

[2016-04-07 20:58] bboe commented on #601
Great. Thanks for the update.

[2016-04-13 01:00] voussoir commented on #589
I started playing with this feature today, but I realized we still had the issue open. @bigblindbias, do you want to continue working on this? I don't want to steal your thunder but I don't mind writing this either.

At the moment I'm still feeling that the kwargs style is the way to go, just so that when people do `help(submission.distinguish)` they don't get confused by a `sticky` parameter that

[2016-04-15 13:37] bigblindbais commented on #589
Hi, sorry I never delivered upon this. At one point I kinda got stuck writing some test code (had difficulty understanding how to use betamax) and then I just got sidetracked away.

If it were purely my decision I'd stick to having a `sticky` parameter just to make it more explicit, but I honestly don't care either way as long as the functionality exists.  I'll submit a pull request with what I go

[2016-04-15 21:13] radonthetyrant commented on #589
I'm very interested in this as well (working on the php raw wrapper)
Is there any information available on what fields/parameters need to be set? I have a hard time looking for it, the official documentation doesn't give anything away.

[2016-04-15 21:20] voussoir commented on #589
@radonthetyrant If you already have support for distinguishing comments in your wrapper, all you need to do is add a new parameter "sticky" that's `true` or `false`. Here's what I see in Chrome's network tab when stickying a comment:

![image](https://cloud.githubusercontent.com/assets/7299570/14575153/df199cb6-0314-11e6-9f5d-fb1c645ec721.png)

In PRAW we just use [/api/distinguish](https://github

[2016-04-15 21:25] radonthetyrant commented on #589
I did that just now:

![image](https://cloud.githubusercontent.com/assets/4189978/14575306/34334fd4-0361-11e6-833b-d343efca7296.png)

Result is a 200 OK API response and no stickied comment:

![image](https://cloud.githubusercontent.com/assets/4189978/14575333/630746f8-0361-11e6-8c9d-fb50c11d361d.png)

[2016-04-15 21:28] bboe commented on #589
@radonthetyrant looks like `sticky` should be `true` not `yes`.

[2016-04-15 21:38] radonthetyrant commented on #589
Yes that works now. BUT: the bot account has to opt-in to the beta program under preferences as well to make it work.

![image](https://cloud.githubusercontent.com/assets/4189978/14575604/1e026c5c-0363-11e6-92bb-0b2f95279a36.png)

Thanks @bboe @voussoir !

[2016-04-17 20:38] voussoir commented on #589
Closed via #602

[2016-04-17 20:38] #589 closed

[2016-05-08 03:50] rwdalpe commented on #582
I'm seeing this behavior as well, though I've not verified every combination in the posted table. The `config/sidebar` `edit_wiki_page` workaround is working for me as well.

[2016-05-10 07:15] djc opened #604 "Dependency ranges too small"
In acf871d9444c5, the dependencies were pinned. Partly with my Gentoo Linux packager hat on, I thoroughly dislike this change because the dependency ranges are so small; and pinning the dependency with `==` seems very unlikely to be justified. If I want to install this package, it needs to cooperate with the rest of what's installed, and saying "you have to use the exact version I tested with" is

[2016-05-10 07:24] bboe commented on #604
@djc there probably are a few versions that need not be pinned as specifically. The versions _should_ however be pinned where breaking changes are possible. Assuming packages follow [semantic versioning](http://semver.org/) that means all versions should be pinned to the current minor version to avoid breaking changes. However, when a package has yet to reach a 1.0 version, then any version can in

[2016-05-10 07:52] djc commented on #604
Well, I think assuming strict semantic versioning is probably too restrictive, particular for those pre-1.0 packages. So I'm not sure what would satisfy you? To me, the previous version of `['decorator>=3.4.2', 'requests>=2.3.0', 'six>=1.4', 'update_checker>=0.11']` looked alright, but I assume you have better knowledge of potentially breaking changes or bugs in versions included in those ranges.

[2016-05-12 16:35] LewisMCYoutube commented on #579
+1

[2016-05-13 11:35] djc commented on #604
FWIW, I've patched setup.py according to the pre-normalized dependencies, and this has seemed to resolve the OAuth issues I was having. I have not yet run the full test suite, though.

[2016-05-13 15:25] bboe commented on #604
What are the version discrepancies? Have you considered using a virtual environment?

[2016-05-13 19:02] djc commented on #604
Not sure what you mean about version discrepancies.

I almost never use virtual environments; Gentoo gives me a perfectly powerful package manager that is generally capable of doing what I want.

[2016-05-13 19:16] bboe commented on #604
Which dependencies along with their version numbers were conflicting with what PRAW wanted until you made a change.

I used to think the same thing until I started working with many different projects each of which had their own unique version requirements. It sounds like you're now running into that problem for the first time.

[2016-05-14 17:11] djc commented on #604
I was previously using praw-2.1.10, so that's a pretty old version. Gentoo's Python packages, which are generally kept up to date pretty well, give me requests-2.8.1, decorator-4.0.2 and six-1.10.0 (update_checker is only in there for praw, anyway).

I use virtualenv sometimes if I want to install apps that need a bunch of dependencies. However, for libraries (especially something like praw that s

[2016-05-14 17:59] strix-technica commented on #588
So what's the current status of this issue?  Is it worth me hacking something together and sending a pull request?

@13steinj wrote:

True but, in many environments, that's not any significant security concern.  At least in Linux (where I assume a lot of PRAW bots would be running), the username and password has to be stored somewhere, which is no problem unless root isn't trusted (in which case y

[2016-05-14 20:34] bboe commented on #588
The password grant option is available in the PRAW4 beta. I have no intention to back port support to PRAW3, but if someone wants to and adds the appropriate tests then I see no reason why it shouldn't be included.

I personally would prefer any efforts go toward making PRAW4 more feature complete so that it can be released. For instance, @strix-technica what features do you need in order to be ab

[2016-05-14 20:49] bboe commented on #604
You make a fair point. Would you like to try limiting the six and decorator dependencies to their major version and see if the tests pass? That would certainly be less restrictive and, assuming those packages follow semantic versioning, avoid backwards-incompatible changes in the dependencies.

[2016-05-14 20:51] strix-technica commented on #588
Fair enough, although the necessary changes don't seem all that significant for PRAW 3 (excepting, possibly, automatic refresh, which I haven't entirely figured out yet).

Does that mean you'd be willing to entertain a pull request that'd implement password grants for PRAW3?

I'm happy to use PRAW 4 if it'll do the job.  In the short term, I need to be able to fetch posts and comment contents.  I

[2016-05-14 22:37] bboe commented on #588
You should already be able to do all of that already in PRAW4. I think you'll find it easier to adapt your code to work with PRAW4, than to add the other flow to PRAW3. Here's the PRAW4 thread: https://www.reddit.com/r/redditdev/comments/4bvp73/praw_4_beta_feedback_desired/

Sounds like how I got involved :)

[2016-05-15 06:57] djc commented on #604
I don't think I can easily try that. Sounds like a great idea, though! Really, I think the best way forward would be to revert the six dependency back to 1.4, since at least that one was done explicitly. For decorator, using >= 3.0.0 (or 4.0.0) might make sense, you're probably just using the basics of the package and not actually depending on any trick business. For update checker, it looks there

[2016-05-15 11:36] nhantrn opened #605 "Error: Could not find a version that satisfies..."
I'm on Windows 10 with Python 3.5 installed. I got this error,

No matching distribution found for praw

when trying to pip install it. Any clue?

[2016-05-15 16:44] bboe commented on #605
Can you output the entire pip install log please?

[2016-05-15 23:46] strix-technica commented on #588
In fact, it was only the work of maybe an hour to do so (had already done it by the time you mentioned PRAW4) but still, I agree, PRAW4 is the way to go if only because of its use of rate-limiting headers.  Thanks!

Hacking code is *so* much more enjoyable than hacking LaTeX :(

[2016-05-16 01:25] nhantrn commented on #605
There doesn't seem to be a log generated anywhere even with --log switch. I tried easy_install and it downloaded praw, but seems to be corrupted when I tried to test connecting to reddit.

[2016-05-16 03:38] bboe commented on #588
Well if you have the code, please do open a PR.

[2016-05-22 17:51] strix-technica commented on #588
Done.  PR #606

[2016-06-06 20:08] leviroth opened #609 "Provide analog of praw.objects.Submission.replace_more_comments for praw.objects.Comment"
Currently, it's possible to automagically traverse the comment tree of a submission and replace the MoreComment instances with the actual comments they represent. However, it isn't possible to do the same thing with the reply tree of an individual comment.

[2016-06-07 01:03] bboe commented on #609
Great idea.

[2016-06-10 00:30] rasjani opened #610 "update_checker could be extra dependency ?"
Im maintaining a reddit addon for KODI media platform and i'd prefer to use PRAW as my API layer instead of relying on hardcoded json url's.  At the moment, im in process of providing Praw as a script package to KODI.

Kodi does not use python packages from system installation but all dependencies need to be packages and supplied from KODI's own package repositories and all of the packages Praw de

[2016-06-10 00:42] bboe commented on #600
This was fixed server side in https://github.com/bboe/update_checker_app/pull/5.

[2016-06-10 00:42] #600 closed

[2016-06-10 00:47] bboe commented on #610
Removing update checker from your build, or providing an extra argument to PRAW's build such that it excludes the package is perfectly reasonable. By default update_checker should be installed with PRAW.

[2016-06-10 07:12] djc opened #611 "KeyError: u'data' in SubmitMixin"
[code]

This has started happening this week. The result value seems to be `{u'errors': []}`.

[2016-06-10 08:38] rasjani commented on #610
So would it be acceptable to import update_checker in try/except block and just catch AttributeError when the method is called and issue a warning for missing dependency ?

[2016-06-10 17:09] bboe commented on #610
Sounds good with one minor change. If they explicitly chose to install the package without update-checker (or in your case) then I see no reason to issue a warning about the package not being present.

[2016-06-10 17:12] bboe commented on #611
Can you provide more information about the HTTP request and response? If reddit is returning `{u'errors': []}` that's completely unexpected behavior. What headers are part of the response?

[2016-06-10 17:14] #588 closed

[2016-06-10 17:55] djc commented on #611
Here's what I got from putting `print(url, '->', response, response.headers)` in `handle_redirect()`:

[code]

[2016-06-10 18:43] bboe commented on #611
Thanks. Are you using oauth scopes to submit? If so which? Also, could the account you're submitting from be shadow banned?

[2016-06-10 19:13] djc commented on #611
I have the `read` and `submit` scopes. I guess it could, but not sure why it would be? Can I check somehow?

[2016-06-10 19:33] bboe commented on #611
Try accessing the user page `/u/username` for the account from a different account. If the page is not found then my understanding is that means it is shadow banned. If not, I really am not sure why this is happening. Has it happened just once, or does it continue to happen? Anything unique about that particular submission you are making (e.g., does it only happen on some submissions, but not all)

[2016-06-10 22:12] leviroth commented on #375
Since `set_flair_csv` already returns the JSON from the server, what's a smart way of adding this? Added entry in the dicts that make up the list which `set_flair_csv` returns?

[2016-06-11 11:40] djc commented on #611
The account does not appear to be shadow-banned. It seems it continues to happen, but some submissions succeed. Since I'm taking the items from an RSS feed, it seems somewhat likely indeed that a particular submission is causing problem. If so, it would appear to be this one:

[code]

To me, the slash in the title is maybe the most uncommon. Do you have any clues?

[2016-06-11 17:43] 13steinj commented on #611
As a thought...what subreddits are you submitting to?

While it may not have anything to do with it, some subreddits are in an opt
in beta for i.redd.it hosted images and direct uploading from the /submit
page. The API could be returning a different response on those subreddits.
given the fact that as a side to the picture hosting, there is also a new
link preview.

So, meaning, if it only fails o

[2016-06-12 03:33] LukeNZ opened #613 "SSLError: EOF occurred in violation of protocol, when using PRAW:"
Ubuntu 16.04 running Python 3.5.1, the following fails on my system:

[code]
How can this be resolved?

[2016-06-12 11:54] rasjani commented on #610
sligtly different approaches here for reporting the error and how to catch those .. i havent tried even running either ones so no pr yet ...

[2016-06-12 12:47] djc commented on #611
I'm submitting to MozillaTech, which I own/moderate. I didn't opt it into any beta.

[2016-06-12 17:08] amici-ursi commented on #611
In another project, we frequently reproduce this error by trying to repost content into a subreddit. Rather than PRAW returning the alreadysubmitted exception, we get the keyerror.

[2016-06-12 19:03] scowcron commented on #611
for a concrete, repeatable example (r is an instance of praw.Reddit), and the link in question has already been posted to that subreddit.
[code]

[2016-06-12 19:10] djc commented on #611
FWIW, it does look like the link my script is trying to submit is already there.

[2016-06-13 15:10] mananwason opened #614 "How to get before and after ids from the search response"
Hi I am trying to retrieve all the posts from a particular search query. I am using
[code]
I am trying to paginate but I am trying to figure out how to retrieve the before and after data and how to use these to get the next page from the data.

[2016-06-13 22:05] voussoir commented on #614
With `limit=None`, PRAW will automatically collect pages of results during your `for` loop. There are API limitations on the site's end, however, so your results are probably capping at around 1,000 items or less.

Is that the information you're looking for? The primary way to get around the 1,000 item limit while searching is to make use of the cloudsearch syntax and the `timestamp` search term.

[2016-06-14 04:45] mananwason commented on #614
@voussoir Thanks for your prompt reply. I am trying to go past the 1000 posts that I am getting right now using praw but there isn't any kind of before and after parameter in it as in the reddit api response. You say that I can get around this limit of 1000 by cloudsearch syntax and the ``` timestamp``` search term, can you point me to some example? Thanks

[2016-06-14 07:50] michael-lazar opened #615 "Confusing error when calling reddit.get_subreddit("")"
Calling ``reddit.get_subreddit("")`` with an empty string returns a confusing stack trace. I was expecting this to raise an **InvalidSubreddit** exception, but instead I got this

[code]

Poking into the source code, it looks like the issue could be solved by explicitly checking for a ``None`` value here.

[code]

[2016-06-14 09:56] voussoir commented on #614
Sure, I've got a little writeup about timestamp searching on the website [here](https://www.reddit.com/r/reddittips/comments/2ix73n/use_cloudsearch_to_search_for_posts_on_reddit/), and I have a script that does it through PRAW [here](https://github.com/voussoir/reddit/blob/0484ba3ade20dd144740049e37dc9620f2aa5d54/Prawtimestamps/timesearch.py#L356-L363). The two `%d` are the lower and upper timesta

[2016-06-14 09:56] #614 closed

[2016-06-14 11:55] mananwason commented on #614
Thanks @voussoir. I am wondering on how to get more posts? I am able to use cloudsearch but not also I am restricted by the api limit of 1000 and don't know if there is any pagination parameters here. Please tell me if something can be done to get more than 1000 posts while searching.

[2016-06-14 19:14] 13steinj commented on #611
I'm pretty sure I've found the cause in the process of me helping another user debug his reddit install not allowing submitting at all.

@birakattack committed https://github.com/reddit/reddit/commit/0378c0cbf18722d3e9468e4cbe34ecf0f654e91f which removes the `from.has_error...` line from POST_submit. This removes the error from being returned in the API response as well; but it's the `c.errors.add

[2016-06-14 20:19] voussoir commented on #614
No, as I explained, pagination is handled by PRAW. After the 1,000 items, there are no `before` or `after` parameters. If there were, PRAW would use them automatically.

My technique with the timestamp search is to collect all 1,000 posts between two points in time, and then slide the upper and lower bounds to collect 1,000 posts in the next time window. You have to sort the search results by 'new

[2016-06-14 20:27] 13steinj commented on #375
@diceroll123 , reddit uses Python's csv reader from the standard library. If the input is, for example

    ["firstpart", "secondpart", "whyamialive", "cause", "Iareanidiot", "ohreally"]

However, the built in reader supports qouted text with precedence, so,

    ["firstpart", "secondpart", "whyamialive", "cause,Iareanidiot", "ohreally"]

\^ gets output as wanted.

So, you *should* be able to give

[2016-06-14 20:27] djc commented on #611
@13steinj awesome work finding this! Are you filing a bug against Reddit?

[2016-06-14 20:35] 13steinj commented on #611
Not atm mostly because mobile hurts me. But later sure.

And *if* that line can't be there for the javascript based redirect, they can easily put it in a conditional `if c.render_style != 'html': form.has_error...` though.

[2016-06-14 21:13] IAAAC commented on #611
Thank you guys, this error is currently ruining my undelete bot!

[2016-06-14 23:22] bboe commented on #611
Reopening until this issue is resolved on reddit's end. Because if it doesn't we should fix something on our end. If anyone makes an issue there please link it to this one.

[2016-06-14 23:32] 13steinj commented on #611
I don't believe there is anything to fix on this end-- and APIException would have been raised regardless due to previously there being an error in the errors array. Now it's just the wrong exception type because the API changed when it wasn't supposed to (the `c.errors` line is literally pointless like this, so it's just a metter of them fixing it).

Filing bug report now

[2016-06-15 05:08] bboe commented on #615
Great find. Could you make a pull request? I think a `TypeError` would be appropriate to raise in this case

[2016-06-15 05:15] bboe commented on #368
Closing this issue now that #588 has been merged.

[2016-06-15 05:15] #368 closed

[2016-06-15 05:16] bboe commented on #319
Increased rate limits are supported in the beta version of PRAW4. See https://www.reddit.com/r/redditdev/comments/4bvp73/praw_4_beta_feedback_desired/ for more information.

[2016-06-15 05:16] #319 closed

[2016-06-15 05:18] bboe commented on #322
I'm going to close this issue for now. If someone else is experiencing the issue please create a new issue and as much detail as possible pertaining to the increase in memory. A simple example demonstrating the issue would be ideal.

[2016-06-15 05:18] #322 closed

[2016-06-15 05:27] bboe commented on #364
The code that @spinda pasted doesn't match what the package version contained at the time so I'm a little confused. Given that the "fix" already existed in https://github.com/praw-dev/praw/commit/9bf6ebe298dcd31749931ed0bd2baff8da9d19ce I'm going to close the issue.

If people are still having issues with it, please re-open.

[2016-06-15 05:27] #364 closed

[2016-06-15 05:29] bboe commented on #367
PRAW4 will use logging rather than warnings so this should not be an issue there. If someone wants to fix the warning support for PRAW3, please make a pull request.

[2016-06-15 05:29] #367 closed

[2016-06-15 05:37] bboe commented on #573
Closing due to lack of response. Feel free to reopen with responses to the posed questions.

[2016-06-15 05:37] #573 closed

[2016-06-15 05:38] bboe commented on #577
Did someone want to fix this issue?

[2016-06-15 05:42] bboe commented on #580
Thanks for reporting. I think it makes sense to simply raise the Forbidden exception in this case. If someone doesn't have the scope they should understand why that's happening and be able to extract the requested URL from the Exception class. I'll mark this down for PRAW4.

[2016-06-15 05:45] bboe commented on #582
Thanks for the detailed report.

[2016-06-15 05:47] bboe commented on #585
Sounds great. The test can simple verify that submissions are returned.

[2016-06-15 05:49] bboe commented on #586
The multiprocess proxy is going away in PRAW4. The solution seems to be excluding the lock from the object being pickled. I'll leave open until PRAW4 is released.

[2016-06-15 05:51] bboe commented on #613
Does this happen all the time?

[2016-06-15 09:25] voussoir commented on #577
I'm taking @13steinj's suggestion of putting the urlencode as close to the actual request as possible. I just tried inserting

    url = six.moves.urllib.parse.quote(url)

in `_request` on [this line](https://github.com/praw-dev/praw/blob/a7a14c858fe5fb9e0f6ee6323b67319e0c3602cb/praw/__init__.py#L444), but unfortunately it gets a little carried away, and the URL becomes `https%3A//api.reddit.com/.

[2016-06-15 16:37] bboe commented on #577
I did something similar to what you're describing here:
https://github.com/sigmavirus24/github3.py/pull/606/files#diff-55646c00e315a0576b8ac81d804dc201R258

In essence I made a list from the tuple, and then mutated the path part, subsequently unsplitting the url.

Either way, I think that code you posted is really clear and it should be its own private function.

[2016-06-15 16:39] #615 closed

[2016-06-15 16:40] bboe commented on #615
Thanks for finding and fixing. I welcome any more improvements you have.

[2016-06-22 21:04] birakattack commented on #611
This issue has been resolved https://github.com/reddit/reddit/issues/1619. Please let me know if there are any issues moving forward. However, I believe this issue can be closed now. Thanks!

[2016-06-23 05:14] bboe commented on #611
Thanks @birakattack!

[2016-06-23 05:14] #611 closed

[2016-06-30 05:21] bboe commented on #610
@rasjani can you make pull requests for these? Sorry I just saw this comment.

[2016-06-30 05:27] bboe commented on #586
On second thought I'm going to close this issue as I don't think anyone is going to support this service due to its removal in PRAW4.

[2016-06-30 05:27] #586 closed

[2016-06-30 05:29] bboe commented on #503
This is not a problem in PRAW4.

[2016-06-30 05:29] #503 closed

[2016-06-30 05:30] bboe commented on #476
PRAW4 does not have this same problem as it is OAuth only. Closing issue.

[2016-06-30 05:30] #476 closed

[2016-06-30 05:37] bboe opened #619 "PRAW4 To Do List"
This list is intended to be updated over time. Some of these items should be broken up into smaller chunks.

If you would like to work on any of the items or a subset of the items please claim it with a comment. We will try to update the associated item with your name within a 24 hour window. All pull requests should be made against the praw4 branch, and should only introduce a single addition (e.

[2016-07-04 03:40] Qix- opened #621 "Insufficient scope when getting new submissions"
I'm writing a very simple script to `r.get_subreddit('test').get_new(limit=1)` and I'm getting OAuth errors.

Here's the output:

[code]

And the code (after logging in and getting a successful `get_me()` response):

[code]

Am I missing something? This occurs with both the current Pip version as well as testing against the github master/HEAD.

The strange thing is this output:

[code]

It appears

[2016-07-04 04:15] Qix- commented on #621
It appears a workaround is to specify `_use_oauth=False` as a kwarg in the individual calls that do not require the OAuth. This is quite annoying.

[code]

[2016-07-04 05:29] bboe commented on #621
While things may still work using `api.reddit.com` all clients _should_ authenticate via OAuth per reddit's [API rules](https://github.com/reddit/reddit/wiki/API#rules).

I believe that if your client is authenticated, and that it has the `read` scope things should work without the need for `_use_oauth=False`. Is that not the case?

[2016-07-04 09:03] Qix- commented on #621
Does it not automatically have the `read` scope when authenticating?

[2016-07-04 15:59] bboe commented on #621
The `read` scope also has to be requested.

[2016-07-04 18:32] Qix- commented on #621
Gotcha; thanks!

This could be useful information to include in the documentation, as it's not immediately apparent.

[2016-07-04 18:33] #621 closed

[2016-07-05 22:47] 13steinj commented on #582
@Praisebetoscience I don't know about the last case, but the first three cases in the table are a reddit bug. See @reddit/reddit#1633

[2016-07-07 15:15] agwblack commented on #604
Hi there, I would like to see about changing the dependency restrictions to at least allow update_checker 0.12. How can I go about running the tests to ensure that everything still works with this version?

Thanks

[2016-07-07 23:05] bboe commented on #604
@agwblack done in 377860398e322d40b1daf325931fbe520fee0c61.

[2016-07-08 08:36] agwblack commented on #604
@bboe Cheers!

[2016-07-17 05:24] #548 closed

[2016-07-17 17:34] 13steinj opened #627 "The first request made "is not" cached"
I'm unsure if this is intended or just by consequence. I found this while writing up some tests for a Betamax-like package for python's httplib, and I was comparing responses with those from praw for the sake of ease.

I'll split this up into three scenarios:

1. No authentication: The first request "is" cached by the handler, however reddit adds the "__cfduid" (I don't know what this does from a

[2016-07-17 18:19] 13steinj commented on #627
It hasn't caused any problems for me, just noticed that it was a weird occurrence and could be troublesome in extreme cases (ex, writing a script that goes into reddit unauthenticated to view the logged out /new page of a subreddit (step1), authenticating with oauth to get the logged in view (step2), logging out and then rerequesting the page(step3), then when comparing step1 may not be equal to s

[2016-07-17 18:23] bboe commented on #627
Let's not worry about it unless it actually results in a bug for someone. I'm not going to say don't try to fix it, but I think there are higher priority things worth spending time on.

[2016-07-17 18:23] #627 closed

[2016-07-18 03:56] bboe commented on #375
This issue is no longer present in PRAW4: https://github.com/praw-dev/praw/commit/2c5eb485d8387651a33ad7b74f719554d30cc74b

[2016-07-18 03:56] #375 closed

[2016-07-18 04:59] bboe commented on #313
While I'm guessing you wanted more functionality than just create, support for just create (for now) has been added to https://github.com/praw-dev/praw/commit/299243caad692b3d029c6c49c4da108b98f82e0e. Going to close the issue now. Feel free to open another requesting additional features.

[2016-07-18 04:59] #313 closed

[2016-07-20 12:13] VarshaVenkatesh opened #632 "PRAW timestamps returning posts outside of range"
I'm trying to filter posts between two timestamps but I keep getting posts that have timestamps outside of the range (sometimes a year before the timeframe specified).

An example query trying to filter posts between 16 Jun,2016 and 24 Jun,2016

`search_str = '(or title:"brexit" (or title:"referendum") (and timestamp:1466101800..1466726400))'`
`submissions = r.search(search_str,subreddit = 'united

[2016-07-22 23:32] 13steinj commented on #632
@VarshaVenkatesh Can you give an example title and thread id of a post that's out of range? Just trying to see if it's a praw issue or a reddit one.

[2016-07-23 05:16] VarshaVenkatesh commented on #632
A majority of them were out of range. Here's a few:

3jbmyd (Post Id), EU referendum: 'Significant' changes to rules for vote,02/09/2015,11:38

4qsr2q,London house prices slashed after Brexit vote,01/07/2016,22:23

4sm5fx,Post-Brexit doom-mongering could lead to slowdown, warns Wetherspoon boss,13/07/2016,14:16

3wqo7g,EU referendum: Labour peers in new bid for votes at 16,14/12/2015,09:46

As you

[2016-07-24 11:51] timster opened #636 "PRAW does not work with custom SSL cert bundle"
Because of the proxy I'm using, I need to use a custom SSL cert bundle. Normally using the requests library, this is achievable in one of 2 ways:

Explicitly setting `verify` to the path of the bundle:

    requests.get('https://google.com', verify='/path/to/cacert.pem')

Or setting an environment variable so that all requests use it:

    export REQUESTS_CA_BUNDLE='/path/to/cacert.pem'

    reque

[2016-07-24 15:13] bboe commented on #636
Thanks for reporting. We would love it if you could contribute a fix.

That's a bummer. I'm hopefully you can figure something to work. If you can it would be great to make a PR to both master and the PRAW4 branch which have diverged on how this is actually implemented. The change to PRAW4 will likely require also making a PR to praw-dev/prawcore.

[2016-07-25 17:17] timster commented on #636
Sounds good. Just submitted a PR for master. Still seems to be broken on praw4 branch. I will check that out shortly.

[2016-07-25 17:24] timster commented on #636
Actually on second thought, looks like this is fixed in praw4 due to the way it uses the requests library. It was failing because I had unset some environment variables for testing.

[2016-07-28 04:50] roman-ku commented on #413
What's the current status on this? For now I will use @kviktor's hack of doing `c.refresh()` but I was wondering if there is a better way.

[2016-07-28 05:06] 13steinj commented on #413
@roman-ku I have a fix for this ready in my head now that I'm looking at it but my priority is on writing tests at the moment (which in the process I've found some bugs and then skipped writing tests for). After I'm done writing tests for everything that works as expected, I'll fix this and a few more bugs.

[2016-07-28 11:34] cyian-1756 opened #639 "Issues install with pip3"
## Issue Description

When trying to praw with `sudo pip3 install praw` it errors out with

[code]

As far as I can tell this is a setuptools error

## System Information

    PRAW Version: NA
  Python Version: 3.5.1
Operating System: Ubuntu 16.04

[2016-07-28 15:05] bboe commented on #639
PRAW3 requires decorator 4.0.9 and you have 4.0.6 installed. pip will fail in such situations because it's possible that installing 4.0.9 will break other packages you have installed.

Based on this commit (https://github.com/praw-dev/praw/commit/acf871d9444c52d1e5d6e5318b1ae1187b2221cd), it seems that the decorator version could probably be lowered. If you, or anyone else wants to try lowering th

[2016-07-28 15:08] bboe commented on #636
Resolved by #637.

[2016-07-28 15:08] #636 closed

[2016-07-28 21:07] #639 closed

[2016-07-29 03:15] roman-ku commented on #413
Sounds good, I'll keep an eye out.

What do you suggest I do now? `c.refresh()` works. But is very slow. It turns a 3.5 sec script into a 146.5 second script. And all I need to know is how much replies does each comment have.

Can you expand on this? So I have the comment permalink. How do I go about passing that through the JSON objector?

[2016-07-29 21:54] d-schmidt opened #641 "decorator signature error using version >=3.4.0 on my Pi (Py3.2)"
## Issue Description
I went back to 3.3.0 now as I can not find anything about problems using new versions. Might my problem be related to python 3.2?

[code]
The new error:
[code]
lines are the same on praw 3.5.0

I uninstalled all dependencies and force installed 3.30 and it is working again.

## System Information

PRAW Version: 3.4 and 3.5
Python Version: 3.2
Operating System:
pi@raspberrypi ~

[2016-07-29 22:02] bboe commented on #641
Python 3.2 isn't an officially supported version anymore. Requests dropped support for it, and so has PRAW. https://github.com/kennethreitz/requests/pull/1326

It seems unrelated, but it's possible we're taking advantage of python 3.3+ features in the newer version of PRAWs. If PRAW3.3 works, then I say you should probably stick with that.

I'm going to close the issue due to the unsupported versi

[2016-07-29 22:02] #641 closed

[2016-08-03 01:35] blin17 opened #650 "Required configuration setting 'client_id' missing"
## Issue Description
Hi,

I'm new to praw so I was trying to follow the documentation.
http://praw.readthedocs.io/en/stable/pages/getting_started.html#connecting-to-reddit

I've installed everything up to this point but I cannot get past this exception. I think it has something to do with OAuth, but the walkthrough guide does not mention it.

My code:
[code]
Error:
[code]

## System Information
PR

[2016-08-03 01:39] 13steinj commented on #650
You are using the PRAW4 beta, but your syntax (and the documentation)
stands with PRAW3.

On Tuesday, August 2, 2016, Brian Lin <notifications@github.com> wrote:

[2016-08-03 01:42] blin17 commented on #650
@13steinj Thank you so much! Just uninstalled and installed praw 3.5 and it works.

[2016-08-03 01:42] #650 closed

[2016-08-03 03:30] bboe commented on #650
You can also follow these directions for PRAW4: http://praw.readthedocs.io/en/praw4/

[2016-08-20 13:13] nmtake opened #658 "Reddit._core._authorizer is set to an prawcore.auth.ScriptAuthorizer instance when password is not given"
## Issue Description

To reproduce:

[code]

Since ScriptAuthorizer manages password grant flow which requires username and password,  I think this behavior is not correct.

## System Information

* PRAW Version: latest comimit b7b03fc
* Python Version: 2.7.12
* Operating System: Mac OS X 10.11.6

[2016-08-20 22:50] rasher opened #659 "praw4.0.0b14 released as stable on PyPI"
It seems an incomplete/beta version of praw was accidentally published/released on PyPI. This means that people who install or upgrade praw using `pip install praw` will get that version, which doesn't seem like the right thing to do at the moment.

[2016-08-21 00:14] bboe commented on #659
[code]

That doesn't appear to be the case.

[2016-08-21 00:14] #659 closed

[2016-08-24 05:48] bboe commented on #658
Thanks for filing. Looking into it.

[2016-08-24 06:33] #658 closed

[2016-08-24 06:34] bboe commented on #658
This particular issue should be resolved in https://github.com/praw-dev/praw/commit/993b3aa03305253c88893f94f74bf958095d2545. Please reopen if not.

[2016-08-25 14:21] zhifuge commented on #619
Hello bboe, may I work on the "Fresh documentation" item, please?

[2016-08-25 14:33] bboe commented on #619
@zhifuge, yes please do. Whatever you think would help to make things easier would be very appreciated. If you have questions you can ask here or on the gitter chat: https://gitter.im/praw-dev/praw

[2016-08-25 19:31] flokli commented on #610
@bboe, I opened a pull request at #663 which should implement it as described in your comments to 209b6e5. Also moved `update_checker` into `extra_require` in `setup.py` and changed tests for both cases.

/cc @rasjani

[2016-08-25 20:31] DCuddies commented on #619
Hi zhifuge, Bryce and I came up with a brief proposal previously (see here: https://docs.google.com/document/d/1DmrMsjPrg2qFkC199AczAEvWNZg-Kpq9SS4LoJEjl44/edit?usp=sharing).

Feel free to claim any sections here or just put your name in brackets on the doc.

[2016-08-25 22:13] zhifuge commented on #619
Hi @DCuddies, I will start with the QuickStart (Getting Started) section.

[2016-08-25 22:31] DCuddies commented on #619
@zhifuge

Just to clarify a few things.

The reply bot tutorial (https://github.com/praw-dev/praw/blob/praw4/docs/pages/reply_bot.rst) is going to make up the bulk of the getting started section, just because it encompasses most basic praw uses.

However, it'll need to be reformatted, and should include the other things mentioned in the Google Doc above (requirements, etc.) for a final version. So

[2016-08-25 23:02] zhifuge commented on #619
@DCuddies

Yep! I will try my best. Thanks for the help!

[2016-08-25 23:49] bboe commented on #610
@rasjani Thanks to @flokli, PRAW's code now can handle a missing update_checker package. Does that satisfy your request? If so, please close the issue.

[2016-08-29 07:13] #610 closed

[2016-09-01 16:42] Zetaphor opened #668 "PRAW4 - 403 on login with LMGTFY Bot Example"
## Issue Description

When I attempt to run the LMGTFY example bot from [the docs](https://praw.readthedocs.io/en/praw4/pages/reply_bot.html), I'm getting a 403 Forbidden.

## Stack Trace

    Traceback (most recent call last):
      File "test.py", line 37, in <module>
        main()
      File "test.py", line 15, in main
        for submission in subreddit.stream.submissions():
      File "/usr/

[2016-09-01 17:01] bboe commented on #668
Can you confirm (1) that your oauth credentials are for a "script" type application, and (2) that you have actually typed your username and password in correctly?

[2016-09-01 17:16] Zetaphor commented on #668
Verified the app type is "personal use script". Hand typed my user/pass again and copy-pasted to reddit to confirm login. Copy-pasted client ID and secret again. Error still occurs.

[2016-09-01 17:20] Zetaphor commented on #668
Just tested by using the user/pass from my main (much older account with karma) and client ID/secret from an app created under that account. Same error occurs.

[2016-09-01 18:11] bboe commented on #668
Can you confirm that it is a "script" app? Not a "web" app. It should say "personal use script" when you view the app at  https://www.reddit.com/prefs/apps/

[2016-09-01 18:26] Zetaphor commented on #668
As I said in a previous comment, I have confirmed that it is a "personal use script"

Could this have anything to do with the OAuth token? I'm not currently using the praw-oauth2-util package, I'm just following the instructions on the guide

[2016-09-01 18:54] bboe commented on #668
There's no need for praw-oauth2-util with PRAW4 (or the script auth). Could you look at the exception object to see if it provides any more information?

Try something like:

[code]

At least I think that should work, and return whatever its output is.

[2016-09-01 19:05] Zetaphor commented on #668
Running this:

    import praw
    import pprint

    reddit = praw.Reddit(user_agent='Let Me Google That For You By /u/Zetaphor',
                         client_id='My Client ID', client_secret="My Client Secret",
                         username='My Username', password='My Password')

    try:
        reddit.user.me()
    except Exception as exc:
        pprint.pprint(vars(exc))

Yields this:

[2016-09-01 19:07] Zetaphor commented on #668
I should add that I'm able to run PRAW3 and the demos provided on the docs without issue.

[2016-09-01 19:09] bboe commented on #668
Can you modify to:

    pprint.pprint(vars(exc.response))

[2016-09-01 19:16] Zetaphor commented on #668
{'_content': '<html><body><h1>403 Forbidden</h1>\nRequest forbidden by administrative rules.\n</body></html>\n',
     '_content_consumed': True,
     'connection': <requests.adapters.HTTPAdapter object at 0x7fe46e571c50>,
     'cookies': <RequestsCookieJar[]>,
     'elapsed': datetime.timedelta(0, 0, 345439),
     'encoding': 'ISO-8859-1',
     'headers': {'X-Content-Type-Options': 'nosniff', 'Con

[2016-09-01 20:56] bboe commented on #668
Can we try a little deeper?

    pprint.pprint(exc.response.json())

Hopefully there is something useful in that output. If not, back to square one.

Also, this may sound silly but you are replacing the `My ...` with the actual values, and not leaving in those strings, right?

[2016-09-01 21:04] Zetaphor commented on #668
Traceback (most recent call last):
      File "new_test.py", line 11, in <module>
        pprint.pprint(exc.response.json())
      File "/usr/lib/python2.7/dist-packages/requests/models.py", line 808, in json
        return complexjson.loads(self.text, **kwargs)
      File "/usr/lib/python2.7/json/__init__.py", line 339, in loads
        return _default_decoder.decode(s)
      File "/usr/lib/pytho

[2016-09-01 21:57] bboe commented on #668
Can you add this to the top of your script?

    from logging import basicConfig, DEBUG
    basicConfig(level=DEBUG)

If you paste the information in, I suggest removing the bearer part:

    DEBUG:prawcore:Headers: {'Authorization': 'bearer BLAHBLAHBLAH'}

If that doesn't provide anything useful, do you have another IP address you can try from? I double verified myself that things still work as e

[2016-09-03 06:05] Zetaphor commented on #668
INFO:requests.packages.urllib3.connectionpool:Starting new HTTP connection (1): update_checker.bryceboe.com
    DEBUG:requests.packages.urllib3.connectionpool:"PUT /check HTTP/1.1" 200 108
    INFO:requests.packages.urllib3.connectionpool:Starting new HTTPS connection (1): www.reddit.com
    DEBUG:requests.packages.urllib3.connectionpool:"POST /api/v1/access_token HTTP/1.1" 200 None
    DEBUG:praw

[2016-09-03 19:49] bboe commented on #668
Unfortunately, I really don't know what to tell you. We'll have to keep this issue open for now.

[2016-09-24 22:23] bboe commented on #668
@Zetaphor do you have any new information to add to this issue? Thus far, it doesn't appear to affect anyone else, and I am unable to reproduce the issue. If you're up for it, it would be great if you can attempt to figure out what's different between the requests made using PRAW3 and PRAW4 and pinpoint what is causing the problem. In the mean time I'm going to close the issue since there is nothi

[2016-09-24 22:23] #668 closed

[2016-09-24 22:39] bboe commented on #632
@VarshaVenkatesh I believe your search syntax is off.

Here's a URL I used to perform a similar search:

https://www.reddit.com/r/unitedkingdom/search?q=(and+timestamp:1466101800..1466110000+(or%20title:'referendum'%20title:'brexit'))&restrict_sr=on&sort=relevance&t=all&syntax=cloudsearch

The query as a string is:

    (and timestamp:1466101800..1466110000 (or title:'referendum' title:'brexit'))

[2016-09-24 22:39] #632 closed

[2016-09-26 12:37] Zetaphor commented on #668
No further information yet, but I definitely want to dig into what specifically in my config is causing this issue.

[2016-10-07 07:23] bboe commented on #613
Closing due to lack of follow up. Please reopen if the problem persists and there is more information to add.

[2016-10-07 07:23] #613 closed

[2016-10-07 07:33] bboe commented on #605
@nhantrn did you make any progress on this? Please reopen if necessary.

[2016-10-07 07:33] #605 closed

[2016-10-17 20:29] monajalal opened #672 "praw API downloads a limited number of images from reddit"
I am using PRAW API for downloading images and their related comments from the submissions that have images. Can you please point as why I get very limited number of images from the following code? I know I have lots of limitations posed here but I was expecting lots of images to get downloaded. If this is something opposed the reddit, I wonder if you would suggest other methods for downloading re

[2016-10-18 00:06] svenstucki commented on #501
What's the status of this issue?

I have a probably related issue with PRAW 4. When using `subreddit('all').stream.submissions()` I get a lot of duplicate entries (e.g. I just got 16k submissions of which 14k were duplicates in about 9 mins).

[2016-10-18 05:15] bboe commented on #501
PRAW4 stream is done completely differently, and as a result this issue will likely be closed when PRAW4 is out of beta.

If you are having issues with PRAW4's please open a new issue and include the code that you are using. The stream _should_ never return any duplicates unless you are calling the stream function more than once, in which case I would recommend not doing so, as you'll get some dup

[2016-10-18 05:21] bboe commented on #672
Hi. We appreciate your interest in using PRAW. This issue tracker is meant for bugs with the PRAW package. There is simply too much code to tell if the issue might be with PRAW or within your code. If you suspect, that after simplifying your code (removing anything non-praw related), and verifying that it isn't an issue in the API itself, then please feel free to reopen this issue with the additio

[2016-10-18 05:21] #672 closed

[2016-10-18 13:10] svenstucki opened #673 "PRAW4: Duplicate entries from subreddit().stream.submissions()"
## Issue Description

When using `subreddit('all').stream.submissions()` to iterate over and wait for new submissions, I get a lot of duplicates. Sometimes after only a few seconds (<10), but always after a few minutes.

Test code:

[code]

Sample output is available here: http://pastebin.com/yZUAMJN1
I've tried to insert newlines whenever there was a short pause. The last block in particular cont

[2016-10-18 14:40] bboe commented on #673
Thanks. This would appear to be a bug. I'll look into it.

[2016-10-18 15:02] bboe commented on #673
Should be fixed in https://github.com/praw-dev/praw/commit/8bef2e966888015acd08bfaf7c381ed448f73d1a. Assuming all the tests pass, I'll push a new version. Thanks for the report!

[2016-10-18 15:20] bboe commented on #673
Released 4.0.0b21. Please reopen if you experience further issues. I observed a lack of duplicates (0 out of 1200+) with the 250 value, so it should be good.

[2016-10-18 21:20] svenstucki commented on #673
Thanks for looking into it so quickly.

I've updated to b21, unfortunately the same problem persists for me. I'm seeing duplicates after 7s/10s/42s in my trials. I can't reopen the issue myself.

What's the easiest way to use PRAW4 from source? Is it enough to clone and then point PYTHONPATH to it?

[2016-10-18 22:29] bboe commented on #673
Reopened. `pip install --upgrade https://github.com/praw-dev/praw/archive/praw4.zip`

[2016-11-04 05:36] jungsosh opened #674 "Reddit.Subreddit.Submissions is not working"
## Issue Description

I am unable to get Reddit.Subreddit.Submissions() to work properly

Example code:
[code]
No submissions are returned. Everything functions properly if I try something like `r.subreddit("pics").hot()`. Perhaps I'm mistaken in assuming it acts exactly like `praw.helper.submissions_between()` ?
## System Information

PRAW Version: praw-4.0.0b21
 Python Version: 3.5.2
Operating S

[2016-11-04 05:57] bboe commented on #674
Looks like PRAW should enforce those attributes are integers. Try doing `now = int(time.time())`.

[2016-11-04 06:00] bboe commented on #674
Fixed in https://github.com/praw-dev/praw/commit/59cc4a05d7d46b5affc97534bebc565876b517fb.

[2016-11-04 06:00] #674 closed

[2016-11-05 12:05] Dowwie opened #675 "flatten_tree is missing from the api"
## Issue Description

flatten_tree is missing from praw:

AttributeError: module 'praw' has no attribute 'helpers'

## System Information

    PRAW Version:  latest
  Python Version:  3.5.2
Operating System:  debian

[2016-11-05 12:12] #675 closed

[2016-11-13 06:13] bboe commented on #508
Resolved in PRAW4.

[2016-11-13 06:13] #508 closed

[2016-11-13 19:05] bboe commented on #376
Added in 6f6fa40ec830edf5e193baa9b02de93f95fce9f3.

[2016-11-13 19:05] #376 closed

[2016-11-13 19:08] bboe commented on #420
I believe this problem no longer exists in PRAW4. Feel free to reopen, if it does, however.

[2016-11-13 19:08] #420 closed

[2016-11-13 19:10] bboe commented on #422
Closing this issue. If it's still a problem, please reopen.

[2016-11-13 19:10] #422 closed

[2016-11-13 19:10] bboe commented on #473
Closing due to no update. If this is still an issue, please feel free to reopen.

[2016-11-13 19:10] #473 closed

[2016-11-13 19:11] bboe commented on #501
Closing this issue as this should be fixed in PRAW4.

[2016-11-13 19:11] #501 closed

[2016-11-13 19:13] bboe commented on #519
Closing this issue as there's more information in #535.

[2016-11-13 19:13] #519 closed

[2016-11-13 19:17] bboe commented on #544
I'm going to close this issue as I don't want to increase PRAW's complexity for such a feature. Reddit's source should be updated to return an exception in such a case at which point PRAW should automatically raise an appropriate APIException.

[2016-11-13 19:17] #544 closed

[2016-11-13 19:19] bboe commented on #545
PRAW4 only supports OAuth and it's equivalent function, `replace_more` works fine there. Closing issue.

[2016-11-13 19:19] #545 closed

[2016-11-14 01:36] bboe commented on #555
This is only a problem with the stable doc and it appears that no changes on praw's end can fix it. Annoying.

[2016-11-14 01:36] #555 closed

[2016-11-14 03:33] bboe commented on #577
This appears to not be an issue in PRAW4:

    reddit.subreddit('arrow?').created_utc

Results in:

    AttributeError: 'Subreddit' object has no attribute 'created_utc'

[2016-11-14 03:33] #577 closed

[2016-11-14 03:38] bboe commented on #582
Closing as this is a Reddit bug and there is a workaround.

[2016-11-14 03:38] #582 closed

[2016-11-14 03:49] bboe commented on #497
I cannot reproduce in PRAW4 which only supports OAuth.

[code]

Closing issue.

[2016-11-14 03:49] #497 closed

[2016-11-14 03:52] bboe commented on #401
Closing due to inactivity. @voussoir have you seen this problem at all in PRAW4?

[2016-11-14 03:52] #401 closed

[2016-11-14 03:55] bboe commented on #604
Closing due to inactivity. Feel free to open a PR with older dependencies listed.

[2016-11-14 03:55] #604 closed

[2016-11-14 03:57] bboe commented on #592
Captcha support is gone in PRAW4 as well as all these decorators. As a result I am going to close this issue. However, if this problem shows up in PRAW4, please reopen.

[2016-11-14 03:57] #592 closed

[2016-11-14 04:26] bboe commented on #585
Added in f7358813586b5da72c3b5cdd248b0a20ca87ae01.

[2016-11-14 04:26] #585 closed

[2016-11-14 04:41] bboe commented on #580
In PRAW4 with identity and submit scope:

[code]

Raises:

    InsufficientScope: received 403 HTTP response

Please open a new issue for each unique specific instance where exceptions are hidden.

[2016-11-14 04:41] #580 closed

[2016-11-14 05:50] bboe commented on #579
PRAW4 permits creation of Live threads: http://praw.readthedocs.io/en/praw4/pages/code_overview.html#praw.models.LiveHelper.create

Please reopen/update if you'd like to see other features. PRAW won't support streaming from live threads, however, as that requires websocket support.

[2016-11-14 05:50] #579 closed

[2016-11-14 05:53] bboe commented on #526
Closing issue as the feature appears to be retired: https://github.com/reddit/reddit/commit/4ef212de9f0ab1a1af796e0df6bfe548e9838887

[2016-11-14 05:53] #526 closed

[2016-11-14 06:04] bboe commented on #535
PRAW4 raises a ClientException when attempting to refresh a comment that has been deleted:
https://github.com/praw-dev/praw/blob/2804602f751f61bb76181907768e1807e65e53a6/tests/integration/models/reddit/test_comment.py#L103

I think that should solve this issue.

[2016-11-14 06:04] #535 closed

[2016-11-14 06:08] bboe commented on #391
@michael-lazar I thought about modifying the return value for the `More` objects to return a forest rather than a flat list. However, I'd prefer to keep the structure of the return similar to how Reddit returns the values. You should be able to build any such tree in your own code.

[2016-11-14 06:08] #391 closed

[2016-11-14 07:28] bboe commented on #566
Added to PRAW4: https://github.com/praw-dev/praw/compare/f7358813586b5da72c3b5cdd248b0a20ca87ae01...ed5563149ce3db24b42c64cca28b2d14bc747c0f

[2016-11-14 07:28] #566 closed

[2016-11-14 17:11] michael-lazar commented on #391
Here's what I did in case anyone else comes across this issue. https://github.com/michael-lazar/rtv/blob/58f58f816736b18cd2985c39e38b052cd663e645/rtv/content.py#L49

[2016-11-15 05:27] bboe commented on #673
Is this still a problem for you? Can you confirm that you're running at least b21? I just ran and got:

    Got 1075 submissions (0 duplicate ids).

[2016-11-15 07:46] svenstucki commented on #673
Can you keep it open for another 10 days or so? I believe I still got issues, even after the update. I'm currently away for a short holiday though.

On 15 November 2016 06:27:17 CET, Bryce Boe <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-11-15 07:47] bboe commented on #673
Sure thing.

[2016-11-15 20:49] methodds commented on #579
Is there a way to access already generated content of a live thread without streaming? I'm just looking for a one time possibility to get all content from a live-stream  until a given time point

[2016-11-16 05:06] bboe commented on #579
@methodds it looks like that should be feasible. https://www.reddit.com/dev/api#GET_live_{thread} Could you file a new issue requesting that feature?

[2016-11-16 18:30] methodds commented on #579
Tbh I dont think my coding skills are sufficient, but I'll file the issue now. Thanks :)

[2016-11-16 18:33] methodds opened #676 "Wishlist: Implementing reddit live access"
Hi,

it would be nice to implement a way to access content from a live thread between, e.g. all content created between two timestamps.
Getting a list of updates for live threads is documented [here](https://www.reddit.com/dev/api#GET_live_{thread}).

[2016-11-16 19:23] methodds commented on #401
I have a similar problem when trying to get all comments and replies recursively. I used this code (copied from [here](http://stackoverflow.com/questions/36962878/getting-child-comments-of-a-comment-on-reddit-with-praw-in-python)) to go through all comments of a submission and store content in a dictionary:
[code]
This resulted in the following error:

[code]

[2016-11-16 22:35] bboe commented on #401
@methodds does this problem exist in PRAW4? If it does can you file a new issue? `praw/objects.py` indicates you're using PRAW<4. It's not likely this issue will be resolved in PRAW<4.

[2016-11-16 22:46] methodds commented on #401
Thanks for the hint. I just checked and indeed have PRAW 3.6 installed. I will update, test again and file a issue in case it still appears.

[2016-11-17 05:50] bboe commented on #676
Thanks for filing @methodds. For your information my focus will be on getting PRAW4 feature complete with PRAW 3.4 in order to release it -- I'm nearly there, and anticipate a release in early January.

Anyone reading this who would like to attempt to implement this feature request, take a look here:
https://github.com/praw-dev/praw/blob/84744f23a4bf133696cfa3f6625ef30799212222/praw/models/reddit/

[2016-11-17 13:15] nmtake commented on #676
I'm trying to implement reddit ilve features to PRAW4. If possible, I'll post a prototype here in a few days.

[2016-11-18 15:19] l3d00m opened #677 "400 Bad Request on access token refresh"
## Issue Description
 If I try to refresh the access token using:

[code]

I get an 400 Bad Request. Stacktrace:

[code]

The same code worked a month ago like a charm, I have no idea why this is happening. (I only generated a new access token using [this method](https://github.com/l3d00m/TwitterToReddit/blob/master/README.md)). Thanks for your help!

## System Information

    PRAW Version: 3.6.0

[2016-11-18 15:22] #677 closed

[2016-11-18 15:23] l3d00m commented on #677
Nevermind, I'm an idot. Sorry for the confusion. I forgot to do:

     access_information = r.get_access_information('code')

[2016-11-20 09:37] nmtake commented on #676
Here is my attempt as a progress report:  nmtake/praw@e147a37

Usage:

[code]

If the commit is on a right track, I'll split the commit, add docstrings and tests, then send multiple PR.  I'd appriciatee any suggestions.

[2016-11-20 17:32] bboe commented on #676
@nmtake that looks like a great start.

To make things easier, can you split into pull requests that addresses only a single new API endpoint? That way I can work with you on the complete end-to-end delivery, including tests and changelog update, for each action. I'd suggest we work on getting one completely in before making additional PRs just incase there is a bit of refactoring to do with that

[2016-11-20 19:19] 13steinj commented on #676
@bboe side note, before you had said that PRAW would not support streaming from live threads, but is that a final decision? I can understand not wanting it to be part of the main package, but what about as a an extra (`pip install praw -e reddit-live_streaming` with the dependancy being https://github.com/liris/websocket-client/)?

[2016-11-20 19:48] bboe commented on #676
The `praw` package should not support it. Rather than an addon adding complexity to this project, I would prefer a separate package. A `praw-live` package would be awesome.

With that PRAW should not depend on such a package, but its documentation could contain a reference to the other package.

Is that something you'd like to work on and maintain? If so, I can create the repo and give you access

[2016-11-20 23:52] #619 closed

[2016-11-25 14:26] svenstucki commented on #673
I've updated from b21 to rc2. No duplicates in the first 1.5k submissions / 10 minutes. Looks good, nice work. Running a longer test now, will report back if there are any problems.

[2016-11-25 15:13] svenstucki commented on #673
Unfortunately there problem still occurs. It seems very random though, I got duplicates once after only 8 minutes, then only after 25 mins in my latest run:

[code]

Will investigate further.

[2016-11-25 16:13] bboe commented on #673
Thanks for reporting back. I suspect the duplicate problem likely occurs when items are approved after being in the spam queue.

Could you try locally increasing the size of `seen_fullnames` to something like 2048 and see if you get better results that way?

https://github.com/praw-dev/praw/commit/8bef2e966888015acd08bfaf7c381ed448f73d1a

[2016-12-03 07:50] Vatyx opened #681 ""invalid css" when using SubredditStylesheet.update with minified CSS"
## Issue Description

I've been trying to create a script that can automatically update the subreddit CSS after minifying it but it seems that it thinks minified CSS is invalid and won't upload it. I'm not sure what the issue is

[code]

## System Information

    PRAW Version: 4.0.0
  Python Version: 2.7
Operating System: Windows

[2016-12-03 08:22] bboe commented on #681
Does the minified CSS work when saving directly to Reddit?

[2016-12-03 09:21] Vatyx commented on #681
Yes it does.

On Sat, Dec 3, 2016 at 2:22 AM, Bryce Boe <notifications@github.com> wrote:

[2016-12-03 19:47] bboe commented on #681
I see that you responded via email. I had edited my previous comment. Can you provide some examples as I've asked for? What exception are you getting?

[2016-12-03 20:06] bboe commented on #673
Any update @svenstucki?

[2016-12-03 21:53] Vatyx commented on #681
Ah so it seems like even the normal CSS doesn't work, when the normal CSS does work on the subreddit. The error I am getting is praw.exceptions.APIException: BAD_CSS: 'invalid css' on field 'stylesheet_contents'

[2016-12-04 00:12] bboe commented on #681
Can you please provide as simple as possible example of CSS that doesn't work in PRAW but works through the website? BAD_CSS indicates that Reddit's end is rejecting it, so maybe it's a problem with how you're putting it into python.

[2016-12-04 20:35] bboe opened #684 "Comments from mentions cannot be refreshed"
## Issue Description

[code]

https://www.reddit.com/r/redditdev/comments/5ggfz7/praw4_getting_the_submission_a_comment_is_from/das7edu/?context=3

This also just affects comments in the inbox in general.

[2016-12-06 01:41] svenstucki commented on #673
So 350 and 301 worked pretty good for me, but not 300.

Will probably have to do some long(er) term tests to confirm, it's pretty random. But now I know where to look, thanks.

Btw. you could use the builtin [`collections.deque`](https://docs.python.org/3/library/collections.html#collections.deque) instead of your custom `BoundedSet` as a drop-in replacement. Incidentally I've had this workaround

[2016-12-06 06:07] bboe commented on #673
I'll change the value to 301 for now. Could you do some extended tests with that and see if you have any luck?

Thanks for the pointer to the deque. I wasn't aware that it has a built-in bounds and I probably wouldn't have written the bounded set had I know that. The BoundedSet provides constant performance O(1) for all the operations its used for, whereas the deque is O(n) when checking for items

[2016-12-06 06:11] bboe commented on #673
301 set as the value in 5184c82231d67ecb56d782ca5b0eccb0396329e4.

[2016-12-06 08:32] bboe commented on #681
Any response to my questions @Vatyx?

[2016-12-10 03:42] bboe opened #686 "Properly Locate Submission/Comment moderation functions"
This involves deprecating existing `subreddit.mod` functions as they don't really belong there.

See:

* https://www.reddit.com/r/redditdev/comments/5h2u5t/how_do_i_sticky_and_distinguish_comments_with/
* https://www.reddit.com/r/redditdev/comments/5h2r1c/why_are_submission_moderation_tools_split_between/

[2016-12-13 01:32] svenstucki commented on #673
Ah yes, I didn't consider the performance. The difference is quite big, I wouldn't have expected that with that few items.

I've never seen any problems with 301, even after multiple hours of running it. However there's a small problem, I always get a `RequestException` after some time (1-3h).

`prawcore.exceptions.RequestException: error with request HTTPSConnectionPool(host='oauth.reddit.com', p

[2016-12-13 05:35] bboe commented on #673
Thanks for the follow-up. 301 seems like the magic number.

Regarding the RequestException, there isn't a whole lot that PRAW can do about network exceptions other than naïve retries. To prevent infinite retries, however, it has to give up after some time (currently three tries). With respect to timeouts, here was a conversation on /r/redditdev today about just that: https://www.reddit.com/r/reddi

[2016-12-13 05:35] #673 closed

[2016-12-13 13:26] svenstucki commented on #673
Yes, I agree. Thanks for fixing it.

It's probably a good idea to re-evaluate if you change any timeouts though. I would've expected that there are tons of bots that would be affected by this...

[2016-12-13 15:26] bboe commented on #673
Definitely, though I consider it a bug if it's taking over 30 seconds to handle a request as that is going to negatively affect the stream features.

[2016-12-13 15:30] bboe commented on #681
Closing due to inactivity. @Vatyx feel free to reopen along with the requested examples.

[2016-12-13 15:30] #681 closed

[2016-12-16 08:05] #684 closed

[2016-12-18 21:53] bboe commented on #500
Added `Comment.parent` in the following commits:

* https://github.com/praw-dev/praw/commit/5defb3d793dd53129d364c0dd75ab3c9b50c7be2
* https://github.com/praw-dev/praw/commit/0b0d2d790f452079b64f8831c1a0ee7382366399

[2016-12-18 21:53] #500 closed

[2016-12-18 21:56] bboe commented on #686
Done in:

* 0f2dd9085e798c2a328986d5f2676396e025ecf1
* a90b7a2ec07bfaf1f6dd1b8b06e0c338792fbca8

[2016-12-18 21:56] #686 closed

[2016-12-18 22:01] bboe commented on #511
I believe that this is no longer an issue in PRAW4 as `reddit.submission(url=...)` should ignore the comment portion of the submission.

[2016-12-18 22:01] #511 closed

[2016-12-18 23:46] bboe commented on #556
Added in e969ee97c00392ab73ed2f3ab186db10ec0e274f.

[2016-12-18 23:46] #556 closed

[2016-12-19 07:35] bboe commented on #609
Added in https://github.com/praw-dev/praw/commit/1e0e6684b7f3383d41123319a243402fa87aec2d.

Please let me know if you experience any issues with this update as it's the biggest change since the PRAW 4.0.0 release.

[2016-12-19 07:35] #609 closed

[2016-12-19 16:21] bboe opened #693 "Make Subreddit.flair callable"
SubredditFlair instances should be callable so that single Redditors can be passed in, as well as other parameters such as limit.

This change should be similar to: https://github.com/praw-dev/praw/commit/483be01730ed3b37e2dae3fd8fb7bb137729cb10

See: https://www.reddit.com/r/redditdev/comments/5j5ypc/praw4_attributeerror_subreddit_object_has_no/dbdufv1/?context=3

[2016-12-22 00:27] #693 closed

[2016-12-23 06:57] diceroll123 opened #697 "(Some of) Submission moderation broken"
## Issue Description

    print(submission.mod.sticky) # in the SubmissionModeration class
    print(submission.mod.remove) # NOT in the SubmissionModeration class

It's my understanding that overriding `ThingModerationMixin` (https://github.com/praw-dev/praw/blob/master/praw/models/reddit/mixins/__init__.py) in `SubmissionModeration` (https://github.com/praw-dev/praw/blob/master/praw/models/reddi

[2016-12-23 07:10] diceroll123 commented on #697
I got around this by doing

    subreddit = r.subreddit('<mysub>')
    subreddit.mod.remove(submission) # but it's deprecated, as the code states...

But for now it works!

[2016-12-23 15:28] bboe commented on #697
Hi @diceroll123. Are you on the latest development release? The default documentation page is for such a version, which while it can be confusing for times like this, shows people the way things _should_ be done.

If you look at the "Unreleased" section of the changelog you'll note that this deprecation is in that section, which means it does not yet have an official release. I will likely release

[2016-12-23 15:28] #697 closed

[2016-12-23 20:16] diceroll123 commented on #697
Perfect! I was on the latest build, *my bad!* Thanks! 👍

[2016-12-28 04:47] leviroth opened #698 "Make CommentForest iterable"
I'm wondering if it would be a good idea to add an `__iter__` method to `CommentForest`. This would probably deprecate the `list` method in favor of the Python built-in function of the same name, and in fact it could (if I'm not mistaken) work about the same as that method, except that it would yield comments as they're popped from the queue instead of returning a whole list.

[2016-12-28 05:23] bboe commented on #698
The reason for the `list` method is that Comment forests are already iterable, but they are not an iterator. So you can do:

for top_level_comment in submission.comments:
    print(top_level_comment)

You cannot, however, do `next(submission.comments)` just like you cannot do that with a list (`next([1, 2])`). But because it's list-like you can get a specific index `submission.comments[0]`. Defini

[2016-12-28 05:23] #698 closed

[2016-12-28 07:26] bboe opened #699 "Add `Subreddit.rules`"
See https://github.com/praw-dev/praw/pull/612 for the PRAW 3.6 addition.

@leviroth any chance you want to re-add this for PRAW4?

[2016-12-28 07:33] bboe opened #700 "Add `other_submissions` parameter to `hide` and `unhide`"
The `hide` and `unhide` endpoints support a comma-separated list of submissions to (un)hide. This support was added in PRAW3.5 after PRAW4 work began.

To support batch (un)hiding, the existing methods should take a `other_submissions` parameter, similar to how `subscribe` has an `other_subreddits` parameter:

https://github.com/praw-dev/praw/commit/4522ddfa6f550e31b9e46ba60cf4855a756fdcd6

[2016-12-28 12:34] kittsville opened #701 "Where did json_dict go?"
I was wondering where the property `json_dict` of Reddit objects went? I can't seem to find any other way of retrieving the original JSON object returned by Reddit.

I've found many references to the property in past on [this repo](https://github.com/praw-dev/praw/search?q=json_dict&type=Issues&utf8=%E2%9C%93) and [StackOverflow](http://stackoverflow.com/a/24749142/3565450) but not what it was ren

[2016-12-28 15:08] bboe commented on #701
Hi, you're the first to ask about it. It's not currently available. Can you help me understand what your use case is having it? It's probably something we could add back, I just want to understand the reasoning for it.

[2016-12-28 17:41] kittsville commented on #701
Hi,

Sure! I'm currently making [Pyroon](/kittsville/pyroon/), a script which converts [switch-a-roos](https://www.reddit.com/r/switcharoo/) into an [interactive graph](http://pyroon.sci1.uk/). The back-end can parse switch-a-roo chains and either save them or export them as Cytoscape.js formatted JSON. The front-end loads the formatted JSON and displays the graph.

`json_dict` would be used to sa

[2016-12-28 18:00] bboe commented on #701
Would using the pickle support PRAW has be a suitable alternative?

Here's an example: https://github.com/praw-dev/praw/blob/3002fe9730c1194c8183d492d318d079094ca618/tests/unit/models/reddit/test_comment.py#L48

[2016-12-28 18:29] kittsville commented on #701
I probably should have mentioned* I was also hoping to access the whole Reddit response from the front-end, to display information about roo comments when they're clicked on. While serialising the comment via pickle would probably be the best solution for the back-end it wouldn't be readable by the front.

I could always just write a helper for Pyroon to copy the 10 or so properties into a dict, s

[2016-12-28 19:23] bboe commented on #701
If you can manually json serialize just the properties you want I'd prefer that to exposing the underlying response for simplicity on PRAW's end. Please let me know if that's suitable.

[2016-12-28 20:33] kittsville commented on #701
That'd probably be best. I mostly didn't want to reinvent the wheel if the json_dict property still existed, just under a different name.

Plus it'll make the code more explicit, which is always a plus.

[2016-12-28 21:33] bboe commented on #701
Great. I'm going to close this issue for now. Thanks for bringing it up.

[2016-12-28 21:33] #701 closed

[2016-12-29 00:50] StefanOosten opened #702 "Turning script into exe using PyInstaller does not work"
## Issue Description

I'm trying to turn a script I made into an exe using PyInstaller (Which works running the .py) But I get the following error running the .exe.

Traceback (most recent call last):
  File "myprogram.py", line 14, in <module>
  File "site-packages\praw\reddit.py", line 105, in __init__
  File "site-packages\praw\config.py", line 70, in __init__
  File "site-packages\praw\config.

[2016-12-29 01:07] leviroth commented on #699
Funny, I had just noticed that wasn't in PRAW4. Would be glad to do that.

[2016-12-29 01:14] leviroth opened #703 "Add support for new modmail"
The API for the new modmail [is now documented](https://www.reddit.com/dev/api/#section_modmail), so that's a feature that would be pretty nice to have.

[2016-12-29 01:16] bboe commented on #702
It seems like the default `praw.ini` file isn't making it into or loading into your executable. You're going to have to dig into why that is.

While you're at it, as per licensing, you need to ensure that PRAW's license is available with the binary andas per:

[2016-12-29 01:19] bboe commented on #703
Yes definitely. If anyone wants to tackle it please break each endpoint into its own pull request and start with a single one so that much of the design review need only take place once.

[2016-12-29 02:29] StefanOosten commented on #702
Copying praw.ini into the folder actually made it work. Thanks

[2016-12-29 04:16] bboe commented on #702
Awesome.

[2016-12-29 04:16] #702 closed

[2016-12-29 06:34] #699 closed

[2016-12-29 21:10] S-Suren opened #706 "Method to return the Subreddits a user is a Moderator of."
## Issue Description

I see that I can get a list of moderators from a given subreddit with this template:

[code]
But there is no method in the PRAW documentation under the Redditor class where one can get the list of subreddits that a particular redditor is a moderator of.

If I missed it elsewhere or there is another way to get this info inside PRAW4, please let me know.
Thanks.

## System Info

[2016-12-29 21:19] bboe commented on #706
You can get such a list through the web interface on a user's page (e.g., https://www.reddit.com/user/spladug). However, I don't believe there is an endpoint in the API to retrieve such information. Please reopen and provide the the name of the endpoint if I'm mistaken.

[2016-12-29 21:19] #706 closed

[2016-12-31 14:07] llbit opened #707 "Getting Error 500 when trying to select flair"
## Issue Description

I can't seem to change submission flair using OAuth and PRAW 4.1.0. I have the following OAuth scopes: read, submit, flair, modposts, modflair. The post is created successfully but I get an exception thrown when trying to change the flair. This is the code I'm using to try to set the flair:

[code]

Here is the stack trace:

[code]

## System Information

    PRAW Version: 4.

[2016-12-31 16:31] bboe commented on #707
Hi @llbit,

The `submission.flair.select` method works a little differently than you're assuming. It requires that you pass in a `flair_template_id` which can be required by using `choices`. Of course, the documentation wasn't super clear on this so I've made some improvements. Check out the example here:

https://praw.readthedocs.io/en/latest/code_overview/models/submission.html#praw.models.Submi

[2016-12-31 16:31] #707 closed

[2016-12-31 23:11] llbit commented on #707
@bboe Thanks. In PRAW 3.6 I could just use `set_flair('announcement', 'announcement')` and it worked as expected. Why do I have to select a `flair_template_id` now? Would it be possible to implement the same behavior of the old `set_flair()` using the new API, if so how?

[2017-01-01 03:37] bboe commented on #707
You are a moderator of the subreddit, right? Assuming yes, did you see the "Moderators can directly use flair()" part of the documentation?

Try:

     submission.mod.flair(text='announcement')

[2017-01-01 12:25] llbit commented on #707
Yes my bot has mod access. I did not notice `mod.flair()`, but I did read about about `mod.sticky()`. I think I might keep the current solution, but I will try using `post.mod.flair()` in another both that I have not yet converted from PRAW 3.6. Thanks!

[2017-01-02 19:15] grmpyninja opened #708 "Submission with automatic title"
## Issue Description

I'm trying to submit a submission to subreddit, but I'd like Reddit to handle `title` assignment. According to the documentation it should be possible to simply invoke `subreddit.submit(url=<URL>)`, but it seems to not work and all I get is the following error

[code]

Is it possible in the API to send a submission without a title and let Reddit handle the title's assignment?

[2017-01-02 19:31] bboe commented on #708
The feature to select a title on the website (fetch_title) is not made available through the API. Even on the website it requires you to select "use suggested title". With PRAW a title is required. You can, however, copy and use their `get_title` function directly if you want to auto-fill the title in the same way that they do:

https://github.com/reddit/reddit/blob/40625dcc070155588d33754ef5b1571

[2017-01-02 19:31] #708 closed

[2017-01-04 07:21] mcandocia opened #709 "subreddit object has no method moderators()"
## Issue Description

In the documentation [here](https://praw.readthedocs.io/en/praw4/code_overview/other/moderatorrelationship.html), I try

    for moderator in reddit.subreddit('redditdev').moderators():
        print(moderator)

However, there doesn't appear to be any `moderators` attribute or method here, despite the description:

https://github.com/praw-dev/praw/blob/master/praw/models/redd

[2017-01-04 12:31] nmtake commented on #709
I believe `moderators` (plural) in the doc should be replaced with `moderator` (singular) which is defined in [`Subreddit.moderator`](https://github.com/praw-dev/praw/blob/master/praw/models/reddit/subreddit.py#L170).

[2017-01-04 15:37] bboe commented on #709
Yes, @nmtake is correct. It should be:

[code]

However I'm getting an exception when doing that, so for the time being I suggest you do:

[code]

I'm going to leave this issue open until iterating over `moderator()` is no longer a problem.

[2017-01-04 16:37] nmtake opened #710 "LiveContributorRelationship.__call__() returns a list of RedditorList if caller have 'manage' permission"
## Issue Description

As the title said. To reproduce:

[code]

JSON (copied from browser):

[code]

It seems that latter UserList reprsents invited users who didn't accept invitation yet: ([source](https://github.com/reddit/reddit-plugin-liveupdate/blob/a7cde1cf917c4118c4cb114c73a92f272e439816/reddit_liveupdate/controllers.py#L515-L540))

## System Information

    PRAW Version:  50516a
    Pytho

[2017-01-04 18:52] bboe commented on #710
Thanks for reporting. Any interest in fixing @nmtake?

[2017-01-04 21:14] nmtake commented on #710
Sure. I'll send a fix in a day or two.

[2017-01-04 22:33] leviroth commented on #709
@bboe I don't see the difference between those two blocks of code. Did you copy/paste the wrong thing, or am I missing something?

[2017-01-04 22:36] bboe commented on #709
Fixed above. The quick fix is to iterate over just `moderator` not `moderator()`.

[2017-01-05 05:46] bboe commented on #709
@mcandocia Looks like moderator isn't a paginated listing so the logic was incorrect. PRAW's incorrect behavior is fixed in the latest master. Install via:

    pip install --upgrade https://github.com/praw-dev/praw/archive/master.zip

Note that while my aforementioned work around will work, it is deprecated behavior that will be removed in the next major version of PRAW.

[2017-01-05 05:46] #709 closed

[2017-01-05 17:19] #710 closed

[2017-01-06 18:41] leviroth commented on #703
I'm interested in working on this. One small initial question I have is where to locate the new features. `SubredditModeration` already has its `inbox` method, which somehow needs to be distinguished from anything relating to the new modmail.

[2017-01-06 19:25] bboe commented on #703
Perhaps we can the functionality under a class bound to `subreddit.mod.mail`. or just `subreddit.modmail`. Thoughts?

[2017-01-06 22:23] darthkedrik commented on #700
I would be interested in tackling this issue. I've used praw in a couple scripts for data collection and analysis and would like to help give back to the project. If you have some other thoughts you wanted to share on the hide/unhide endpoints and desired features, I would love to hear them while I familiarize myself with the recent changes.

[2017-01-06 23:40] bboe commented on #700
@darthkedrik awesome. My intention for this issue was to literally add support for an `other_submissions` parameter in `hide` and `unhide` just like is done in `subscribe` via this commit: https://github.com/praw-dev/praw/commit/4522ddfa6f550e31b9e46ba60cf4855a756fdcd6

Tests for the addition will need to be added, just as is also in that commit.

[2017-01-09 16:39] darthkedrik commented on #700
Sounds great. I've added the other_submissions parameter to both `hide` and `unhide` now, though I ran into an issue with the testing. What would be the best way for me to go about creating new cassettes for the new tests? I don't really know betamax, so I'm not sure about procedures used for creating the cassettes.

[2017-01-09 16:55] bboe commented on #700
Ah yes, this is something that needs to be documented at some point. Check out the following comment to get started and please ask follow-up questions if you're not sure how best to proceed from there: https://github.com/praw-dev/praw/pull/679#pullrequestreview-10550244

[2017-01-10 07:01] bboe commented on #700
@darthkedrik I added some information here: https://praw.readthedocs.io/en/latest/package_info/contributing.html

Please let me know if I could make that any more clear (or feel free to improve it yourself). Thanks!

[2017-01-11 02:23] darthkedrik commented on #700
For some reason when I try to run `setup.py test` it keeps raising exceptions, saying that a request was made that could not be handled. Any clue what I'm doing wrong here? This is the output:

[code]

(Omitting password/secret)

[code]

[2017-01-11 04:06] bboe commented on #700
Did you set your environment variables so that they are properly replaced in the cassette?

[2017-01-11 15:31] darthkedrik commented on #700
It spits out my `password`, `username`, `client_id`, and `client_secret` values correctly when it gives me the error, I just removed them from what was posted. However, the cassette doesn't record anything except this:
[code]
So something must be wrong. A thought I had: the oauth I have is for a script instead of a web app so it is using `grant_type: password` instead of `authorization_code`. I wa

[2017-01-11 15:53] bboe commented on #700
Have you tried deleting the cassette before you re-run the tests? That's necessary whenever the code or test changes which results in new requests.

I believe that should be mentioned in this section of the docs: https://praw.readthedocs.io/en/latest/package_info/contributing.html#adding-and-updating-integration-tests

[2017-01-11 16:00] darthkedrik commented on #700
Ah, I had been, but somewhere in the middle I forgot to keep deleting them. I'll give it a try once I'm back today. I'll let you know, but if the tests pass it should be all set for you to look at. Thank you for your help with this.

If I think of anything to add to the documentation for the cassettes I'll let you know, but I think you've got it pretty well described.

[2017-01-13 03:59] #700 closed

[2017-01-13 03:59] bboe commented on #700
Thanks @darthkedrik!

[2017-01-13 20:28] leviroth commented on #703
One possible issue there is that many of the endpoints aren't tied to any particular subreddit. For example, `GET /api/mod/conversations` will return conversations from all a user's moderated subreddits unless the `entity` parameter is included. This functionality might be hidden if the endpoint is accessed through a subreddit-specific object.

[2017-01-13 21:38] bboe commented on #703
The previous iteration of modmail was like that too. The solution I used was to use `subreddit('all')` if you want the mod mail for all subreddits, and to use a single subreddit if you want a filtered view. I think that approach _should_ still work, but if you can think of a case where it wouldn't please let me know.

[2017-01-15 00:55] nmtake commented on #676
@methodds

Can you try https://gist.github.com/nmtake/00ac92989024f21b37aca60f2aa08184 with current PRAW4 + Python3? (Some Unicode Exception may raise if you are using Python2)

[2017-01-15 09:57] methodds commented on #676
thx @nmtake for the code. It seems to work for me and produces the following output:
[code]

[2017-01-15 12:33] nmtake commented on #676
@methodds  Thanks for trying the code. Please tell me if something went wrong.

[2017-01-15 15:04] methodds commented on #676
The only thing I had to change was the code related to ```session`` because I do not have a ```prag.ini``` on the test pc. Other than that everything worked without any problems :)

[2017-01-15 18:38] bboe commented on #676
@nmtake with the latest PR merged (thanks!), what all is left to do, if anything?

[2017-01-15 21:07] nmtake commented on #676
Here is the checklist:

- [x] POST /api/live/create - `LiveHelper.create()`
- [ ] GET  /api/live/happening_now
- [ ] POST /api/live/thread/accept_contributor_invite
- [ ] POST /api/live/thread/close_thread
- [ ] POST /api/live/thread/delete_update
- [ ] POST /api/live/thread/edit
- [x] POST /api/live/thread/invite_contributor - `LiveContributorRelationship.invite()`
- [x] POST /api/live/thread/lea

[2017-01-16 03:41] bboe commented on #676
Thanks for the checklist.

[2017-01-25 18:02] demarcusw commented on #668
I'm late to the party, but I may be able to offer some help if anyone is still having this issue. I ran into the exact same problem as, @Zetaphor , and tweaking my User Agent fixed it for me.

Here's what my User Agent was previously:
[code]

This was giving me a 403 forbidden.

After changing the user agent to include what my app is actually called:
[code]

No more 403 error and my personal scrip

[2017-01-25 18:07] bboe commented on #668
Thanks for that information @demarcusw.

[2017-01-30 09:56] sruteesh opened #724 "paginate using praw4"
## Issue Description

<REMOVE>
I am trying to get data for a search term over a period of 5 days. Earlier versions of Praw used to have the  **after** parameter which made life easy. I couldn't find anything similar to this in Praw4. Please point me in the right direction.
Thanks.

<REMOVE>

## System Information

    PRAW Version:4
  Python Version:2.7
Operating System:Ubuntu 14.04

[2017-01-30 15:51] bboe commented on #724
What does your code look like, or what did it look like before?

If you're using subreddit.search (http://praw.readthedocs.io/en/latest/code_overview/models/subreddit.html#praw.models.Subreddit.search) then you can still pass after in as part of `params` as that's one of the `generator_kwargs`:

    for item in subreddit.search(params={'after': ...}):
        print(item)

[2017-01-31 15:25] bboe commented on #724
@sruteesh please reopen and update if my suggestion doesn't appear to work for you.

[2017-01-31 15:25] #724 closed

[2017-02-07 05:45] Watchful1 opened #726 "Documentation for models should include all fields"
The documentation for a [submission](https://praw.readthedocs.io/en/latest/code_overview/models/submission.html) seems to be missing a number of fields that are present on the object. A quick comparison between that page and a vars() call shows these missing fields.

- is_self
- link_flair_text
- selftext_html
- gilded
- url
- saved
- over_18
- suggested_sort
- visited
- downs
- author
- spoiler
-

[2017-02-07 15:39] bboe commented on #726
Could you please open a pull request to add them?

[2017-02-07 23:36] Watchful1 commented on #726
It looks like the docs are built from the code comments. I'm guessing these fields are populated directly from the json response and there would be no easy way to auto-generate the docs. It would be a bit redundant to just manually add them at the top of [the doc file](https://github.com/praw-dev/praw/blob/master/docs/code_overview/models/submission.rst) since there would be a lot of duplication b

[2017-02-08 06:49] bboe commented on #726
Yes the documentation is built from the code comments. And yes, these fields are dynamic from Reddit's response, which in itself is not documented -- otherwise that documentation would be linked to already.

I'm not sure what you mean by overrides. Aside from writing a script that dynamically generates the string to manually update in the documentation, I don't think there will be an easy way to a

[2017-02-08 22:50] Watchful1 commented on #726
By overrides I meant some way to attach more documentation to say, the EditableMixin class that could be displayed in the documents for classes that inherit that, but without actually dumping a massive amount of text in the comments of the code. Unless you think that's the way to go.

I'm willing to do some coding and documentation writing here, but this is the first time I've touched the project,

[2017-02-09 00:06] bboe commented on #726
I'm okay if the code comments get really long. Having the documentation along with the code is useful.

[2017-02-10 09:59] Vatyx opened #730 "Updating sidebar using SubredditModeration"
## Issue Description

I've been trying to update the subreddit through praw using a SubredditModeration, this is the code I have.

[code]

After running this code I see no change in the sidebar. The account I am logging into is a mod of this subreddit.

#### Edit: Ok I got it to work but I had to call _create_or_update() directly. I'm not sure what's going on with the update() function

## System

[2017-02-10 18:00] bboe commented on #730
Try:

    sub.mod.update(description: new_sidebar)

[2017-02-10 18:00] #730 closed

[2017-02-10 18:09] Vatyx commented on #730
Why is that the case?

[2017-02-10 18:16] bboe commented on #730
I'm not sure what you mean. That's how `update` is used.

[2017-02-10 18:18] bboe commented on #730
And sorry, it should be:

    sub.mod.update(description=new_sidebar)

Mixing up my syntaxes.

[2017-02-10 18:26] Vatyx commented on #730
Why couldn't I do

[code]

[2017-02-10 19:03] bboe commented on #730
That works too. But not `mod.update(settings={"description": new_sidebar})`.

[2017-02-10 19:09] Vatyx commented on #730
Ok I'll try that. Thanks. I took that syntax from the docs.

[2017-02-10 19:22] bboe commented on #730
Can you link to the docs with that syntax?

[2017-02-10 19:26] Vatyx commented on #730
Here ya go: http://praw.readthedocs.io/en/latest/code_overview/other/subredditmoderation.html?highlight=SubredditModeration#praw.models.reddit.subreddit.SubredditModeration.update

Unless I misunderstood.

[2017-02-10 19:31] bboe commented on #730
I see the misunderstanding. In python `**settings` means any non-directly mapped keyword arguments are stored into a dictionary named `settings`. So:

[code]

When called as `foo(a=1, b=2)` will output `['a', 'b']`. This is the same for `mod.update`. In both cases you cannot use the name `settings`, or `kwargs` directly in the two cases, respectively.

[2017-02-10 19:34] Vatyx commented on #730
Ah thank you. Both me and my friend who actually does quite a bit of python got it wrong 😃

Thanks for the help.

[2017-02-10 19:38] bboe commented on #730
I'll add an example to `mod.update` to help minimize future confusion for people. There's always room to make the documentation better. Thanks for bringing it to my attention.

[2017-02-10 19:42] Vatyx commented on #730
That would be great. In the past when I didn't understand something with PRAW from the docs, I would go to the unit tests. Unfortunately I also couldn't find unit tests.

[2017-02-10 19:52] bboe commented on #730
For next time:

https://github.com/praw-dev/praw/blob/master/tests/integration/models/reddit/test_subreddit.py#L691

[2017-02-10 20:04] Vatyx commented on #730
Thanks! I think it would be great if you could link each unit test to their function on the docs

[2017-02-10 20:08] bboe commented on #730
That's an interesting idea. Want to make a PR to try to do that?

[2017-02-10 21:10] Vatyx commented on #730
Sure I could try doing it for some of them. I'll see what I can do.

[2017-02-19 21:34] nmtake commented on #676
As of #734 is merged, all live thread endpoints are covered. So this issues may be closed.

[2017-02-19 21:36] methodds commented on #676
Awesome, thanks for this :)

[2017-02-19 21:42] #676 closed

[2017-02-19 21:44] bboe commented on #676
Fanstastic work @nmtake! I'll make a release sometime in the next two days.

[2017-02-20 19:09] bboe commented on #703
@leviroth any updates or status on this issue? If not, is anyone else interested in working on it?

[2017-02-23 22:50] Pearhitch commented on #413
Apparently this is still bugged, do you know if there is anyway this can get fixed without comment.refresh()?

[2017-02-24 00:03] bboe commented on #413
@Pearhitch how are you retrieving the comment (code please)? If it's not from a submission reply, then the only way is via `comment.refresh()`.

[2017-02-24 02:02] Watchful1 commented on #726
This is still on my list of things to do, but I might not get to it for a while. Feel free to close this task.

[2017-02-24 04:42] bboe commented on #726
Close. Please reopen, or simply make a PR when you get around to it. Thanks!

[2017-02-24 04:52] #726 closed

[2017-02-25 04:10] michael-lazar opened #737 "praw 3 requests dependency version"
## Issue Description

In PRAW 3, the setup.py file pins the requests version at ``'requests >=2.3.0'``. However, actually trying to use requests v2.3.0 will raise an exception. The problem is that the ``merge_environment_settings`` method wasn't added until v2.4.0.

[code]

This bug was initially discovered here https://github.com/michael-lazar/rtv/issues/325. I've tested on requests v2.4.0 and ve

[2017-02-25 05:55] bboe commented on #737
Thanks for reporting and great work finding the bug. If you want to make a PR to the PRAW3 branch I will merge it in, however, I am not likely to make a new PRAW3 release unless a large number of issues accumulate. I'm going to close the issue since it's not a problem with the current version.

[2017-02-25 05:55] #737 closed

[2017-03-01 08:43] green-flash opened #742 "Subreddit docs use wrong argument name for ban reason"
## Issue Description

https://praw.readthedocs.io/en/latest/code_overview/models/subreddit.html

This example:

    reddit.subreddit('SUBREDDIT').banned.add('NAME', reason='a reason')

should be

    reddit.subreddit('SUBREDDIT').banned.add('NAME', ban_reason='a reason')

At least if the reddit api docs are to be trusted:

https://www.reddit.com/dev/api/#POST_api_friend

## System Information

not

[2017-03-02 00:42] #742 closed

[2017-03-05 07:27] voussoir opened #744 "Users attempting to run old code are confused by configparser.NoSectionError. Should they get a different help message?"
Over the past couple of months, I've been getting a lot of reddit PMs from people who find PRAW3 tutorials and resources online, and are confused by:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "C:\Python36\lib\site-packages\praw\reddit.py", line 103, in __init__
        **config_settings)
      File "C:\Python36\lib\site-packages\praw\config.py", l

[2017-03-05 15:48] bboe commented on #744
I think we could catch the `configparser.NoSectionError: No section: 'useragent'` exception and add additional pointers to the documentation, or a direct example before re-raising the exception. Aside from that, however, I don't think we should try to be smart about what people are trying to do.

Want to make a PR for that? Really great idea thinking about how to make this transition more user-fri

[2017-03-05 23:49] voussoir commented on #744
Sounds like a good balance. I think the readthedocs articles for [The Reddit Instance](https://praw.readthedocs.io/en/latest/code_overview/reddit_instance.html) and [Configuring PRAW](https://praw.readthedocs.io/en/latest/getting_started/configuration.html) are appropriate. I'll open a PR in just a moment.

[2017-03-06 04:25] #744 closed

[2017-03-09 14:52] nmtake opened #746 "WikiPage.revisions raises TypeError if an author of revision isn't exist"
## Issue Description

As the title said. To reproduce:

[code]

And here is the [URL](https://www.reddit.com/r/TheoryOfReddit/wiki/index?v=873933a0-5550-11e2-82f1-12313b0c1e2b) whose ID is '873933a0-5550-11e2-82f1-12313b0c1e2b'.

## System Information

PRAW Version: 4.4.0
Python Version: 3.6.0
Operating System: El Capitan 10.11.6

[2017-03-10 20:05] leviroth commented on #746
Looks like the same occurs in line 63 of wikipage.py.

[2017-03-10 21:45] nmtake commented on #746
@leviroth Yes, indeed. Thanks for the follow-up and the PR.

[2017-03-11 04:12] mrkent opened #749 "Can mentions be filtered for new only?"
## Issue Description

Making a bot that will respond with a message every time bot's username is mentioned. Can mentions be filtered for only unread ones? Also, what's the max limit of mentions? What if new mentions surpass the limit?

Currently I'm using something like below.

[code]

## System Information

    PRAW Version: 4.4.0
  Python Version: 2.7
Operating System: ubuntu 14.4

[2017-03-11 04:19] bboe commented on #746
I reopened until a changelog entry is added (I forgot to mention that in the code review).

[2017-03-11 04:30] bboe commented on #749
As far as I know you cannot directly get new mentions. You can either get mentions and filter for new, as you are doing. Or you can get new inbox items, and filter for messages. Which approach is more efficient depends on your use case.

Try `reddit.inbox.unread` for the other approach.

[2017-03-11 04:30] #749 closed

[2017-03-12 03:00] #746 closed

[2017-03-15 14:03] kade-robertson opened #752 "Unable to create Redditor for sending messages, throws TypeError"
## Issue Description

### Setup:
1. Create a Reddit instance, as in `reddit = new praw.Reddit(...)`
2. Pass instance to a function
3. Read and store all unread messages
4. For each message, add the author (from `Message.author`) to list,, and create Redditor instance via `reddit.redditor(user)`
5. Send message to redditor via `Redditor.message('subject', 'text')`.

### Expected Behaviour:
Create t

[2017-03-15 14:17] bboe commented on #752
Based on this information it would seem that you're code is passing a `Redditor` instance into `reddit.redditor` here: `useracc = reddit.redditor(user)`.

Assuming that's the case, you could just do `useracc = user` or replace `useracc` with `user`. This seems in line with your statement:

Message.author is already a Redditor instance.

[2017-03-15 14:17] #752 closed

[2017-03-15 14:44] kade-robertson commented on #752
Apologies, the docs seemed to imply that only `Submission` or `Comment` instances had this property:

## Obtain Redditor Instances
There are several ways to obtain a redditor (a Redditor instance). Two of the most common ones are:

* via the `author` attribute of a Submission or Comment instance
* via the `redditor()` method of Reddit

[2017-03-15 17:35] bboe commented on #752
Would you like to update that comment to include `Message` and be more generic?

[2017-03-15 22:35] Katiedaisey opened #753 "Sort Order and `replace_more`"
## Issue Description

It is necessary to change the value of `submission.comment_sort` before calling `submission.comments.replace_more()` sorting to be effective; however, any comments added by `replace_more()` are then sorted by another method (seemingly 'best').

I've confirmed this via thread '5z8dkm'.

Here's the code I used:

[code]

I've also attached the files generated, but in summary bot

[2017-03-16 02:26] Katiedaisey commented on #753
So I added `print data` right before the API call to `morechildren` in praw/models/reddit/more.py, and every call is sending out `sort` with a value of `best`, the default defined in `submission._init_`.

Is the sorting supposed to be done locally?

[2017-03-16 03:09] bboe commented on #753
Seems like you found the cause of the bug. Want to try to fix it?

On Mar 15, 2017 7:26 PM, "Katie Daisey" <notifications@github.com> wrote:

[2017-03-16 05:21] bboe commented on #753
@Katiedaisey thanks for filing the issue, and special thanks for providing such detail. I hope it's resolved by the latest master. Could you please confirm, and close the issue if so?

[2017-03-16 11:15] Katiedaisey commented on #753
@bboe All fixed.

[2017-03-16 11:15] #753 closed

[2017-03-19 23:56] gabriel-jones commented on #668
@demarcusw This fixed my problem. I think using the word "Bot" breaks it, since that was the name of my personal script.

[2017-03-24 00:05] AustinDoolittle opened #759 "Limit is not getting passed to ListGenerator constructor on call to Subreddit.top()"
## Issue Description

I am attempting to set the limit of the records returned for the top posts in a subreddit. My code is as follows:

`for submission in reddit.subreddit(subreddit).top(limit=DEF_SUB_COUNT):`

The documentation states that any additional parameters passed to top() should be passed to the construction of the ListGenerator that is returned from this function. When the limit is set

[2017-03-24 00:11] AustinDoolittle commented on #759
Update: It appears that if the limit parameter is included in the top() function call, then the upper limit is set to 1000 regardless of what value is passed. If the limit parameter is not included, then the upper limit stays at 100.

[2017-03-24 04:35] bboe commented on #759
Please do me a favor and run the following:

[code]

And then copy and paste the output less your bearer token.

[2017-03-24 14:41] AustinDoolittle commented on #759
I figured out the issue! I was retrieving the variable I was pluggin into the limit parameter from argparse without specifying its type as int. It was attempting to feed a string into this parameter which is definitely why it didn't get translated. My bad, thanks for your help!

[2017-03-24 14:41] #759 closed

[2017-03-24 14:57] bboe commented on #759
No problem. Thanks for following up and closing the issue. Glad it's all resolved for you.

[2017-03-29 00:41] bboe commented on #703
@leviroth could you make a checklist of what is left to do so we can track it's progress?

[2017-03-29 01:18] leviroth commented on #703
Yeah, I was just making this as it happens. This is a list of endpoints for the new modmail. I haven't much thought through how these will correspond to PRAW features, but it should give us a rough way of tracking progress.

Completed? | Method | URL
--- | ---- | ---
[ ] | POST | /api/mod/bulk_read
[ ] | GET  | /api/mod/conversations
[ ] | POST | /api/mod/conversations
[x] | GET  | /api/mod/conver

[2017-03-29 14:01] hanfeisun opened #762 "Is `Search` still supported in praw 4.4?"
I saw the snippet below on stackoverflow:
[code]

It seems that this snippet is outdated. Because I can't find the `search` function in praw 4.4.0.. I didn't find the search-related API in the document of praw..

Is this feature still supported?

[2017-03-29 14:22] leviroth commented on #762
Looks like you'll want to use the [`search`](http://praw.readthedocs.io/en/latest/code_overview/models/subreddit.html#praw.models.Subreddit.search) method of a `Subreddit` object. To search all subreddits, you can just use `reddit.subreddit('all')`, as shown in the example.

[2017-03-29 14:32] hanfeisun commented on #762
Got it, thanks!

[2017-03-29 14:32] #762 closed

[2017-03-29 15:35] leviroth opened #764 "Marking modmail conversation as read"
## Issue Description

The new modmail API [endpoint for getting a conversation](https://www.reddit.com/dev/api/#GET_api_mod_conversations_:conversation_id) includes a `'markRead'` parameter that isn't currently implemented in PRAW. I was wondering what the best way would be to add this.

One option would be an extra argument to `Subreddit.modmail.__call__`. However, this would probably require ove

[2017-03-29 16:21] bboe commented on #762
Thanks for responding @leviroth. You're awesome.

[2017-03-30 05:41] bboe commented on #764
While I think we could make it work by supporting params to `_info_path`, the bigger issue I have with that approach is that this parameter would need to be passed into the initializer for `ModmailConversation`, and that doesn't really seem to fit.

What I recommend is that instead we use `__call__` on the helper to take the param, and then issue the request. If that is objectified at that point,

[2017-03-30 16:10] Chronophobe opened #765 "Create streams for different inbox methods"
## Issue Description

Similar to a SubredditStream, an InboxStream would allow a bot to endlessly retrieve the newest unreads, mentions, comment_replies and possibly even sents.

Looking at the SubredditStream implementation, it seems like a relatively easy task and I wouldn't mind taking it on myself. I just want to know for sure that PRAW is looking for such a feature.

[2017-03-30 16:30] bboe commented on #765
https://praw.readthedocs.io/en/latest/code_overview/reddit/inbox.html#praw.models.Inbox.stream

It exists in the latest development version, it simply hasn't been added to a packaged release. Consult the documentation for instructions on installing the development version.

Since streams can be filtered for individual events I don't see a reason to add a stream version for each type (they would be

[2017-03-30 16:30] #765 closed

[2017-03-30 18:57] leviroth commented on #764
Main downside I see is that `__call__` would no longer return a lazy instance of the `ModmailConversation`.

[2017-03-30 22:36] hdiwan commented on #8
Here's the code I use to generate a list of subreddits for inclusion in a select tag. It doesn't work very fast, but it does get done eventually
[code]

[2017-03-31 05:49] bboe commented on #764
You make a great point about the instance not being lazy. I suppose let's add a `_info_params` attribute to PRAWBase that's an empty dictionary by default, and we can set the params in the constructor, and then `_fetch` will always pass `_info_params` as part of the request.

It's a new model, but I'm convinced it is worth it.

[2017-03-31 14:17] leviroth commented on #764
Should that be on `PRAWBase`, or `RedditBase`?

[2017-03-31 15:37] bboe commented on #764
Whichever one is right ;). Sounds like it should be on RedditBase.

[2017-03-31 19:00] leviroth commented on #703
There are a few points I wanted to discuss ahead of future PRs:

1. Most of the remaining endpoints aren't connected to specific subreddits. For example, the endpoints for marking conversations read and unread just take a list of conversation IDs, which can span any of the subreddits that a user moderates. I was wondering where we should place this functionality. For example, should the `Reddit` c

[2017-04-01 00:07] #764 closed

[2017-04-01 03:42] bboe commented on #703
The approach I've taken with PRAW4 is to put the action where the single-item action would go. Marking read and unread is something that is done for a message. But we can optionally allow that method to support bulk-actions similar to the hide `other_submissions` option of hide: http://praw.readthedocs.io/en/latest/code_overview/models/submission.html?highlight=other#praw.models.Submission.hide

D

[2017-04-01 17:43] leviroth commented on #703
Thanks, should be all set on 1 and 3. As for 2, you're right: unless someone really, really wants to save bandwidth, the endpoint doesn't look like it adds anything that isn't provided the the code we already have for `ModmailConversation`s. PRAW would work just fine without it.

[2017-04-03 17:18] leviroth commented on #703
I just wanted to add a link here to some information I've compiled while working on these features:

https://gist.github.com/leviroth/dafcf1331737e2b55dd6fb86257dcb8d

[2017-04-03 17:29] leviroth opened #773 "Provide human-readable information on conversation state, mod actions"
## Issue Description

As documented [here](https://gist.github.com/leviroth/dafcf1331737e2b55dd6fb86257dcb8d#secret-codes), conversation states and mod actions are represented in the API responses as numerical codes. Some way or other, it would be nice to provide this information in a more readable form; perhaps by replacing the codes when the responses are parsed?

[2017-04-05 14:36] bboe commented on #773
Yes, creating a mapping service that can be used both for viewing and submitting would be great.

[2017-04-07 05:22] bboe commented on #703
I'm guessing this can be closed now. Anything else you want to add? Otherwise, I'll likely make the next minor release.

[2017-04-07 08:40] pelcomppl opened #777 "Upload image with reddit.subreddit.submit"
Hi
I can add new link with command:
reddit.subreddit('name').submit('title','url')
but I don't know how to submit image.
In this form https://www.reddit.com/submit I see "image" field, so I suspect that it is possible.

[2017-04-07 15:29] bboe commented on #777
I also would really like this feature to be added to PRAW. Around the time the feature was released I looked into implementing support for it. Unfortunately, image upload was not officially part of the public API at the time, and I believe that has not changes. Thus this feature cannot be added to PRAW at this time. Please reopen when there is evidence to suggest things have changed.

Thanks for t

[2017-04-07 15:29] #777 closed

[2017-04-07 15:35] leviroth commented on #703
I don't see anything else to add, apart from #773.

[2017-04-07 15:35] #703 closed

[2017-04-08 15:34] bboe opened #778 "Add `timeout` param to streams"
Comment streams are only interruptible when results are being returned by user-level break statements. However, if a stream receives no new data the function will essentially block indefinitely while it periodically pulls for new information.

It would be beneficial to have a `timeout` parameter which raises some sort of timeout exception if there are no new items after `timeout` seconds. With thi

[2017-04-08 15:37] bboe opened #779 "Explain "PRAW is not thread safe" in the documentation."
It would be great to provide an example of why it is not thread safe.

Relevant comment:

https://www.reddit.com/r/redditdev/comments/63ugl5/praw_mulitprocessing_handler_prawhandler_is_not_a/dfx9oet/?context=3

[2017-04-11 06:26] #779 closed

[2017-04-12 03:38] elnuno commented on #778
Trying to make it happen :)

[2017-04-12 04:31] bboe commented on #778
@elnuno awesome! I was thinking rather than an exception it might make more sense to `yield None` during the breaks. I'll let you try out what you think works better, though.

[2017-04-12 04:35] bboe commented on #778
I was also wondering if rather than number of seconds, which will not be precise due to varying amounts of delay between responses with no results, if `timeout` (or a better named parameter) should represent the number of sequential requests with no results prior to the "timeout event" occurring.

[2017-04-12 16:48] elnuno commented on #778
I've added the two approaches (timeout and failed requests) and a exception-based way of resuming (i.e, it kills the generator but allows a new one to be started from where it stopped). All as a helper for discussion, I'm not advocating any specific design.

I'm willing to implement the `yield None` approach too, but I'm not seeing it clearly. Is it just a `yield None` if the condition is met (so

[2017-04-20 05:52] bboe commented on #778
Added to comments. Still needed on:

- [ ] inbox.stream
- [ ] subreddit.stream.submissions
- [ ] subreddits.stream

[2017-04-22 18:57] leviroth opened #787 "Passwords that contain spaces are not properly filtered from cassettes."
## Issue Description

Passwords that contain spaces (and other special characters) are not properly filtered from cassettes.

In the cassettes, the password shows up in the body of a POST request that fetches an access token. Because the request body is URL-encoded, passwords that contain spaces and other special characters will not show up verbatim in the cassette, and will not be filtered.

For

[2017-04-25 16:04] bboe commented on #787
Thanks for filing. Want to give fixing it a try?

[2017-04-25 18:05] #787 closed

[2017-04-30 06:04] bboe commented on #778
Remaining items resolved in https://github.com/praw-dev/praw/pull/789.

[2017-04-30 06:04] #778 closed

[2017-05-01 08:41] dannyvoid opened #791 "Can't retrieve random submission url from specific subreddit?"
## Issue Description

For some reason I can't receive a random post from /r/pizza.
It works on every other subreddit I have tried.
What am I doing wrong?

[code]

[code]

## System Information

[code]

[2017-05-01 12:05] elnuno commented on #791
Thanks for reporting this!

The root cause seems to be a bug in Reddit: while https://www.reddit.com/r/iama/random redirects to a submission (as it should), https://www.reddit.com/r/Pizza/random redirects to the subreddit itself!

I'll post to /r/bugs and see if it can be fixed.  On PRAW's side, maybe we can add a check to see whether the random call failed, so the error message is more informativ

[2017-05-01 13:55] elnuno commented on #791
[Proposed a fix on Reddit's side.](https://www.reddit.com/r/bugs/comments/68lwnq/fetching_a_random_link_from_a_sub_doesnt_work_if/)

On PRAW's side, we can do better than just raising an exception: it's possible to use the same algorithm and pick a random link client-side. However, if code uses that in a hot path, it'll probably be highly inefficient, unless we (already?) cache the fetched links (

[2017-05-02 01:09] elnuno commented on #791
Hm, I thought I posted better code to handle your usecase, but it seems I did something wrong, sorry!

Here is code that can use caching so you only hit the network after a cache expiry time. If you call `random()` a lot, it's much faster than the native way.

If you use it a few times, the caching version might be slower (because it downloads the same number of entries as Reddit does server-side)

[2017-05-02 02:59] dannyvoid commented on #791
Oooh, awesome.
Just finished adding your cache method to my setup.
Thanks!

[2017-05-02 02:59] #791 closed

[2017-05-05 20:06] ranihorev opened #792 "Error while initializing PRAW object in a thread"
Hey,

I'm trying to use praw within a thread I created using python `threading.Thread(target=RedditCollector.collector_main).start()`

I'm receiving the error below on initialization, but it happens just when I'm running it in a different thread (when I'm calling the same method from the main thread it works).

I'd appreciate you help.
Rani

[code]

PRAW Version: 4.4.0
Python Version: 3.5
Operatin

[2017-05-05 20:16] ranihorev commented on #792
Solved it.
The problem was in the update checker, so I just added this parameters to the init:
check_for_updates=False

[2017-05-05 20:16] #792 closed

[2017-05-06 09:15] d-schmidt commented on #684
This is still/again broken. You want a new issue or reopen this?
[code]

[2017-05-09 03:58] lincoln-b commented on #792
@ranihorev Why did the update checker cause the object to fail init in a separate thread?

[2017-05-09 05:18] ranihorev commented on #792
I'm guessing that it has something to do with the fact it was executed in a thread (not in the main thread).
When I run the script in the main thread it's working as expected

[2017-05-09 12:14] d-schmidt opened #794 "'Comment' objects from Inbox have no attribute 'submission'"
## Issue Description
This is still/again broken. I found #684 which has been closed and merged into 4.5.0 in 994a817.
I'm still able to reproduce this bug. Or this isn't a bug and my hack is the solution: d-schmidt/hearthscan-bot@5bade7dd8897e27669d69f0c3a856a48bfada7fd
[code]

[2017-05-09 14:00] leviroth commented on #794
Looks like the culprit is the following lines in [`comment.py`](https://github.com/praw-dev/praw/blob/7c12c8da7942387f27ce7690b9bcb09711b3be25/praw/models/reddit/comment.py#L167):

            for reply in comment._replies:
                reply.submission = self.submission

Perhaps integration tests don't catch it because the cassette happens to have recorded a comment with no replies.

[2017-05-09 14:09] leviroth commented on #794
I was able to reproduce this on a virtualenv running PRAW 4.5.0, but it was fixed on switching to 4.5.1.

[2017-05-09 15:24] bboe commented on #794
I believe this should have been resolved in https://github.com/praw-dev/praw/pull/793, which as @leviroth wrote, is part of 4.5.1.

[2017-05-09 15:24] #794 closed

[2017-05-11 22:40] leviroth opened #797 "Improve new modmail documentation"
There have been a couple posts on /r/redditdev looking for information that should be in the documentation, but isn't. Here is a partial checklist of info that should (probably) be included:

- [x] How to get individual messages from a conversation
- [x] An example showing how to extract the body of a conversation's messages
- [x] How to get the author's info
- [x] [The meaning of 'all' in the con

[2017-05-16 15:41] leviroth opened #798 "Add url parameter to Reddit.info"
Per [Reddit's API documentation](https://www.reddit.com/dev/api/#GET_api_info), the `/api/info` endpoint can take a `url` parameter. The result is a listing of link submissions to that URL. For example, the following yields a listing of links to https://www.youtube.com:

https://www.reddit.com/api/info?url=https://www.youtube.com/

Currently, `Reddit.info` provides support for the `/api/info` endp

[2017-05-17 21:36] leviroth commented on #797
Closing this unless/until new ideas arise.

[2017-05-17 21:36] #797 closed

[2017-05-18 15:31] darthkedrik commented on #798
I'd love to take a stab at implementing this.

[2017-05-18 17:25] bboe commented on #798
@darthkedrik awesome! Let us know if you have any questions. Please review: https://praw.readthedocs.io/en/latest/package_info/contributing.html

[2017-05-22 01:24] leviroth opened #800 "Add ability to enable/disable inbox replies"
There is [an API endpoint](https://www.reddit.com/dev/api/#POST_api_sendreplies) that makes it possible to enable or disable inbox replies on an existing comment or submission. It has not yet been added to PRAW (as of 4.5.1).

[2017-05-22 16:03] #800 closed

[2017-05-23 18:47] darthkedrik commented on #798
Will do.

A quick question for you, what do you think would be a more user friendly approach: allowing users to send a list that contains either fullnames or urls, or allowing users to send the function to lists separated into urls and fullnames? My thoughts were towards the first, but I also thought the second could be better for clarity's sake.

[2017-05-24 17:57] leviroth commented on #798
I think you're right about clarity, especially since the parameter is already called `fullnames`. Additionally, I think the implementation will be simpler if the API parameter is identified explicitly by the user, rather than implicitly by the value of the argument.

As a side note, the endpoint doesn't accept a list, just a single URL. If there's a comma in the URL, then it's treated as part of t

[2017-05-24 18:05] bboe commented on #798
To summarize, let's leave `fullnames` as is, and add another `url` keyword. These should be mutually exclusive (if I understand correctly), please use a similar approach as is done here:

https://github.com/praw-dev/praw/blob/dfc0eafc2aa84eaf5874952e7d96869c28d62285/praw/models/reddit/subreddit.py#L468

The mutual exclusivity should be tested in a unit test as it does not require network connectiv

[2017-05-25 17:49] leviroth opened #804 "Support flair in Subreddit.submit"
## Issue Description

Reddit's public API now allows link flair to be set [as part of the "submit" endpoint](https://www.reddit.com/dev/api/#POST_api_submit), rather than after the fact. This is not currently supported in PRAW.

I'm not especially familiar with flair, and I haven't looked into how the new parameters behave, but presumably the implementation of this would look a lot like the code +

[2017-06-01 02:50] joshjacobson opened #805 "Inconsistent log-in behavior, using wrong user"
## Issue Description
If I load comments to reply to through: `comments = subreddit.stream.comments() `
replies come through my bot account, but if I load comments to reply to through:
[code]

then replies come through my personal account.

I don't even understand how this is possible, as the bot shouldn't have my personal log-in credentials.

Any advice on how to fix this? I want to execute it suc

[2017-06-01 03:51] bboe commented on #805
What does `print(reddit.user.me())` output? Can you share the smallest
snippet of code that reproduces the issue?

On May 31, 2017 7:50 PM, "Josh Jacobson" <notifications@github.com> wrote:

[2017-06-02 01:51] bboe commented on #805
Linking to this discussion (https://www.reddit.com/r/redditdev/comments/6ejwsx/praw_posting_from_my_user_account_not_bot_account/) and closing the issue until more information is provided that confirms it is in fact an issue with PRAW.

[2017-06-02 01:51] #805 closed

[2017-06-02 01:52] bboe commented on #798
@darthkedrik any progress on this issue, or an estimate on when you'll have time to work on it?

[2017-06-02 14:47] darthkedrik commented on #798
@bboe Sorry for the late response, I was on vacation for most of this last week. I'm finishing up with this issue, just implementing some tests and it should be good to go.

[2017-06-02 15:21] bboe commented on #798
Awesome. And no worries about the delay, I merely wanted to try to get a status update. Thanks!

[2017-06-04 22:51] waterafternoon commented on #681
I think i'm having the same issue. This one-liner won't go through. I think the issue may be with how python, reddit, or whatever handles the ">" as it's the only html artifact in the string.

`div#thing_t1_digal4v > div.entry .md:before{ content:'THIS COPYPASTA IS OLDER THAN WUMBO'; color:red; font-style: italic}`

[2017-06-06 20:27] darthkedrik commented on #798
@bboe just a quick update for you, I've got it all working and made a new cassette. I've updated the changelog and everything, so I should be all set to open a pull request tonight after work. Now when I pass the optional url parameter I get a list of submissions for that URL.

Should we include somewhere in the documentation a brief warning that the url is taken literally? As is, if you enter "yo

[2017-06-06 21:33] bboe commented on #798
That sounds like an excellent idea. Yes, please do that.

[2017-06-07 21:11] #798 closed

[2017-06-07 21:15] nmtake opened #807 "`LiveUpdate` objects have no `contrib` attribute"
## Issue Description

`LiveUpdate` objects have no [`contrib` attribute](https://github.com/praw-dev/praw/blob/32e1f2eb57d3c7fa15c59537406f49b18998eb45/praw/models/reddit/live.py#L527) when those objects are initialized with responses from reddit:

[code]

[code]

This bug is due to [this improper initialization of LiveUpdate instance](https://github.com/praw-dev/praw/blob/32e1f2eb57d3c7fa15c59537

[2017-06-08 15:41] #807 closed

[2017-06-08 16:37] darthkedrik commented on #773
This looks fun. If no one else is currently working on it, I could take a crack at it.

[2017-06-12 01:04] 4357 opened #810 "http 500 response on api/me script test"
##
running the script below gets 500 error

[code]
traceback:
[code]

[2017-06-12 03:13] bboe commented on #810
I cannot reproduce. Does this happen everytime? What sort of OAuth type are you using?

[2017-06-15 21:48] leviroth opened #812 "Implement the link_flair API endpoint"
Currently, the only way to get the link flair templates for a subreddit is to already have a submission from that subreddit and then call `submission.flair.choices`. However, Reddit has since added [an endpoint](https://www.reddit.com/dev/api/#GET_api_link_flair) allowing templates to be retrieved using only the subreddit name.

It's not immediately clear to me where this would best be implemented

[2017-06-16 17:10] #804 closed

[2017-06-16 17:10] bboe commented on #810
Closing due to lack of follow-up. Please provide more details if you'd like to reopen.

[2017-06-16 17:10] #810 closed

[2017-06-16 17:15] bboe commented on #812
I propose we add `subreddit.flair.link_templates`, and keep `subreddit.flair.templates` as "user" (redditor) templates.

`SubredditFlairTemplates` should essentially become an abstract class, and then we create two sublcasses, `SubredditRedditorFlairTemplates`, and `SubredditLinkFlairTemplates` and do away with the `is_link` params which map to the right attribute of `subreddit.flair`.

Thoughts?

[2017-06-16 18:39] Jibodeah opened #813 "Subreddit.submissions returns empty and unusually quickly semi-randomly"
It seems that, semi-randomly, [Subreddit.submissions](http://praw.readthedocs.io/en/latest/code_overview/models/subreddit.html#praw.models.Subreddit.submissions) does not yield anything, and returns unusually quickly.

A script to which I used to test this.
[code]

For me the results were

    0 0.20122485160827636 15
    1 1.4370657444000243 85

Which means of the 100 test runs I did, it returned

[2017-06-16 18:46] bboe commented on #813
Thanks for the info. Could you please enable logging and see if there is a correlation between the URL retrieved and the data missing that you expect?

https://praw.readthedocs.io/en/latest/getting_started/logging.html

If the URL is incorrectly generated then it is probably a PRAW bug, but if a URL is generated correctly and provides different results at different times then it's likely on Reddit

[2017-06-16 19:27] Jibodeah commented on #813
Possibly related, somehow, to the exact post. I tried testing with a different post and it found it every time. Then I went back to the original post and it started missing it again. It's definitely not isolated to that single post though, I've had it happen on numerous posts...

Some samples from the log of it finding the post, and then one of it missing it.
[code]

[code]

Seems to point towards

[2017-06-16 20:13] bboe commented on #813
Once a submission has been found its timestamp used as the subsequent start:

https://github.com/praw-dev/praw/blob/ae15437d791dacdc8960b596fd7906d7ab884cbe/praw/models/reddit/subreddit.py#L435

It is possible that Reddit doesn't provide a strict ordering and thus submissions created at the exact same timestamp will be neglected. If you're interested we could modify that code to subtract a second

[2017-06-16 21:16] Jibodeah commented on #813
Nevermind... Seems I was wrong about that.

It definitely varies by post. Now I've got one that even when I search 10 seconds either side of it still fairly often doesn't show up. ...Then with others they always show up 100% of the time. This other post doesn't show up about 15-25% of the time when its timestamp equals the search boundary and when there is just a one second difference

There doesn

[2017-06-16 21:17] Jibodeah commented on #813
Oh and here's a slightly updated test function if you (or anyone) wants to look into this more.

[code]

[2017-06-16 21:41] bboe commented on #813
Well thanks for the update. Given the awesomely detailed information you provided, I'm going to close this issue as I don't think there is anything PRAW can do. Although, we could add a note that the results aren't 100% reliable. Would you like to add that to the submissions docstring?

[2017-06-16 22:14] Jibodeah commented on #813
As in create a pull request myself? Can do, I guess. Probably would be easier for you though as I'm not familiar with the syntax Read The Docs uses.

No problem! This issue's been driving me nuts this past week as I've been using Subreddit.submissions as a way to try and identify if a post is deleted or removed. I'm going to try using the new queue instead, which should work well enough for my nee

[2017-06-16 22:19] bboe commented on #813
It'd be awesome if you had the time to give it a go. It's always _faster_ for me to do something if it's on a case-by-case basis, but in the long run it's much better to get other people involved. Maybe the experience of making a small change encourages you or gives the confidence to make others :)

The change should go somewhere around the linked line:

https://github.com/praw-dev/praw/blob/ae154

[2017-06-17 23:53] leviroth commented on #812
That mostly sounds good. I have a bit of a question about handling the `is_link` parameter, but that's probably best explained through example - which example I'll provide via PR in a moment.

[2017-06-20 14:58] #813 closed

[2017-06-20 15:34] #812 closed

[2017-07-02 23:22] kwwxis opened #820 "Bug with retrieving permalink"
## Issue Description

Retrieving a comment's permalink works only with using `permalink` as a function, and retrieving a submission's permalink only works with using `permalink` as an attribute.

    <bound method Comment.permalink of Comment(id='djnhv6f')>

    '/r/pokemon/comments/6kmw8f/rage_thread_01_july_2017/djnhv6f'

    Traceback (most recent call last):
      File "<stdin>", line 1, in <m

[2017-07-02 23:25] D0cR3d commented on #820
I can confirm the same issue.

# System Info

[code]

[2017-07-03 00:27] bboe commented on #820
The behavior you have described is by PRAW's design due to how Reddit's API works. Submission objects come with a permalink attribute, whereas comments do not. As a result, PRAW provides `permalink` as a method on a comment (which may require a network request).

[2017-07-03 00:27] #820 closed

[2017-07-03 16:02] leviroth commented on #820
Would you consider adding the `property` decorator to the Comment version for PRAW5? It would be nice to have a uniform interface for posts and comments, so that we don't need wonky boilerplate [like this](https://github.com/leviroth/bernard/blob/0de7160ba4fcec6c74897c087899abbfdfa970f0/bernard/actors.py#L271).

[2017-07-03 16:15] bboe commented on #820
There are a few reasons why I'd prefer to keep things as they are. Earlier versions of PRAW used a few properties, but I didn't like that they obscured what attributes came from Reddit from those that PRAW generated. Additionally, I'd prefer to not introduce that breaking change (despite being a major version).

That code could be simplified by writing a `permalink` method that takes in either a s

[2017-07-19 05:19] jarhill0 opened #824 "Incorrect changelog"
## Issue Description

The [changelog](https://github.com/praw-dev/praw/blob/master/CHANGES.rst) says in the second bulletpoint of added features under the Unreleased heading that the class [`Redditor`](http://praw.readthedocs.io/en/latest/code_overview/models/redditor.html#praw.models.Redditor) has been added. This should refer to the class [`RedditorStream`](http://praw.readthedocs.io/en/latest/c

[2017-07-19 14:49] #824 closed

[2017-07-21 13:32] Chronophobe opened #826 "Mention (Comment object) has no attribute 'submission'"
## Issue Description
Mentions retrieved using the mention stream from inbox do not contain the submission attribute.

StackTrace:

    Traceback (most recent call last):
    File "/home/stan/reddit-recommendation-bot/recommendationbot/bot.py", line 154, in check_mentions
         submission = mention.submission
    File "/home/stan/reddit-recommendation-bot/lib/python3.4/site-packages/praw/models/

[2017-07-21 16:28] leviroth commented on #826
I couldn't reproduce this. Was it happening only with a specific mention? If so, I'm wondering if you could track down the one that caused the problem.

PRAW Version: 5.0.1
Python Version: 3.6.1
Operating System: Windows 10

[2017-07-21 16:54] Chronophobe commented on #826
Setup a test and let it monitor for a while.
However, I begin to suspect that it might not have rotated the log and I was actually looking at parts of the log before I upgraded PRAW.

I will report back in a few hours.

[2017-07-21 17:30] leviroth commented on #826
I just noticed that you're describing `Reddit.inbox.mentions()` as a stream. But it should be a ListingGenerator, not a stream. Granted, I'm not sure how that could be the cause of the problem, but I thought I would mention.

[2017-07-21 22:58] tom-sherman opened #827 "Type hints for classes?"
## Issue Description

Is it possible to use type-hinting on PRAW classes? For example it would great if I could do something like this:

[code]

[2017-07-21 23:49] bboe commented on #827
Is that something supported by python 2.7+? If so, feel free to open a PR to add some functionality.

[2017-07-22 11:55] tom-sherman commented on #827
@bboe It was introduced in Python 3.5 with PEP 484: https://www.python.org/dev/peps/pep-0484/

I'll see what I can do

[2017-07-22 12:08] #827 closed

[2017-07-25 07:56] Chronophobe commented on #826
I was not able to reproduce the error myself either. So it was probably a mess up in reading the logs.

[2017-07-25 07:56] #826 closed

[2017-08-06 18:05] bboe commented on #773
Is there any progress on this issue? Do we still think this is something worth doing?

[2017-08-08 19:44] darthkedrik commented on #773
Sorry!
I'm in the process of a big move and I entirely forgot about this. So far I wrote a simple function which matched the states to their readable versions and was looking at how best to implement it before this came up. Feel free to close if it's no longer worth pursuing, though.

[2017-08-12 05:01] saratlingamarla commented on #773
can I implement this or is it closed permanently?

[2017-08-12 20:52] bboe commented on #773
@saratlingamarla I say take a stab at it. It sounds like @darthkedrik has begun some work on it, but isn't actively working towards it (please correct me if I'm wrong).

[2017-08-12 20:57] darthkedrik commented on #773
Yeah, go ahead and take a stab at it! If you want to take a look at what I have so far, I can get it to you, though I definitely understand if you wanted to start it on your own.

[2017-08-12 21:22] saratlingamarla commented on #773
thanks,i'll take a look at what you've done too.

[2017-08-12 21:57] jgr3go opened #830 "Access to raw json response from reddit"
## Access to raw json response from reddit

Is there a way to access the raw json response from the reddit API in praw5?  I want to save the json to a database, but I can't find anywhere in the documentation that gives access to the original reddit response.

I see issue #701  was closed, but I'd like access as well.  I'd like to use praw for authentication simplicity and post comment loading, but

[2017-08-13 03:58] bboe commented on #830
There is not currently a way to get at the raw json response using all the convenience that PRAW provides. However, you can leverage the rate limiting and authentication and make your own requests if you'd like:

    reddit.request(METHOD, PATH)

Perhaps a pull request could be made to save the last response as part of the `Reddit` object. The old approach of saving it with every related object re

[2017-08-14 19:55] jgr3go commented on #830
So, feel free to reject the above pull request, since it sounds like you don't want to expose this option, but for my purposes I just installed my fork because I don't need to serialize the classes in any meaningful way, and memory in my applications aren't a problem.

If you do feel like merging this, I think I covered the necessary tests, but let me know if you want anything more than what I've

[2017-08-17 22:43] leviroth opened #833 "Opaque assertions in CommentForest._insert_comment - exception better?"
## Issue Description

[This method](https://github.com/praw-dev/praw/blob/master/praw/models/comment_forest.py#L68) contains a couple assertions, one of which I recently tripped. I was thinking it would be better to raise an exception. That way PRAW could make it clear what's causing the problem (I'm not sure what it is, actually), and clients would be able to catch that specific exception instead

[2017-08-18 02:47] bboe commented on #833
The few assertion errors in the code are specifically there because they're making assumptions about the data -- they should never happen and when they do we need to understand why it is and fix the code to handle the new information. Can you reproduce the assertion exception?

[2017-08-18 03:38] leviroth commented on #833
Unfortunately, I can't reproduce it any more, even using the same comment tree. Something must have changed when I moderated a bunch of the comments.

[2017-08-18 05:51] bboe commented on #833
Darn. Well if it happens again, it would be great if you could save the stack trace. I'm going to close the issue -- please reopen if you are able to reproduce.

[2017-08-22 07:19] kiddick opened #834 "Please add some clarification about client_id and client_sercret"
I am here for the first time and it isn't clear enough where I could find that parameter.

My guess that I should register my app somehow, but please add this information to the description and docs. It will be very useful if we could have a direct link to getting this parameters

[code]

[2017-08-22 11:04] magicwizard8472 commented on #834
Hm, I think all of that is already covered in the docs

https://praw.readthedocs.io/en/latest/getting_started/quick_start.html
https://praw.readthedocs.io/en/latest/getting_started/authentication.html#script-application

[2017-08-22 14:06] bboe commented on #834
@kiddick where were you looking that left you confused? As @magicwizard8472 pointed out I think we've adequately covered that information in the documentation. but perhaps we could do a better job to link to the relevant part of the documentation.

Do those resources help you?

[2017-08-22 14:13] kiddick commented on #834
Yeah thanks guys.
But for the first time I was really confused with settings of read-only instance of `Reddit`.
So I've started right here https://praw.readthedocs.io/en/latest/getting_started/quick_start.html#read-only

And didn't noticed that link `(see Configuring PRAW for other methods of providing this information)`. So I think right here should be some mentioning about required params for in

[2017-08-22 14:18] bboe commented on #834
Perhaps it would make sense to move the authenticated section before `read-only` since most people probably don't want to work in read only mode.

How would you propose updating the second document? Perhaps you could open a PR to do so.

[2017-08-22 14:23] kiddick commented on #834
So talking about read-only mode..
I have tried to copy that code to console
[code]

And to be honest I still don't understand something about that parameters.
Is that placeholders for my settings? Or I could use random stuff to fill that parameters for read-only mode?

Anyway initialization of `Reddit` instance with dumb parameters was successful, but after that I've tried to exec that
[code]
And

[2017-08-22 15:48] bboe commented on #834
Those are placeholders. In the prerequisites section read:

![image](https://user-images.githubusercontent.com/48100/29574541-b3f1c5b8-8716-11e7-8e53-760725f3220c.png)

[2017-08-25 15:18] leviroth commented on #833
I do have the stack trace, but it's not very informative:

[code]

[2017-08-25 16:01] bboe commented on #833
Reproduce via:

[code]

I think it should work with any comment.

[2017-08-25 17:11] leviroth commented on #833
I'm not sure that mine has the same root cause as this snippet. For one, mine failed on a call to `replace_more`, after successfully calling `refresh`: https://github.com/leviroth/bernard/blob/4fccc6efc1bf6ebd7f9e8a2aab7022b5b0689769/bernard/actors.py#L296. For two, I haven't changed my bot at all in the past month, and it's carried out the same procedure several times before and after the one fai

[2017-08-25 17:48] bboe commented on #833
@leviroth that's a fair point.

[2017-08-25 19:49] jkdf2 opened #837 "Lucene (default) search does not return correct results for phrase searching (with double quotes)"
## Issue Description

The following search produces zero results:

[code]
Despite [the web-based search page returning 1 result](https://www.reddit.com/r/teasales/search?q=NOT+%28flair%3Aexpired+OR+flair%3Ameta%29+%22yunnan+sourcing%22+OR+yunnansourcing+OR+yunnansourcing.com&restrict_sr=on&sort=new&t=month).

It would appear that the praw `search` or the Reddit API is not supporting the phrase sea

[2017-08-26 09:20] kwwxis commented on #837
The API and the web-based search page are most likely returning different results due to them using different search engines.

About a month ago, [Reddit launched a new search stack for their web-based search](https://www.reddit.com/r/changelog/comments/6pi0kk/improving_search/), but [the Reddit API is still using the old search stack to ensure backwards compatibility](https://www.reddit.com/r/cha

[2017-08-26 18:49] jkdf2 commented on #837
You got it @kwwxis!

`NOT (flair:expired OR flair:meta) selftext:"yunnan sourcing" OR title:"yunnan sourcing" OR author:"yunnansourcing" OR selftext:"yunnansourcing" OR title:"yunnansourcing" OR site:"yunnansourcing.com" OR selftext:"yunnansourcing.com" OR title:"yunnansourcing.com"`

...does the trick for a comprehensive search. Thanks!

[2017-08-26 18:49] #837 closed

[2017-08-26 23:08] leviroth commented on #833
Anyway, the code that you included looks like it was fixed in e6662cfccee11218c7394f39242fa1b8aa584444; I reproduced with 5.0.1, but not with the latest master branch.

[2017-08-27 02:58] bboe commented on #833
Sweet. Thanks for looking into that. I'll close this issue again, until we have something reproducible on the master branch.

[2017-08-27 02:58] #833 closed

[2017-08-27 13:48] jkdf2 opened #838 "Comment ID changing on comment.refresh()"
## Issue Description

I do believe this is a bug:

[code]
does not always print the same ID.

For example, I have a log entry which has:

[code]

I have not yet figured out the exact reproducible steps.

## System Information

PRAW Version: 5.0.1
Python Version: 3.6
Operating System: Debian Testing

[2017-08-27 13:51] jkdf2 commented on #838
This is also a place where I was experiencing praw-dev/praw#833 and wonder if they are related.

[2017-08-27 15:23] bboe commented on #838
That does sound like a bug. Can you produce a snippet of code which deterministically reproduces the problem?

[2017-08-27 16:57] jkdf2 commented on #838
Here we go. Fairly minimal.

[code]

[2017-08-27 17:03] jkdf2 commented on #838
Here's another example which does not require any secondary input. The bot crashes itself:

[code]

[2017-08-27 17:08] jkdf2 commented on #838
Notably, the `comment.id` becomes the `id` of the `"Follow-up"` comment made before the loop begins.

Also confirmed on `praw==5.0.2.dev0`

[2017-08-27 17:22] jkdf2 commented on #838
Just trying various versions now. Confirmed on `praw==4.6.0`.

[2017-08-27 20:17] frosty00 commented on #838
Hi, does anyone know a fix to this bug or ways I can code around it?

I'm currently working on a bot that uses comment.refresh() to check if it has already replied but it seems to be replying to the wrong comment (one comment down from the one it should be).

This is the code I am using:

`if match and not any(c.author == BOT_NAME for c in comment.refresh().replies):
        reply = comment.reply(

[2017-08-27 21:56] bboe commented on #838
@jkdf2 I am able to reproduce the issue, and it appears to be a bug in Reddit's end.

[code]

First, fetching a top-level comment should never result in two comments in the tree, but also, in this case neither is the one I'm actually looking for. Manually building the comment with the old ID and calling refresh a second time results in the right value. Perplexing.

I'll see if I can get in touch w

[2017-08-27 23:04] bboe commented on #838
@jkdf2 I merged #839 which raises an exception when this mismatch occurs. The work around is to handle the exception and call refresh again, as that appears to work for this particular case.

My guess is that attempting to fetch a comment permalink the very first time a comments tree is built is triggering some odd bug on Reddit's end (maybe one that's always been there).

I'm going to close this

[2017-08-27 23:04] #838 closed

[2017-08-28 00:32] jkdf2 commented on #838
@bboe Awesome. Nice find that doing a second `refresh` is the solution.

[2017-08-28 20:05] frosty00 commented on #838
@bboe It seems that sometimes subreddit.comment.stream() provides me with a comment that has been deleted, (or gets deleted while it is being processed) and this is causing my bot to crash.

    for comment in subreddit.stream.comments():
        try:
            comment.refresh()
        except praw.exceptions.ClientException:
            print('SLEEPING 5 SECONDS', comment.permalink(), comment.b

[2017-08-28 20:12] bboe commented on #838
I'd recommend ignoring the comment if the second refresh fails.

[2017-08-28 20:56] frosty00 commented on #838
File "./commentreplier.py", line 15, in load_comment
      c.refresh()
    File "/usr/local/lib/python3.4/dist-packages/praw/models/reddit/comment.py", line 196, in refresh
      queue.extend(comment._replies)
    AttributeError: 'MoreComments' object has no attribute '_replies'

@bboe ignoring deleted comments worked but I'm now getting this error when calling refresh the first time.

Any ideas a

[2017-08-29 14:22] frosty00 opened #841 "comment.refresh() causes praw to crash"
## Issue Description

This issue arises when calling refresh on a comment. I have been able to reproduce the bug multiple times by running this simplified script:

    #!/usr/bin/python3
    import praw

    reddit = praw.Reddit('bot1', user_agent='python')
    askreddit = reddit.subreddit('askreddit')

    for comment in askreddit.stream.comments():
        print('REFRESHING:', comment.id, commen

[2017-08-29 14:52] bboe commented on #841
Verified. It looks like it's returning the entire submission in this case.

Interesting that /api/info works okay though: https://www.reddit.com/api/info/.json?id=t1_dma3mi5

[2017-08-31 04:53] Summertime opened #843 "Dates and Times are not datetime.datetime"
## Issue Description

for things like `Submission.created_utc` and `ModmailConversation.last_updated` and similar, it takes a bit of an effort to convert the provided items into something usable

[code]

Both incantations are a bit unweildly if used inline, and would take up >8 extra lines if moved into functions (assuming proper coding style) or result in creation of yet another dreaded `utils.py

[2017-08-31 05:21] bboe commented on #843
@Summertime you have a good suggestion as this might make working with PRAW a little easier. However, I am a little weary of modifying attributes returned from PRAW that don't represent one of PRAW's existing models. This is in effort to try to keep PRAW's functionality relatively minimal.

However, I am very open to the idea of addon-packages that dynamically add additional attributes. In fact, t

[2017-08-31 05:21] #843 closed

[2017-08-31 14:35] #841 closed

[2017-08-31 14:37] bboe commented on #834
Closing this issue due to a week of inactivity. @kiddick if you're interested in improving the documentation please open a PR and refer to this issue.

[2017-08-31 14:37] #834 closed

[2017-08-31 14:39] bboe commented on #830
@jgr3go did your approach end up working properly for comments when you call replace_more?

[2017-08-31 14:40] bboe commented on #773
@saratlingamarla and @darthkedrik any progress on this issue? I'm going to close it for the time being, but if anyone wants to open a pull request, please feel free to do so.

[2017-08-31 14:40] #773 closed

[2017-09-02 00:45] nmtake opened #845 "UnicodeEncodeError is raised if reddit returns localized error message"
## Issue Description

Context: [[PRAW] UnicodeEncodeError when submitting non-unicode text : redditdev](https://www.reddit.com/r/redditdev/comments/6xf600/praw_unicodeencodeerror_when_submitting/)

Reddit may return localized error messages depends on the user's preference settings. Since
localized error messages may contain non-ascii characters (and underlying requests library
converts the errror

[2017-09-02 03:56] bboe commented on #845
Well that's certainly not something I would have thought to test for. @nmtake do you think you could try fixing it? Likely requires decoding the message.

[2017-09-02 07:42] nmtake commented on #845
Hopefully, I'll send a patch in a day or two.

[2017-09-05 15:05] #845 closed

[2017-09-07 00:27] jarhill0 opened #848 "Clarify that subreddit filtering does not work for comment listings"
[Original post in r/redditdev](https://www.reddit.com/r/redditdev/comments/6yhalr/cant_block_subreddits_with_praw/) and [response](https://www.reddit.com/r/redditdev/comments/6yhalr/cant_block_subreddits_with_praw/dmnfdl3/) from @bboe.

Subreddit filtering does not have any effect on comment listings, and this should be clarified in the PRAW documentation. [The current documentation for the Subred

[2017-09-07 00:27] jarhill0 commented on #848
I plan to fix this and submit a PR.

[2017-09-07 00:36] jarhill0 commented on #848
Testing reveals it also doesn't work for `gilded()`.

[code]

[2017-09-07 00:47] jarhill0 commented on #848
Testing reveals it also doesn't work for `gilded()`.

[code]

[2017-09-07 03:55] #848 closed

[2017-09-07 19:55] mutoid commented on #838
I'm using 5.1.0 and I have a simple comment stream bot that has this issue.  I try calling .refresh() on a comment when the body matches the desired string so that I can get author, parent, etc., but the ClientException gets thrown on id change, and a second refresh() still doesn't do the trick.  I'm testing the behavior by replying to a comment with the matching string, using another account.

I

[2017-09-07 20:02] frosty00 commented on #838
if match:
        try:
            time.sleep(10)
            comment.refresh()
        except praw.exceptions.ClientException:  # fix for deleted comments
            print('SKIPPING due to ClientException:', comment, comment.body)
            continue

This works 90% of the time for me

[2017-09-07 20:30] bboe commented on #838
Seems like Reddit lags in rebuilding the comment tree sometimes so that way of refreshing recently posted comments isn't the best way to refresh them. Perhaps I might expose a way to refresh using just api/info as that should be more reliable, but will require additional requests.

[2017-09-21 07:25] afarah1 opened #850 "Please stop breaking API for useless changes"
I have never had so many issues when upgrading a software before. You completely broke your API from 3.X to 5.X. `text=` becomes `selftext=` in `submit`, `get_*` becomes the second half, `.permalink` is not a string anymore - or is it? - I don't even know, seems to be a method for `Comment` and a string for `Submission`, or maybe it depends on whether the object has been fetched or not... Why? Jus

[2017-09-21 15:39] cue03fw commented on #850
I normally just lurk, but this is just too stupid that I felt the need to comment.

Well, uh, yes, that's what tends to happen when someone bumps a major version or two. These changes improve readability, reduce vagueness, make less pointless characters to type, and makes it easier to memorize the names of methods, attributes and functions, among other things. I don't see why you're criticizing th

[2017-09-21 15:56] bboe commented on #850
@afarah1 I understand your frustration with the breaking changes. When writing PRAW4 I decided the improved readability and maintainability of PRAW was worth the hassle of people updating, and I put a ton of effort in to educating people on the changes when they asked for help. The result is now there are quite a few people who are able to help others when making this change.

@cue03fw has already

[2017-09-21 15:56] #850 closed

[2017-09-29 18:22] carissableker opened #852 "How would one go about citing this package?"
## Issue Description

Is this okay?

https://praw.readthedocs.io/en/stable/.

[2017-09-29 18:36] bboe commented on #852
Are you citing the package documentation or referencing the package itself? If the former you might want to give a more permanent link to the specific piece of documentation and when you accessed it.

If the latter, consider instead linking to https://github.com/praw-dev/praw. Also for casing I would prefer to see "API".

[2017-09-29 19:08] carissableker commented on #852
We're working on a text analysis project, particularly how themes appear and evolve over time in an online social paradigm such as Reddit. I do mean to reference the package itself. The above reference I found in a random paper, after using the below search:

https://scholar.google.com/scholar?q=PRAW+python+reddit

If I use the [scipy  style](https://www.scipy.org/citing.html), the reference would

[2017-10-09 08:45] miguelgfierro opened #853 "Is it possible to do a search with a specific date"
I'm searching in subreddits:
[code]
Is there an option to filter per specific date?, for example I want the results from March 2016 to April 2016.

#### System Information
OS:  linux
Python version:  3.5.2 |Anaconda custom (64-bit)| (default, Jul  2 2016, 17:53:06)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
Python Reddit API Wrapper version:  5.1.0

[2017-10-09 15:44] #852 closed

[2017-10-09 17:01] jarhill0 commented on #853
Use [`Subredit.submissions(start=None, end=None, extra_query=None)`](http://praw.readthedocs.io/en/latest/code_overview/models/subreddit.html#praw.models.Subreddit.submissions). `start` and `end` are unix timestamps and `extra_query` is an additional search term for narrowing results further.

For your use-case, your third line should be:

[code]

This will yield submissions, newest first, in betw

[2017-10-09 17:19] #853 closed

[2017-10-10 10:34] miguelgfierro commented on #853
@bboe  the solution you gave me was not working for me. Then I found that I have to put the query in `cloudsearch` format. The final solution would be like this:

[code]
I get this reponse:
[code]
This is the log tace:
[code]

[2017-10-24 03:10] jarhill0 opened #856 "Name shadowing due to permalink becoming a Reddit-provided JSON attribute."
See https://www.reddit.com/r/redditdev/comments/78bgvn/praw_has_reddit_changed_the_api_in_such_a_way/.

[Reddit-provided JSON comment objects](https://gist.github.com/jarhill0/9aa047651d4289ff2ea5241465ebb967) now have a `permalink` attribute. This wasn't present previously, and now that it is, there ends up being a naming conflict with the `Comment.permalink()` method:

https://github.com/praw-de

[2017-10-24 05:01] jarhill0 commented on #856
I'm messing around with this and found something that might be useful.

[code]

As you can see, referencing `my_comment.permalink` before the comment has been fully loaded returns the `permalink()` method. But once the comment has loaded from the Reddit API, the API's `permalink` key overrides the method.

In fact, when a comment has not been fully loaded, calling its `Comment.permalink()` method

[2017-10-24 12:57] levi-rs commented on #856
This is problematic on older versions of PRAW as well (3.6.1 in my case). Any chance of having a fix back ported to older major releases?

[2017-10-24 15:16] bboe commented on #856
I suggest we simply remove the permalink method because it was merely a convenience while Reddit didn't have it.

@levi-rs perhaps you can look into something similar for PRAW 3.6.1. I'm happy to release a patch version that removes the corresponding permalink method, but I won't put any additional efforts into it.

[2017-10-24 15:18] jarhill0 commented on #856
@bboe Removing the permalink method would break a lot of scripts that expect it to exist, right? Wouldn't that require bumping the major version number?

[2017-10-24 15:23] bboe commented on #856
@jarhill0 normally yes, but given that those uses are currently broken this can certainly fall into the bugfix category as well. If someone feels strongly about calling this a major version, I'm okay with that as well.

I commented to that effect here: https://github.com/praw-dev/praw/pull/857#issuecomment-339027782

[2017-10-24 17:03] levi-rs commented on #856
@bboe Thanks for the comment about back porting a fix. Once one of the two fixes gets merged, I'll work on a new PR

[2017-10-24 17:22] #856 closed

[2017-10-24 17:29] bboe commented on #856
@levi-rs ready to look at a PRAW3 fix when you are. I think that can be accomplished by removing the `permalink` property.

[2017-10-25 15:55] levi-rs commented on #856
FYI, still working on a fix. Having trouble getting the v3.6.1 commit unit tests to pass, even before making any modifications.

[2017-10-25 16:52] bboe commented on #856
I think the passwords for the test accounts changed, which were previously hard-coded.

[2017-10-28 20:45] bboe commented on #856
@levi-rs I just wanted to give you a heads up that I'm looking into the PRAW3 issue. The tests are a mess there.

[2017-11-02 22:06] jsergio123 opened #861 "[Errno 21] Is a directory: '/'"
## Issue Description

[code]

raises Exception "[Errno 21] Is a directory: '/'" on Android only. Windows seems to be unaffected and working as normal.

## System Information

    PRAW Version: 3.6.2
    Python Version: 2.7
    Operating System: Android 5.1

[2017-11-03 15:29] bboe commented on #861
Sounds like this might be a bug with the python implementation on Android. I didn't even know that was a thing. It would be more useful to post the entire stack trace so we can see where the issue is coming from. Nevertheless, it's not likely something we'll fix. However, I'm happy to look at a PR if you think you can come up with a fix for it.

[2017-11-03 15:29] #861 closed

[2017-11-07 21:08] leviroth opened #863 "Support two-factor authentication"
Reddit now has 2FA for moderators, rolling out to all users in the Near Future™. So PRAW support would also be nice.

According to [this comment](https://www.reddit.com/r/modnews/comments/7bfoqg/twofactor_authentication_now_available_for/dphm3vq/), the passcode can simply be joined to the password with a colon in between.

[2017-11-07 21:12] bboe commented on #863
Can you confirm that it is necessary for API access? Seems like it would make script access more difficult if 2FA is on as the password would essentially be dynamic, and likely have to change each time a new refresh token is needed.

[2017-11-07 21:27] leviroth commented on #863
In a quick test, I wasn't able to use script-auth with 2FA turned on.

[2017-11-07 21:30] bboe commented on #863
That's interesting. I wonder how that'll actually work then. Can you confirm it works if you add your token in? If it is actually needed, I suspect it'll break once the token changes.

[2017-11-07 21:31] leviroth commented on #863
Yeah, it worked once I added the token.

[2017-11-07 23:25] bboe commented on #863
I bet that works for 1 hour, while your access token is valid, but once that expires, and PRAW automatically goes to fetch another access token, it'll be rejected. Unless they somehow allow script-apps to use the same 2FA token (security issue) then long-running PRAW scripts using script-auth is going to be problematic.

I'll keep following up on the conversation to see what Reddit's thoughts are.

[2017-11-07 23:39] bboe commented on #863
Based on [this response](https://www.reddit.com/r/modnews/comments/7bfoqg/twofactor_authentication_now_available_for/dphy9oa/) it would seem that for script-auth type 2FA provides no additional benefits since the secret to generate the 2FA token would need to be stored along with the client.

With that in mind, I think we should add a subsection to the script-auth application type pertaining to 2F

[2017-11-14 13:20] Eegras opened #864 "Updating subreddit settings resets allow_post_crossposts to default ( True )"
## Issue Description
Updating a sub's settings (`.mod.update()`), and not supplying allow_post_crossposts resets allow_post_crossposts.

## System Information

    PRAW Version: Version: 5.2.0
    Python Version: Python 3.4.2
    Operating System: Linux version 3.16.0-4-amd64 (debian-kernel@lists.debian.org) (gcc version 4.8.4 (Debian 4.8.4-1) ) #1 SMP Debian 3.16.43-2 (2017-04-30)

[2017-11-14 17:01] bboe commented on #864
Would you be interested in making a pull request to add that field?

[2017-11-14 19:14] Eegras commented on #864
Definitely.  I shot a PM over to reddit.com because I noticed the field didn't exist when you GET the information.  Once they resolve that I'll make a PR for it.

[2017-11-16 06:12] #863 closed

[2017-11-16 16:10] timendum opened #866 "submission.comments.list() does not contains all comments, even after replace_more()"
## Issue Description

In some cases, I get a limited list of comments.
I'm unable to get a full list of comments without inspecting the replies of every comment.

### Sample code

    reddit = praw.Reddit()
    submission = reddit.submission(id='7d3oap')
    submission.comments.replace_more(limit=0)
    len(submission.comments.list()) # 10

My expectation was to have 15 comments in the list, like

[2017-11-16 16:43] bboe commented on #866
Try changing `limit=0` to `limit=None`. The web interface requires you to click "continue this thread" thus you need to actually replace, not just remove, the MoreComments objects from the tree.

http://praw.readthedocs.io/en/latest/code_overview/other/commentforest.html#praw.models.comment_forest.CommentForest.replace_more

[code]

[2017-11-16 16:44] #866 closed

[2017-11-29 17:34] yhuag commented on #177
@judethedude Could you specify how to solve the "Path" issue? Thanks.

[2017-11-29 17:38] yhuag commented on #177
I found a way to solve the issue:
When using Python2.7, or starting the shell like `python2`, we need to do `python2 -m pip install --user praw` to make sure they are linked during installation.
Same for `python3` shell.

[2017-11-30 14:45] eranhirs commented on #597
It's been almost 2 years since this issue opened, I wonder if you might reconsider this.

[2017-11-30 15:42] bboe commented on #597
How do you propose adding such support? As mentioned above, I'm open to considering a pull request adding an adapter that supports async. This addition would need to be made by someone with a vested interest in that addition.

[2017-12-01 10:35] eranhirs commented on #597
As we talked over gitter, you said async requests won't help a lot with the crawl speed because reddit has limits of 60 requests per minute.
So I guess it's not relevant.

[2017-12-06 03:46] goldenercobra opened #870 "HTTP 500 on submission.post(flair_id, flair_text) if user is a moderator of said subreddit"
## HTTP 500 on submission.post(flair_id, flair_text) if user is a moderator of said subreddit

Posting a submission on a subreddit you moderate on with `flair_id` and `flair_text` specifies leads to a HTTP 500 error. Using a `SubmissionModeration` object avoids the error, but is annoying nonetheless and the error message is non-descriptive.

[External Report](https://www.reddit.com/r/redditdev/com

[2017-12-06 04:44] jarhill0 commented on #870
Both [Reddit's API docs](https://www.reddit.com/dev/api#POST_api_submit) and [PRAW's docs](https://praw.readthedocs.io/en/latest/code_overview/models/subreddit.html#praw.models.Subreddit.submit) are confusing about how to use these parameters, and perhaps the PRAW docs could use clarification.

The parameter `flair_id` doesn't represent the flair's CSS class as you might (and I did) assume it does

[2017-12-06 04:48] 13steinj commented on #870
@jarhill0 even if @goldenercobra was using the method incorrectly, under no circumstances should reddit return a 500 error (worst case a 400/403/404) and whatever parameters s/he had should be used to make a post to /r/bugs

[2017-12-06 04:58] jarhill0 commented on #870
@13steinj Well, it's reproducible if you want to file a bug (I reproduced it myself when I was trying to figure out what was going on).

Passing an arbitrary but invalid string to [/api/submit](https://www.reddit.com/dev/api#POST_api_submit) as the `flair_id` parameter results in a 500 response from Reddit:

[code]

Using my debugger, PRAW is posting the following data and gets the following respo

[2017-12-08 22:26] datamafia opened #871 "Not secure call and payload call to mothership"
## Issue Description

Local dev this morning had my network filter alert me that PRAW was phoning home.  Via Little Snitch:

![image](https://user-images.githubusercontent.com/170310/33778249-265ffff0-dc05-11e7-8b23-2e978051184b.png)

I am concerned, can you elaborate on this non secure call and payload and how to disable?

[2017-12-08 22:42] bboe commented on #871
PRAW utilizes my update_checker app to check for package updates: https://github.com/bboe/update_checker

You can disable the update check via `check_for_updates=False` when initializing PRAW as described here: https://praw.readthedocs.io/en/latest/getting_started/configuration/options.html#configuration-options

[2017-12-08 22:43] jarhill0 commented on #871
Out of curiosity, why does update_checker contact your server instead of PyPI? It seems like it takes more work to set up and maintain your own server.

[2017-12-08 22:43] bboe commented on #871
It certainly could, but then I have no access to the distribution of PRAW versions in utilization. In the past this has been useful to make decisions pertaining to breaking changes.

[2017-12-08 22:52] bboe commented on #871
Given the ability to disable the check I'm closing this as a non-issue. I'll make a note to look into automating letsencrypt for my server so that the communication with update_checker can be encyrpted. That's really an issue with `update_checker` though.

Feel free to add any commentary or questions here about the use of update_checker.

[2017-12-08 22:52] #871 closed

[2017-12-13 23:24] xiaodeaux opened #872 "Subreddit object is missing certain attributes"
## Issue Description

When looking at the attributes of a Subreddit object using vars() it doesn't show all available attributes unless one of the missing ones is accessed (actually I only tested accessing Subreddit.title by printing it).

`sub = reddit.subreddit('askreddit')`

`vars(sub) #Will be missing attributes like sub.title`

`print(sub.title)`

`vars(sub) #Will have all the attributes expe

[2017-12-13 23:27] leviroth commented on #872
This is due to PRAW's use of lazy objects: http://praw.readthedocs.io/en/latest/getting_started/quick_start.html#determine-available-attributes-of-an-object

[2017-12-13 23:43] bboe commented on #872
Yes, this is expected behavior. If you can think of a clever way to tell people that data is missing, I'm all ears. Maybe we can change the title of `_fetched` to `_has_all_attributes` to give a hint. Thoughts?

[2017-12-13 23:43] #872 closed

[2017-12-14 00:31] xiaodeaux commented on #872
That's my bad for misunderstanding and not reading the documentation more closely.

[2017-12-22 05:25] bboe commented on #864
@Eegras do you know of any update on this issue?

[2017-12-22 05:28] bboe commented on #870
I think PRAW's documentation certainly could be improved to help clarify. I also agree that Reddit should not return a 500 error, and doing so indicates it's a bug on their end. Ideally an error response would be returned with `InvalidFlairTemplate` or something to that extent. However, short of that happening there really isn't anything we should do on PRAW's end and thus I'm going to close this

[2017-12-22 05:28] #870 closed

[2017-12-23 04:25] PokestarFan opened #877 "Some random recursion error"
I have this program to automatically post links to subreddits, but for some reason when it tries to submit a link it coughs up a very long recursion error.

# System Info
PRAW version: 5.3.0
Python Version: 3.6.1
System Version: Windows 10 Build 15063/Version 1703

# Code
[code]

[2017-12-23 04:33] bboe commented on #877
What is `type(title)` and `type(link)` before you call submit? I suspect they're not strings. If they are, can you reproduce the error with a single submit line?

[2017-12-23 06:29] bboe commented on #877
I'm going to close this issue for now, as I strongly suspect the issue is in the argument types. I will happily reopen with an example showing how to reproduce.

[2017-12-23 06:29] #877 closed

[2017-12-23 16:33] PokestarFan opened #878 "Recursion Error -- UPDATED"
I am adding more info for #877 .

# System Info:
Praw: 5.3.0
Python: 3.6.1
OS: Windows 10 Build 15063/Version 1703

# All Code:
[code]
## Link I used
https://www.nytimes.com/2017/12/22/us/politics/fbi-director-president-trump.html

# Full Log File
[poster_12_23_17.log](https://github.com/praw-dev/praw/files/1584270/poster_12_23_17.log)

[2017-12-23 16:42] PokestarFan commented on #878
Revised code to show more info
Log: [poster_12_23_17.log](https://github.com/praw-dev/praw/files/1584277/poster_12_23_17.log)
Code: [poster.tar.gz](https://github.com/praw-dev/praw/files/1584282/poster.tar.gz)

[2017-12-23 17:29] jarhill0 commented on #878
I revised your code to print out `title` and `link` and their types just before the submission is made. If you use the default title (if you don't enter your own), `type(title) = <class 'bs4.element.NavigableString'>`.

I didn't encounter a recursion error when I changed `title = soup.html.head.title.string` to `title = str(soup.html.head.title.string)`.

The recursion error is due to PRAW trying

[2017-12-23 18:16] bboe commented on #878
Based on @jarhill0's comment it would seem my original assumption was correct about the type being passed as the issue. Closing again. Thanks for reporting.

[2017-12-23 18:16] #878 closed

[2017-12-27 17:04] Eegras commented on #864
Looks like they did update edit.json to contain at least the noted fields, so that's good.  I haven't had time to look at updating PRAW to make sure it works, or even testing to see if it might just work.

[2018-01-08 23:23] ZombieTaco opened #880 ".search() redirects when searching links"
when searching for links

 will redirect to

so using .search("https://google.com") will give the following error:

example code:

        print(submission.title)

[2018-01-09 01:27] bboe commented on #880
Thanks for reporting. What is it that you expect to happen?

[2018-01-09 01:33] ZombieTaco commented on #880
what .search() should do in this case? perhaps handle the redirect or a separate search for text submissions and link submissions.
e.g.

[2018-01-17 03:06] gautam678 opened #881 "Getting the number of upvotes and downvotes for comments"
## Issue Description
I'm trying to retrieve the upvotes and downvotes for each comment in a post. The data I get from PRAW look like this
[code]
Here the score is 2533 and the upvotes are 2533. But the actual comment on reddit has a different upvote/downvote count. Is there a way to get the upvotes/downvotes from comments through PRAW?

## System Information

    PRAW Version: 5.2.0
  Python Versi

[2018-01-17 03:32] jarhill0 commented on #881
As far as I know, the Reddit API stopped returning that info a few years ago. Presumably they left the fields in to preserve backwards compatibility, but as you noticed, the numbers are not accurate. I don't think the Reddit API offers a way to get at this information any more.

[2018-01-17 06:15] bboe commented on #881
@jarhill0 is correct. Thanks for using PRAW.

[2018-01-17 06:15] #881 closed

[2018-01-17 16:36] gautam678 commented on #881
Thank you so much. Any idea why they supporting this?

[2018-01-20 07:20] dkemmet opened #883 "Feature Request: Delete Messages from Inbox"
## Issue Description
Could we please get the option for deleting a message (PMs) from account inbox? With something link
r.inbox.messages.delete('message_id').

BACKGROUND: Currently I'm writing a bot that needs to check for unread messages, take action on them and then delete them when they are done. However, the functionality does not seem to be there. nor does there seem to be a read/unread att

[2018-01-20 07:21] dkemmet commented on #883
This feature appears to exist already in the API so it would just need a wrapper written for it in praw.

[2018-01-20 19:53] dkemmet commented on #883
hey @bboe I am BARELY starting to write any manner of sophisticated/quality code and at that have only been using git through the CLI and tools like smartgit or sourcetree for mere months. With that background in mind I don't think it would be wise for someone like me attempt to contribute directly to the code without guidance or a mentor. If you could point me in the direction of such a person I'

[2018-01-21 04:42] bboe commented on #883
I'm happy to provide some assistance to you as long as you're okay with semi-slow asynchronous communication. We have a community of people that can help at https://gitter.im/praw-dev/praw.

I would suggest starting by adding a `delete` method to the `Message` class: https://github.com/praw-dev/praw/blob/5af09837a9270134c98e3695404664610b7bb4c2/praw/models/reddit/message.py#L9

The method can look

[2018-01-21 06:18] dkemmet commented on #883
# Next Steps
<p> Excuse the write up, I'm trying to make sure I do this right. As they say, Measure twice, cut once.</p>

## Step 1: Create a pull request
---
I imagine I  need to first clone the code to my computer and then work on the branch assigned to me by my pull request. I can probably do this safely with smartgit.

<br />

## Step 2: Make The Method
---
In <i><b>praw / models / reddit / me