[2018-01-21 06:38] jarhill0 commented on #883
A few comments @dkemmet:

- The `@classmethod` decorator makes a function belong to the class `Message`, rather than a particular `Message` instance. You should remove it, and then `delete` will apply to a particular message, rather than the `Message` class as a whole.
- I believe `delete` shouldn't take any parameters besides `self`. That way, if I have a message object named `m`, I can delete th

[2018-01-21 06:41] bboe commented on #883
I was typing up a response but @jarhill0 covered everything better than I was about to (thanks @jarhill0). Here's the only bit I'd like to add:

Yes, fork PRAW into your own copy of the repository. After you've cloned it, I encourage you to make a new branch locally so that you're not working on your own master branch. Making a new branch is preferred because otherwise you might inadvertently upda

[2018-01-22 07:14] #864 closed

[2018-01-22 23:12] ghost opened #885 "ClientException: Invalid URL for Random Submission"
## Issue Description

For some subreddits an Invalid URL exception is thrown when I try to get a random submission.

Code:
[code]

Output:
[code]

## System Information

PRAW Version: 5.3.0
Python Version: 3.6.4
Operating System: Windows and Linux

[2018-01-23 01:11] jarhill0 commented on #885
Looking into this, I've found some interesting things.

I notice this issue in web-based Reddit as well, not just PRAW. Loading https://reddit.com/r/pics/random in the browser redirects to a random post as expected, but https://reddit.com/r/wallpapers/random, redirects to the front page of the subreddit.

There doesn't seem to be a standard option to disable /random in subreddit settings. This mak

[2018-01-23 01:17] bboe commented on #885
@jarhill0 you're so amazing. I was just looking into this and bam I see your comment get added.

I would consider the behavior introduced in the dev version a bug. Such a URL should not be accepted and should continue to raise the same exception. Do you think you could make a PR to make `id_from_url` a little more specific?

@Patreek87 thanks for filing. Given that this issue affects Reddit and wi

[2018-01-23 01:53] jarhill0 commented on #885
@bboe can we chat on gitter?

[2018-01-23 06:40] jarhill0 commented on #885
**TLDR**: This is a side effect of excluding a subreddit from /r/all. As far as I can tell, there is no way to tell whether a subreddit is excluded from /r/all.

---

I did further research and found [this thread](https://www.reddit.com/r/bugs/comments/4qwt3j/rawwnimerandom_redirects_to_rawwnime_not_a_random/).

/u/13steinj points out that Reddit source is designed to do this when a subreddit's mo

[2018-01-23 20:23] bboe commented on #885
Re-opening given the discussion that this might be intentional behavior on Reddit's end.

[2018-01-24 03:10] madbook commented on #885
Hey @jarhill0, thanks for the ping.  I think this isn't a bug _per se_, but I totally agree that it's not great behavior.  It's been a while since I've looked at that code, but IIRC r/random, r/<subreddit>/random, r/all, search, and maybe one or two other small things were all tied to the same subreddit preference.  At some point later a separate setting was added, `allow_discovery`, which some of

[2018-01-24 03:21] jarhill0 commented on #885
I appreciate the response! Thanks for looking into it.

[2018-01-24 14:38] jwoodrich opened #887 "ListingGenerator gets stuck in loop when 'before' parameter is supplied."
## Issue Description

When retrieving submissions and supplying the 'before' parameter, the ListingGenerator gets stuck in a loop where the same 'after' parameter is submitted to reddit infinitely.  I'm submitting a pull request with a fix.  Additional details can be found in the pull request.

Example:
``reddit.subreddit(subreddit).new(limit=1024,params={'before': 't3_7xxxxx', 'count': 1024 })``

[2018-01-24 17:30] #887 closed

[2018-01-24 17:32] bboe commented on #885
@madbook is the behavior of /r/random tied to the behavior of /r/{SUBREDDIT}/random? That's actually what we're asking about here.

[2018-01-25 15:44] madbook commented on #885
@bboe IIRC, the two behaviors _are_ currently connected.  If any change comes about from this it should only affect the behavior of `/r/{SUBREDDIT}/random`.

[2018-01-26 00:26] bboe commented on #883
@dkemmet it looks like @theriley106 went a head and made a PR for this feature. Did you have anything started that you'd like to follow through with? I'm asking since we were already in the process of working with you and want to ensure you don't feel like any effort you put in was for nothing.

[2018-02-06 16:31] ZeerakW opened #890 "Handle Connection Errors"
## Issue Description

If running collection for a historical period, often the connection is dropped with timeout errors for me. I've tried on my local machine and a server which is always on. Some simple error handling and requesting the same item (comment/post) again would be good.

Paste of code since GitHub formatted it poorly: https://pastebin.com/pNUpgJXL

Errors raised:

`    raise ReadTime

[2018-02-06 17:07] ZeerakW commented on #890
Needs to go to prawcore, not praw. My bad.

[2018-02-06 17:07] bboe commented on #890
Do you have the exception you can paste? prawcore should retry all such exceptions 2 times, but I want to verify that it is indeed doing that. Once it's made a total of three attempts the exception is kicked back to the user.

[2018-02-06 17:08] ZeerakW commented on #890
Here's the full exception:

`Traceback (most recent call last):
  File "/home/zeerak/anaconda3/lib/python3.6/site-packages/requests/adapters.py", line 440, in send
    timeout=timeout
  File "/home/zeerak/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py", line 639, in urlopen
    _stacktrace=sys.exc_info()[2])
  File "/home/zeerak/anaconda3/lib/python3.6/site-packages/urllib3/util/r

[2018-02-06 17:10] bboe commented on #890
For future reference you can triple quote the block like:

[code]

[2018-02-06 17:22] bboe commented on #890
Looks like `ReadTimeoutError` is not something that is retried, which I would consider a bug. It's alright to leave here, but it is something I'll have to look into fixing.

It appears that https://github.com/praw-dev/prawcore/blob/8e4933b924269b2318346c50ff1071bbb0fdc6a5/prawcore/sessions.py#L24 needs to add `requests.exceptions.ReadTimeout`.

[2018-02-10 22:37] bboe commented on #830
As mentioned in #831 this feature would be great in https://github.com/praw-dev/prawdditions.

[2018-02-10 22:37] #830 closed

[2018-02-11 02:38] jarhill0 commented on #890
I believe https://github.com/praw-dev/prawcore/pull/64 closes this.

[2018-02-11 02:38] #890 closed

[2018-02-16 09:52] aatikturk opened #895 "Issues with disabling Inbox replies when posting"
## Issue Description

When submitting a post through a subreddit instance,  to disable inbox replies none of the below methods work. Did I do something wrong? Whenever I post using below methods, comment replies sent to my inbox.

Method 1 - Directly in the submit() method as a kwarg
`subreddit.submit("title", "body text here", send_replies=False)`

Method 2 - Using disable_inbox_replies() method

[2018-02-16 10:08] #895 closed

[2018-02-19 17:33] timorthi opened #896 "Submissions with invalid IDs can be initialized, but not invalid URLs"
## Issue Description

Hi! So I believe this is more of a discrepancy in behavior than a bug. I'm working with the `Submission` model which can be initialized via ID or URL. There is a difference in what error is raised (as well as when it is raised) when invalid parameters are provided:

[code]
Here, it is not clear that the `Submission` object is not valid until you try to access an attribute.

[

[2018-02-19 18:13] leviroth commented on #896
The errors are different because they correspond to different underlying problems. The `url` parameter is meant to be used with a comment thread URL, such as `https://www.reddit.com/r/redditdev/comments/7yl7j9/hotlinking_images_no_longer_works_for_me/`. When you instantiate a `Submission` with this URL, PRAW parses the URL in order to extract the submission ID, and this ID is used for subsequent A

[2018-02-19 19:04] timorthi commented on #896
Thanks for the response - it makes sense to me now as to why the errors are different :)

[2018-02-19 19:04] #896 closed

[2018-02-24 06:03] jarhill0 opened #899 "Setting a [DEFAULT] configuration in ~/.config/praw.ini makes some tests fail"
## Issue Description

With something like the following in `~/.config.praw.ini`:

[code]

I get the following failures when I run `python3 setup.py test`:

[code]

After removing the `[DEFAULT]` section, all tests passed as expected. The failures were caused by PRAW finding and using default credentials when the tests expect there to be no such defaults.

I'm not sure if this is something we can f

[2018-02-25 21:01] #899 closed

[2018-03-21 19:00] cjlarose commented on #101
Fixed by 0f9b5bdba841d707e236bb8ed8df5ba4aa7806c2

[2018-03-25 11:46] Brotakuu opened #906 "Only expand top level comments"
Looks like `submission.comments.replace_more(limit=None)` expands the entire comment tree. Is there a way to expand all top level comments only to save on API calls (some threads are 1000+ comments long so some top_level_comments are well past the first 200)?

Or is that impossible because each consecutive top level comment is expanded after the entire previous comment tree is  expanded?

[2018-03-25 17:27] bboe commented on #906
There's not really a direct way to do that via `replace_more`. You can do it yourself, however, by only choosing to call `comments` on `MoreComments` instances that appear at the top-level, and ignoring the others.

By default PRAW prioritizes replacing `MoreComments` instances that have the largest number of children comments. Unfortunately, each replacement only results in 20 new items (`Comment

[2018-03-25 17:28] #906 closed

[2018-03-25 19:14] Brotakuu commented on #906
@bboe Yeah, my goal is to save on requests and speed up the MoreComments. What you suggested would still take the same time and same api calls as `submission.comments.replace_more(limit=None)` right?

[2018-03-28 18:56] garyking opened #908 "How to suppress "praw is outdated" message"
How can I hide the message: `Version 5.3.0 of praw is outdated. Version 5.4.0 was released 12 hours ago.`

I use PRAW to output JSON to an app, and this string appears at the top of the output, so the app breaks.

So is there some way to hide this message? Is praw the source of this message, or is another app responsible for it?

[2018-03-28 19:10] bboe commented on #908
Set `check_for_updates` to false. You can do that in your `praw.ini` file, as part of declaring `Reddit`, or after initialization: https://praw.readthedocs.io/en/latest/getting_started/configuration/options.html#basic-configuration-options

[2018-03-28 19:10] #908 closed

[2018-04-02 16:32] brianbruggeman opened #909 "Accessing emoji causes recusion limit error"
Given a `client_id`, `client_secret`, and `user_agent` a simple access of a the lazily loaded properties (`emoji`, `fullname`) on `subreddit` causes a problem.  Code below should recreate that problem easily.

    #!/usr/bin/env python3.6

    def recreate_problem(client_id, client_secret, user_agent):
        import praw

        reddit_name = 'sfwpornnetwork'
        reddit = praw.Reddit(client_

[2018-04-02 17:12] jarhill0 commented on #909
I'm getting a `RecursionError` when I try something as simple as `reddit.subreddit('tifu').emoji`. I suspect there's a problem with `__repr__` and `__str__`. I'll submit a fix.

Thanks for bringing this to our attention!

[2018-04-02 20:29] #909 closed

[2018-04-04 19:57] atuljha23 opened #912 "UnicodeEncodeError: 'latin-1' codec can't encode character '\u201d' in position 26: ordinal not in range(256)"
[code]

[2018-04-04 20:04] jarhill0 commented on #912
Hi,

I tried reproducing this using your code, but I didn't get the same exception — instead, I got an `AttributeError: 'MoreComments' object has no attribute 'body'`, because your code doesn't account for `MoreComments` objects.

I suspect this issue depends on your specific setup. Can you give the following information?

- OS
- Python version
- PRAW version

Thanks. We'll get to the bottom of th

[2018-04-04 20:06] jarhill0 commented on #912
In addition, a full traceback would be helpful.

[2018-04-04 20:48] bboe commented on #912
Typically such errors have to do with your terminal settings and the environment that python is running and aren't really an issue with PRAW.

[2018-04-04 21:55] leviroth opened #913 "Accessing wiki revisions by ID"
I was thinking more about #907 and I think there ought to be a better way to access a wiki page directly by its revision ID. Right now you can get a page's revisions and that listing will have a bunch of appropriately-initialized `WikiPage` objects, but if you (for example) store some IDs in a database then the ways I can think of to get a revision don't sound ideal:

1. Get a `WikiPage` the norma

[2018-04-05 00:15] bboe commented on #913
Love it. Would you like to implement?

[2018-04-05 12:52] dylankilkenny opened #915 "prawcore.exceptions.ServerError: received 503 HTTP response"
## Description
Ive been receiving a 503 error on every try for the past 10 hours. Ive changed my reddit API keys and even tried on a different machine with no luck. Is the reddit API down by any chance or has this anything to do with praw? could not find any info anywhere.

### Traceback:
[code]

## System Information

    PRAW Version: 5.4.0
    Python Version: 3.5.3
    Operating System: MacOS

[2018-04-05 13:16] dylankilkenny commented on #915
I done some additional testing and it seems the problem is when requesting posts between a day range

this code results in 503:
[code]
where as this works fine:

[code]

The first code snippet has been working fine for the past few months, then all of a sudden last night it stopped working

[2018-04-05 15:27] pdroalves commented on #915
Same problem here, but in my case it returns 503 even for a query without data range constraints.

[2018-04-05 15:27] bboe commented on #915
The `submissions` method was deprecated on March 15th, and it looks like it's no longer available for use:

https://www.reddit.com/r/changelog/comments/7tus5f/update_to_search_api/

Unfortunately, there's nothing we can do. Though, I'll actually removed the method now since it no longer works.

[2018-04-05 15:27] #915 closed

[2018-04-05 15:28] jarhill0 commented on #915
About `Subreddit.submissions()`: the API endpoint that powers that was [scheduled to be removed](https://www.reddit.com/r/changelog/comments/7tus5f/update_to_search_api/), so I suspect that's what's happened. Unfortunately there isn't a replacement for this functionality.

[2018-04-05 15:31] dylankilkenny commented on #915
Thanks. They mentioned in the post you linked that the new search allows searching posts from the last 30 days/1 year. Has this functionality been added to praw ?

[2018-04-05 15:34] bboe commented on #915
https://praw.readthedocs.io/en/latest/code_overview/models/subreddit.html#praw.models.Subreddit.search

See `time_filter` param.

[2018-04-05 15:40] bboe commented on #915
https://github.com/praw-dev/praw/pull/916

[2018-04-05 16:06] pdroalves commented on #915
What is the recommended procedure to replace submissions()?

[2018-04-05 16:28] MiniXC commented on #853
This stopped working as of yesterday (apparently cloudsearch is deprecated now)

[2018-04-05 16:35] bboe commented on #915
@pdroalves as far as I know there isn't any good solution involving only the Reddit API.

Using pushshift + `Reddit.info` is a possible solution as mentioned here: https://www.reddit.com/r/redditdev/comments/89z1lu/is_reddit_api_down_receiving_http_503_error_using/

[2018-04-05 16:39] bboe commented on #853
@MiniXC yes, unfortunately this functionality no longer works 😢. See #915.

[2018-04-06 13:31] nmtake commented on #912
reddit = praw.Reddit(user_agent='Comment Extraction (by /u/”username”)', ...

Remove `”` (U+201D) or replace it with `"` (U+0022) then try again. Using non-ASCII characters for a user agent (or HTTP headers in general) may cause such error.

[2018-04-06 14:53] bboe commented on #912
@atuljha23 can you confirm that @nmtake's solution resolves the issue?

[2018-04-06 15:19] atuljha23 commented on #912
Thank you @nmtake  , its working now!

[2018-04-06 15:19] #912 closed

[2018-04-09 15:34] bboe opened #917 "Document Common Attributes For Each Model"
PRAW has historically taken the approach of teaching people how to discover the available attributes for all the models. This approach while great once someone learns it, is not very beginner friendly, and can be further complicated by how PRAW lazily loads attributes. It would be fantastic if for each RedditBase subclass we provided a table or definition list for a handful of the typical attribut

[2018-04-13 04:35] bboe opened #919 "Enable Subreddit instances to be passed to `subreddit.filters.add`"
In most places where a string representing the name of a subreddit, or the name of a redditor is required by Reddit's API we pass the value in as `str(instance)` so that the caller has the option of passing in either the string, or an instance of the appropriate object.

It would seem, however, that `subreddit.filters.add` does not wrap the `subreddit` in such a call, and for consistency it would

[2018-04-17 13:43] savao opened #923 "Hard-coded limit in stream_generator() function."
## Issue Description

When I'm create a subreddit read stream, I cannot configure how many items from the past to take. The value 100 is hard-coded in the function stream_generator(). As a result, if I want to start reading comments in subreddit from the current time, I still get up to 100 previous ones and I need to filter them. In my opinion, this value should be passed in the kwargs of function

[2018-04-17 15:04] bboe commented on #923
@savao what end result would you actually like?

[2018-04-20 15:05] bboe opened #924 "Examples for every method"
PRAW's documentation can be a little confusing without examples provided. For example, when looking at the documentation for methods in `CommentModeration` its' not immediately clear that those methods are easily accessible via `subreddit.mod.METHOD`. See this post for an example of said difficulty: https://www.reddit.com/r/redditdev/comments/8dmv8z/is_there_no_distinguish_method_for_comments_in/

[2018-04-20 15:10] leviroth commented on #924
Is there any automated way of identifying public methods with no examples?

[2018-04-20 15:15] bboe commented on #924
@leviroth That's a great question. I suppose you could dynamically look up the docstrings for each method, and search for a the appropriate format. However, I think it's probably faster to go through the pages on RTD manually to see what needs examples.

[2018-04-20 15:32] leviroth commented on #924
Yes, I'm taking a look right now.

[2018-04-20 16:00] savao commented on #923
@bboe  I would like the stream to start not with the previous comments, but with the current one.

[2018-04-20 16:10] bboe commented on #923
@savao I think that's doable. How does this sound, PRAW would simply throw away the responses from the first request which contains only old submissions?

[2018-04-20 16:12] leviroth commented on #923
I want to point out that, per previous discussion with @bboe and my own experience, it is sometimes possible for a stream to occasionally yield old items, even after it has been running for a while. Therefore, it may be necessary to filter regardless.

[2018-04-20 16:13] savao commented on #923
@bboe I do this in my code, but I don't understand, why it is needed? why this parameter is hardcoded and I can't change it. Except to make a fork of the library.

[2018-04-20 16:16] savao commented on #923
@leviroth I calculate the current time before starting the thread and check the comment creation time before processing, if it is less than the start time, then "continue"

[2018-04-20 16:18] leviroth commented on #923
Yes, I do the same thing in one of my scripts. What I'm saying is that, even if `stream_generator` had an option not to yield past items on startup, it might do so accidentally anyway, just because of some quirk of the API. So, it might still be necessary to do the filtering that you describe.

[2018-04-20 16:38] bboe commented on #923
There is no hardcoded parameter. PRAW simply requests all items that it can. For comment streams, all 100 comments may have been made in the last second, in which case they are relevant, whereas, for some smaller subreddits, it's possible all the items are from more than a year ago.

I think the simplest solution would be to add a `skip_existing`, which will simply ignore all items discovered in t

[2018-04-22 18:13] #923 closed

[2018-04-22 18:14] bboe commented on #923
Thanks for the request. Support has been added in the latest master branch.

[2018-04-23 11:28] savao commented on #923
@bboe Thank you.

[2018-04-26 04:28] #919 closed

[2018-04-26 14:59] leviroth commented on #924
Just to update on the automation, I haven't found anything that fits the bill. It looks like it might be possible to write a custom Sphinx extension that would do it, but at the rate @Theonefoster is going I would guess everything will be handled manually before I could get to it.

[2018-04-26 17:56] telemoquina0 opened #931 "Internal Server Error on reddit.user.me()"
It's my first time with reddit. I have 500 error when i try verify that I'm authenticated. What's happening?

Code
---------------------------------------------------------------------------
import praw
import pprint
reddit = praw.Reddit (client_id =CLIENT_ID ,
                     client_secret =CLIENT_SECRET,
                     username = USER_NAME,
                     password =  PWD,

[2018-04-26 18:27] jarhill0 commented on #931
@telemoquina0 This error is on Reddit's end, and it looks to me like they [just had an error spike](https://reddit.statuspage.io/). I believe it should be fine if you try now.

[2018-04-26 18:27] #931 closed

[2018-04-26 18:37] telemoquina0 commented on #931
Now, it's my fouth attempt

Fetching: GET https://oauth.reddit.com/api/v1/me
Fetching: GET https://oauth.reddit.com/api/v1/me
Data: None
Data: None
Params: {'raw_json': 1}
Params: {'raw_json': 1}
Response: 500 (50 bytes)
Response: 500 (50 bytes)
Retrying due to 500 status: GET https://oauth.reddit.com/api/v1/me
Retrying due to 500 status: GET https://oauth.reddit.com/api/v1/me
Sleeping: 0.90 secon

[2018-04-26 20:26] telemoquina0 commented on #931
Solved. I've created a new user on reddit and now it works correctly.

[2018-04-26 20:38] jarhill0 commented on #931
Good to hear @telemoquina0 . Glad you sorted it out.

[2018-04-27 21:52] nmtake commented on #924
@leviroth

Here is I tried with ast module:

https://gist.github.com/nmtake/aeeb66e59bf2b8b12f73a587966ed463

[2018-04-30 13:39] soilheart opened #932 "Post author flair disappears from post after accessing post.comments"
## Issue Description

As also reported by other user [on reddit]( https://www.reddit.com/r/redditdev/comments/8feqwp/author_flair_disappears_after_commentsreplace_more/).

When accessing `post.comment` on a `post` from `subreddit.new()` (for example by doing `post.comments.replace_more()` or `post.comments.list()`) the `post.author_flair_*` properties are cleared

Example code (`reddit` is a Reddi

[2018-04-30 13:58] soilheart commented on #932
For the record: I just upgraded PRAW to 5.4.0 and I can still reproduce the bug.

[2018-04-30 14:51] soilheart commented on #932
So I did some sleuthing and it seems like you only get the `author_flair_*` properties from the API if you explicitly add `/r/[subreddit]/` to the API endpoint.

When accessing `submission.comments` the first time PRAW updates the submission `__dict__` with the information gained from the new API call, which is done without the `/r/[subreddit]/` part which clears all `author_flair_*` properties as

[2018-04-30 17:10] soilheart commented on #932
Yeah, it feels really weird to get different response depending on the path. I'm pretty sure this is a new thing too as things started breaking just last week...

Thank you for the fast response and fix.

[2018-04-30 19:31] bboe commented on #932
The upstream bug report is here: https://www.reddit.com/r/bugs/comments/8g265d/api_submission_api_returns_different_results/

[2018-05-02 20:12] Stevoisiak opened #934 "SSLError raised while 'r.config._ssl_url = None'"
## Issue Description

According to [a comment on issue #202](https://github.com/praw-dev/praw/issues/202#issuecomment-15091215), you can disable SSL by adding `.config._ssl_url = None` to a script.

However, even with SSL disabled, I am encountering multiple SSL Errors when trying to use PRAW on a company network that uses self-signed certificates.

## Code

[code]

## Traceback

[code]

## System

[2018-05-02 20:43] bboe commented on #934
The approach used then isn't going to work today.

PRAW uses requests, which has support for disabling certificate validation via `verify=False`: http://docs.python-requests.org/en/master/user/advanced/#ssl-cert-verification

This use to be a first-class feature in PRAW3, but it looks like it didn't make it to PRAW4+, and you appear to be the first to ask for it. Perhaps you can figure out what ch

[2018-05-02 20:56] Stevoisiak commented on #934
@bboe Thanks for the helpful response. I'll try seeing if I can configure requests to disable SSL.

It's worth mentioning there's a [Stack Overflow question](https://stackoverflow.com/q/21655478/3357935) on this issue.

[2018-05-02 21:08] Stevoisiak commented on #934
Where does PRAW initialize Requests?

There's a docstring referencing `Requests.session` in `reddit.py`, but I can't find where the library is called.

https://github.com/praw-dev/praw/blob/49f33154b901d5686571d120d69dfe74b1a4d309/praw/reddit.py#L110-L120

[2018-05-02 22:54] bboe commented on #934
It nested in prawcore:

https://github.com/praw-dev/prawcore/blob/master/prawcore/requestor.py#L33

[2018-05-02 23:00] bboe commented on #934
Note that `Requestor.request` passes all its arguments directly to its session's `request` method. So you might not need to go that deep.

[2018-05-02 23:19] jarhill0 commented on #934
@Stevoisiak I was able to use a custom requests Session using the following code:

[code]

I believe this is what you need to do when using self-signed certificates (source: [Requests documentation](http://docs.python-requests.org/en/master/user/advanced/#ssl-cert-verification)), but I don't have experience with that so I may be wrong.

I hope this helps!

[2018-05-03 16:29] Stevoisiak commented on #934
@jarhill0 Specifying a `.pem` certificate worked perfectly.

[code]

Alternatively, you can fully disable SSL with `session.verify = False`. Although this will cause each request to raise an `InsecureRequestWarning`.

(Be warned that disabling SSL is **strongly** discouraged by the [urllib3 documentation](https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings))

[code]

[2018-05-03 17:13] Stevoisiak commented on #934
@jarhill0 You can write up the docs. Feel free to copy from my SO answer if you'd like.

Thank you for your help on this issue!

[2018-05-03 17:58] #934 closed

[2018-05-05 23:32] leviroth opened #938 "Provide "best" sort for front page (models.Front)"
The new "best" sort for the front page isn't currently available via PRAW. See [this Reddit thread](https://www.reddit.com/r/redditdev/comments/8h8ijn/how_do_you_sort_best_via_the_api/).

[2018-05-06 23:15] #938 closed

[2018-05-15 20:24] SheaBelsky opened #940 "Attempting to respond to Reddit administrator messages throws 403"
## Issue Description
Certain Reddit messages cannot be responded to, and are often sent in bulk without regard for who the recipient is. A bot I am working on got sent one of these messages, and attempted to respond to it. However, a 403 error was received, terminating the process. On the website, there is not a Reply button to these messages. Is there any meaningful way of distinguishing these me

[2018-05-15 22:42] s4njee opened #941 "widget api"
## Issue Description
Widgets API prelim work

Added this to praw/const.py API_WIDGETS variable
    'widgets':                'r/{subreddit}/api/widgets',

And this to praw/models/reddit/subreddits.py
    def widgets(self):
        return self._reddit.get(API_PATH['widgets']
                                .format(subreddit=self))

Not sure if this should be added to subreddits.py as API documentat

[2018-05-16 01:33] bboe commented on #940
Can you provide the full `vars(message)`? It's likely that something in the message distinguishes that message from others.

[2018-05-16 05:30] jarhill0 commented on #941
I've begun to add support for widgets to PRAW. I'm definitely not done, and my work is a little rough, but if you're interested you can check it out here: https://github.com/jarhill0/praw/tree/feature-widgets

This is where I'm stopping for today. I still have to

- add support for creating and reordering widgets
- update `CHANGES.rst`
- write tests
- submit a PR and modify my work based on the fe

[2018-05-16 11:26] s4njee commented on #941
Cool I'll pass this on to the major sports subreddits. We're interested in getting a jump on the redesign.

[2018-05-16 11:39] s4njee commented on #941
Also could you provide a short example on updating widgets? I know how to use the methods in subreddit.py, but the classes are a bit confusing to me.

[2018-05-16 16:31] s4njee commented on #941
Ah ok sounds good

[2018-05-20 06:30] jarhill0 commented on #941
@s4njee I just submitted #942.

[2018-05-22 00:20] D0cR3d opened #944 "ReDesign: Flair v2 support"
## Issue Description

Reddit's ReDesign now has an endpoint for their v2 of the flairtemplates, [link](https://www.reddit.com/dev/api#POST_api_flairtemplate_v2). Adding this support to PRAW would allow us to see the mod-only status of a flair, as well as those additional attributes.

I would love to attempt adding in this support but I don't have capacity for a while.

[2018-05-22 01:58] kwwxis commented on #940
I also got an invitation to /r/community_chat without a reply button. Here's the `vars(message)` for it:

![image](https://user-images.githubusercontent.com/5068466/40337339-edf66e56-5d23-11e8-810b-4cdeb726910c.png)

[code]

---

There does appear to be a `message.distinguished` which is equal to `"admin"`. But that alone doesn't mean the message can't be replied to since there are reply-able admi

[2018-05-22 05:11] bboe commented on #940
@kwwxis thanks so much for providing these details. It does in-fact seem that there is nothing other than `(please note: this message may not be replied to)` which indicates the message cannot be replied to. Of course, anyone could put that in their body. I'll file a bug on Reddit's end.

[2018-05-22 05:15] bboe commented on #940
Upstream bug filed: https://www.reddit.com/r/bugs/comments/8l7ii8/api_response_for_messages_does_not_identify/

[2018-05-22 20:18] SheaBelsky commented on #940
Just saw that, my bad.

[2018-05-23 21:00] clayshieh opened #946 "Search with invalid lucene field throws 503 error in ListingGenerator"
## Issue Description

General: When searching a subreddit using the `.search()` method the ListingGenerator returned will throw a 503 runtime exception if you call the `.next()` method or iterate over it with the `.__iter__()` method when searching with an invalid lucene field (i.e. `subreddit.search("notarealfield:test")`)

Not sure if lack of error handling is meant to be transparent to the user

[2018-05-23 22:08] bboe commented on #946
Thanks for reporting. Any 500-level responses, are bugs on the server-end and not something that I think PRAW should handle. Perhaps you could report this in /r/bugs as an API bug? Feel free to link to this issue, however, I'm going to close it.

[2018-05-23 22:08] #946 closed

[2018-06-06 08:26] soilheart commented on #932
This has now escalated to also include author flair properties on comments.

I've replied to bsimpson on the bug report but thought I'd also update you here as this fix just got a little more relevant if reddit won't/can't fix their issues soon enough.

[2018-06-11 06:04] salehio opened #949 "Support for api/store_visits"
The reddit api exposes a method for gold users to store their link visits for synchronization purposes.

https://www.reddit.com/dev/api/#POST_api_store_visits

There is no direct support for this in PRAW, but one way to do it is by using the raw Post command. Here's a sample:
`reddit = praw.Reddit(...)`
`reddit.post("api/store_visits", data={'links':'t3_8q3ck5'})`

That would mark the link with th

[2018-06-17 14:57] StephanMeijer opened #950 "Unwanted requests to YOUR server"
## Issue Description

Dear @bboe

Why is this library doing unwanted requests to your server? And why can't I find it in the request in this source code? What is this for kind of stuff? Spyware?

[code]

## System Information

- PRAW Version: Any
- Python Version: Any
- Operating System: Any

[2018-06-17 17:53] jarhill0 commented on #950
See #871 for a discussion on this and instructions on how to disable.

[2018-06-18 15:13] bboe commented on #950
Closing.

[2018-06-18 15:13] #950 closed

[2018-06-18 15:14] bboe commented on #949
I like the idea of #3. Want to give it a try? I agree that batching can come later.

[2018-06-19 06:29] salehio commented on #949
Yeah, I'm definitely interested. The change/tests themselves are easy, but validation might be a bit of a challenge since I've never set up a python environment. What's the pull request process? Run pre_push.py and submit?

[2018-06-19 07:38] salehio commented on #949
PR submitted: https://github.com/praw-dev/praw/pull/951

[2018-06-20 00:15] s4njee commented on #941
So I saw you guys have fetch widgets merged to master.. Was wondering what the timeline for the rest of widget support was looking like.

[2018-06-20 00:20] jarhill0 commented on #941
I implemented the original widget support. I'm planning to add support for "the rest of it" (creating, editing, and deleting), but I'm busy at the moment and haven't begun that work yet.

If you'd like to implement further support or know someone who would like to, please feel free.

[2018-06-20 00:35] s4njee commented on #941
yeah I'm not entirely sure if I can contribute then.

If I had an example for one of the widget types I might be able to follow along and implement others.

[2018-06-20 03:35] rickles42 opened #952 "Docs for util methods are missing the first parameter in method signature"
## Issue Description

In the documentation, the method signatures for [praw.models.util.stream_generator](https://praw.readthedocs.io/en/latest/code_overview/other/util.html#praw.models.util.stream_generator) and [praw.models.util.permissions_string](https://praw.readthedocs.io/en/latest/code_overview/other/util.html#praw.models.util.permissions_string) are missing their first parameters (`permiss

[2018-06-20 06:08] bboe commented on #952
Great find! Do you have any suggestion on how to fix it?

[2018-06-20 06:39] #952 closed

[2018-07-04 17:50] jarhill0 commented on #941
I'm beginning to work on adding support for "the rest of it."

@bboe How do you recommend supporting new parameters that might be accepted by the API in the future? For example, since I last worked on this, a `numEvents` parameter was added to the calendar widget.

I'm considering this:

[code]

This will be the most flexible but it's not very friendly for users to figure out which parameters are

[2018-07-05 04:19] jamesqo commented on #251
@Damgaard Can you provide a code example? Trying this:

[code]

prints `None`?

[2018-07-12 08:09] jarhill0 commented on #941
I've started work in https://github.com/jarhill0/praw/tree/widget-moderation but I'll be off the internet until August. If someone would like to do work based on mine, feel free.

[2018-07-12 19:05] jeroonk opened #954 "Instantiating praw.models.Submission from _data fails on subreddit"
## Issue Description

When trying to instantiate a Submission class from previously serialized instance (with the models being recursively dumped to JSON as their `__dict__`, omitting the `_reddit` attribute), produces the following error:
[code]
This happens because the second-to-last call at [(submission.py#L145)](https://github.com/praw-dev/praw/blob/8de3a59e4392e9e18981ec4726eb61ae3c92b0ff/pra

[2018-07-12 19:11] bboe commented on #954
Thanks for reporting. Could you make a PR please along with any necessary tests?

[2018-07-12 19:17] jeroonk commented on #954
Sure thing.

After patching this, I noticed a similar issue in `Redditor.from_data` [(redditor.py#L21)](https://github.com/praw-dev/praw/blob/8de3a59e4392e9e18981ec4726eb61ae3c92b0ff/praw/models/reddit/redditor.py#L21) also called from the same place.

I'll create some unit tests and make that PR.

[2018-07-12 20:17] bboe commented on #954
You're awesome. Thanks!

[2018-07-12 20:36] Damgaard commented on #251
The problem is that PRAW generally  doesn't control the attributes on objects. It simply wraps what Reddit sends. So we don't know what attributes are available.

My recommendation, as I've written in the docs is to use vars to inspect objects to see what attributes are available.

vars(submission)

[2018-07-12 21:13] jeroonk commented on #954
I guess this is a bit more complicated than I thought. This "fix" conflicts with how PRAW parses the reddit API.

When PRAW recieves the JSON data from reddit (e.g. a listing from `reddit.com/search.json`) the `"subreddit"` and `"author"` fields are just plain strings. PRAW then instantiates those as bare-bones `Subreddit` and `Redditor` models using the calls described above (with the correct arg

[2018-07-13 19:09] shadowmoose opened #955 "Code Flow seems broken for Refresh Tokens"
## Issue Description

I had reached out a while ago via Gitter for this, and it seemed to be an issue, but I figured I should document it here:

Using the default guide for Installed Applications, [found here](https://praw.readthedocs.io/en/latest/getting_started/authentication.html#installed-application), I seem unable to authenticate for a refresh token using an Installed App ID. The issue is Pr

[2018-07-14 00:53] nmtake commented on #955
You're right: installed app can get refresh token from reddit using empty client secret. [Demonstations is here.](https://gist.github.com/nmtake/251b6ece0965667334a671ab13b5be7b)

I think commenting out these lines will fix the issue. Could you try to test that?

https://github.com/praw-dev/praw/blob/a3820a24f77f6094e6985df86ae094307957b8f6/praw/models/auth.py#L48-L50

[2018-07-14 23:05] 13steinj commented on #955
Same issue, said I'd make a patch a long while ago but then ended up getting caught up in other things >.<.

There are other issues in regards to the logic of what apps can and can not use different flows as well, but I forget which inconsistencies occur. I had to make two emtire flow charts just to start seeing what's for what due to poorish documentation on reddit's OAuth2 page.

[2018-07-14 23:40] impshum opened #956 "Add trophies"
Just leaving this here as a reminder for us all.

[code]

[2018-07-15 23:05] nmtake commented on #955
@13steinj At least all three app types (web, script, installed) can use authorization code grant flow
and can get optional refresh token.

@shadowmoose Thanks. I'll make a PR for the issue in this week (hopefully).

[2018-07-24 16:21] #955 closed

[2018-07-24 22:51] o-jasper opened #958 "Getting all comments fails?"
Edit: i didnt hit submit.. Doing it with an edit..(Probably overzealous keybinding)

So, i want to get all comments of a bot. But it stops at 1000 comments of `reddit.new` regardless of the limit. I tried `params={'after':999}` but it seems to just go for the same comments. Perhaps like `top` or `hot` gets other comments, but that is no way to get comments comphrensively?

Of course, reddit needs

[2018-07-24 22:57] bboe commented on #958
Should this be closed?

[2018-07-24 23:04] o-jasper commented on #958
I'd rather not, although tbh this is a low quality issue? But i mean, other people are going to want all comments of users? I don't at all see how to do that.

[2018-07-24 23:07] bboe commented on #958
Unfortunately that's a limitation of Reddit's API. You may be interested in checking out pushshift: https://www.reddit.com/r/pushshift/

Since Reddit doesn't support this functionality, I'm going to close this issue. Thanks for reporting.

[2018-07-24 23:07] #958 closed

[2018-07-24 23:13] o-jasper commented on #958
That is an awful limitation... Thanks anyway, sorry for bothering..

[2018-08-15 05:25] RioghanDer2te opened #959 "praw/praw/models/reddit/subreddit.py/ missing feature"
## Issue Description

**Class**: Subreddit
**function**: search()
Parameter `include_over_18` is missing which allows the search to show NSFW submissions in the result.

## System Information

- PRAW Version: latest (6.0.0)
- Python Version: 3.6.5
- Operating System: Win10 x64

[2018-08-22 01:53] leviroth opened #960 "Getting Started guide on authentication should mention praw.ini and/or environment variables."
The [documentation on authenticating a script app](https://praw.readthedocs.io/en/latest/getting_started/authentication.html#script-application) only explains how to authenticate via keyword arguments to `Reddit`. I think there ought to be some mention of the alternative techniques from [Configuring PRAW](https://praw.readthedocs.io/en/latest/getting_started/configuration.html). Otherwise, the exa

[2018-08-22 05:16] bboe commented on #960
Great idea!

[2018-08-22 21:58] leviroth commented on #960
What do you think about the second paragraph?

[2018-08-22 22:10] bboe commented on #960
The getting started is meant to be semi-quick. I'm okay with suggesting `praw.ini` but I feel like it's not really quick. Maybe a strong warning block indicating that we recommend using `praw.ini` for configuration setting but for the purposes of brevity it's not covered in the getting started.

[2018-09-03 01:52] #960 closed

[2018-09-04 13:19] nmtake opened #962 "reddit.user.me() when reddit.read_only is True raises RecursionError"
## Issue Description

	$ python3
	Python 3.7.0 (default, Jun 29 2018, 20:13:53)

	'6.0.0.dev0'

	True

	Traceback (most recent call last):
	  File "<stdin>", line 1, in <module>
	  File "/usr/local/lib/python3.7/site-packages/praw/models/user.py", line 96, in me
	    self._me = Redditor(self._reddit, _data=user_data)
	  File "/usr/local/lib/python3.7/site-packages/praw/models/reddit/redditor.py",

[2018-09-04 16:10] bboe commented on #962
I think that's a great fix. Ideally, fixing the issue resulting in recursion would be good too, but returning `None` sounds like a response that makes sense.

[2018-09-07 15:24] nmtake opened #964 "Pylint >= 2.0 emits useless-object-inheritance message for Python2-compatible code"
## Issue Description

[pylint 2.0 drops support for Python 2](https://pylint.readthedocs.io/en/latest/whatsnew/2.0.html), so the message useless-object-inheritance assumes users run pylint on Python 3 code.

Since PRAW is Python2-compatible, I think it would be better to fix pylint's version to 1.9
(by checking the version in pre_push.py, for example).

[code]

Anyway, it seems pylint runs on loca

[2018-09-07 15:46] bboe commented on #964
That sounds like a great idea. Or at least `<2` in the event they happen to release another `1.x` version.

Yeah, pylint is something I wanted to help make the code a bit more maintainable, but it's a bit noisy at times, so it never became a necessary build step.

[2018-09-10 14:59] nmtake commented on #964
After some investigation I reconsidered the idea (fix pylint's version to <2) because pylint <2 doesn't support Python 3.7 at this time:

[code]

To summarize:

1. Python 2.7 doesn't work with pylint >=2
2. Python 3.7 doesn't work with pylint < 2

[And no release that supports both 2.7 and 3.7 is planned.](https://github.com/PyCQA/astroid/issues/539#issuecomment-389485038)

----

Now I think it's

[2018-09-10 15:51] bboe commented on #964
Sounds great. Thanks for looking into it.

[2018-09-11 07:26] #964 closed

[2018-09-11 18:15] DragonBallZeke commented on #668
@demarcusw thanks a million! Been debugging for half an hour and this solved my problem!

[2018-09-11 23:38] defterade commented on #880
Same problem, expecting the 'seen it' list of submissions as shown here:
[https://old.reddit.com/submit?url=https%3A%2F%2Fwww.google.com](https://old.reddit.com/submit?url=https%3A%2F%2Fwww.google.com)

[2018-09-16 17:02] #956 closed

[2018-09-18 13:40] MichaelSaah commented on #959
@bboe is this something you'd like implemented? IIRC there's a user setting that reddit provides which dictates whether NSFW content is returned during search, so this might be redundant.

[2018-09-18 17:42] bboe commented on #959
@MichaelSaah if having the parameter allows for inclusion of such results without needing to change user settings, I'm for it.

[2018-09-18 18:33] MichaelSaah commented on #959
Ok, I'll look into it

[2018-09-27 20:01] Edakksm opened #973 "get_comments"
When I call get_comments(time='week', limit=None) on a user, it just hangs. The call doesn't seem to return back.
This is what I have: Can you please help me?

for user in users:
    comments_new = user.get_comments(time='week', limit=None)
    comments_top = user.get_comments(limit=None, sort = 'top')

[2018-09-27 20:04] Edakksm opened #974 "Posts within a year"
Is it possible to get the list of posts within a year?
Currently, I am iterating through the comments and checking if the created date is within a year, then include. Is there a better way of doing?

  for hot_msg in endo: #endo subreddit
                 created_date = datetime.utcfromtimestamp(hot_msg.created)
                 if created_date.date() > six_months:
                          commen

[2018-10-05 23:20] nonstopflux commented on #941
Hey @jarhill0 , just wanted to see if you had made any progress on updating widgets... I'd love to help, but I'm not at that level unfortunately.

[2018-10-15 07:54] Chromadream commented on #941
Hi @jarhill0, is it okay if I forked your work on the widgets API to implement the ability to edit widgets? I tried to implement the ability to add widgets, but I found that your work is better than mine. And having an established base is really nice.

[2018-10-15 12:28] jarhill0 commented on #941
Absolutely. Go for it!

[2018-10-27 06:57] kelvinwop opened #978 "slow getting comment's submission's title"
[code]
The x.submission.title makes it really slow. Could it be that things like the title of a submission aren't batch retrieved with user.comments.new, causing it to create a new request each iteration?

[2018-10-27 16:37] bboe commented on #974
You can use the top listing, but it won't return all of them, just the top 1000.

You might consider using pushshift to get the data you're looking for.

[2018-10-27 16:37] #974 closed

[2018-10-27 16:38] bboe commented on #973
`get_comments` is not a method in the latest versions of PRAW (after 4.0). PRAW < 4.0 is no longer supported.

[2018-10-27 16:38] #973 closed

[2018-10-27 16:42] bboe commented on #978
That is correct. Here's an example data feed for that listing:

https://www.reddit.com/user/spez/comments.json

You'll note that the submission title is not included. However, there is an attribute `link_title` associated with that set of comments, so maybe that'll give you what you want.

[2018-10-27 16:42] #978 closed

[2018-10-27 16:51] kelvinwop commented on #978
Very helpful, thanks.

[2018-11-19 21:08] quinnkjones opened #981 "mark_visited function appears to be broken or using the wrong endpoint"
## Issue Description
I was tooling around in an interactive session so I don't have a super clean source code snippet, but I tried to mark a submission as visited and got this error instead.
[code]

## System Information

- PRAW Version: 6.0.0
- Python Version: 3.5.2
- Operating System: Ubuntu 16.04

[2018-11-20 14:39] quinnkjones commented on #981
Oh okay, thats it. Thanks.

On Tue, Nov 20, 2018, 8:27 AM nmtake <notifications@github.com> wrote:

[2018-11-20 23:14] #981 closed

[2018-12-16 16:58] 13steinj opened #983 "All OAuth flows should be documented (and available) for all app types"
## Issue Description

This comes out of a need of using the script app type via the code flow.

Normally the script app type uses the (implicit?) flow, which fetches a new access token aa necessary with the user's username and password (and of course client id and secret)

There are two problems with this-- firstly an incorrect password (or perhaps just incorrect totp code) is reported as an inval

[2018-12-18 21:30] nmtake commented on #983
For the first issue, the "invalid_grant" error makes sense, at least for me. In the password flow, the username and password represent the grant, which enables the app to access the user's OAuth2-protected resources, from the user to the app.

For the second issue, I think it's a normal behavior. The TOTP in reddit OAuth2 only works with the password flow (the authorization code flow have no means

[2018-12-19 21:55] 13steinj commented on #983
I'm not saying it doesn't make sense, just that the error doesn't make it clear what went wrong (and that's because of an API limitation), but incorrect passwords due to TOTP (requires a semicolon in the password field, which isn't a valid character for passwords) can be detected and warned about.

Yes. But script-type apps can be done via the code flow, while PRAW only documents the password flow

[2018-12-20 12:23] MaxMatti opened #984 "How to check fo correct bot credentials / endless recursion in getMe()"
After creating the instance with `reddit = praw.Reddit(client_id=client_id, client_secret=client_secret, user_agent=user_agent)` I would like to verify wether the credentials are corrent. However the method of using `print(reddit.user.me())` does not work because it creates endless recursion:

[code]
1. Is there an intended way to verify wether my bot credentials are still correct?
2. FYI there se

[2018-12-20 15:06] nmtake commented on #983
For the "invalid_grant" error, current OAuth2 docs have this [note:](https://praw.readthedocs.io/en/latest/getting_started/authentication.html#script-application)

but adding some messages to the OAuth2Exception for "invalid_grant" error might be help to debug, e.g., "Check the username and password if you are using OAuth2 password flow, or check the authorization code isn't expired or already use

[2018-12-20 15:33] nmtake commented on #984
Thank you for the report. I believe the infinite recursion bug is fixed in #962 but not relased at this time. Could you try [the latest development version](https://github.com/praw-dev/praw#installation)?

I think there isn't particular way but `reddit.get('api/v1/scopes')` (undocumented) or `list(reddit.subreddit('programming').new(limit=1))` might be handy because both works
for user-less (PRAW

[2018-12-21 16:57] 13steinj commented on #983
Then they don't have to read those docs?

Not disagreeing here.

so I think the current doc should suffice.

This isn't true. Reddit's docs document the flows separately from the app types. PRAW's docs combine them and in doing so extremely limits what users know how to do and to an extent, *can* do because of way the authorizers are set up.

No user should have to write bodges into their own vers

[2018-12-21 17:21] bboe commented on #983
@13steinj the documentation and implementation can always be improved. What do you suggest for improvement? Would you like to make a prototype PR?

[2018-12-27 22:28] #984 closed, assigned to nobody

[2019-01-03 22:15] jarhill0 commented on #941
#985 adds support for a new widget type as well as providing a default case for unknown widget types.

[2019-01-05 07:54] DanielBarnes opened #989 "Issue serializing object data"
## Issue Description
I'm trying to use reddit to gather image data for a machine learning project. Right now I am trying to collect the links that are posted to a subreddit so that after a period of time I can retrieve the image posted and the score users have given it.

relevant code:
[code]
Output:
[code]
The issue seems to be only with the `sub.url` property and nothing else. I have tried to ge

[2019-01-05 13:32] nmtake commented on #989
I think the part of error message

[code]

import json
class Foo: pass
json.dumps({
    'a': 1,
    'b': Foo(),  # cannot to be encoded
    'c': 3
})
[code]

Traceback (most recent call last):
  File "foo.py", line 6, in <module>
    'c': 3
  File "/usr/lib/python3.7/json/__init__.py", line 231, in dumps
    return _default_encoder.encode(obj)
  File "/usr/lib/python3.7/json/encoder.py", line 199,

[2019-01-06 21:51] jarhill0 commented on #959
[This StackOverflow question](https://stackoverflow.com/questions/49736495/) asks a related question. At the time of the question, I had this answer:

However, now it seems that whether or not results include NSFW posts is dependent entirely on the "include not safe for work (NSFW) search results in searches" preference. That is, with the preference enabled, you will get NSFW results no matter wha

[2019-01-06 23:44] bboe commented on #959
@jarhill0 are you suggesting that this issue can be closed?

[2019-01-07 00:08] DreamFlasher opened #992 "Memory leak"
## Issue Description

I am using praw to retrieve comments, if I leave out the comment retrieval part in my crawler everything runs smoothly, with praw retrieving comments I eventually run out of memory. Is praw by default collecting something/doing caching?

## System Information

- PRAW Version: 6.0.0
- Python Version: 3.6
- Operating System: Ubuntu 18.04

[2019-01-07 00:10] jarhill0 commented on #959
Not neccessarily. I was trying to add more information. I'm not sure whether what @MichaelSaah suggests is possible.

[2019-01-08 07:12] jarhill0 commented on #941
The widget API has (finally) been fully implemented!

[2019-01-08 07:12] #941 closed

[2019-01-08 07:12] jarhill0 commented on #944
I'd like to tackle this.

[2019-01-09 22:39] jarhill0 commented on #880
For both of these cases, searching for `url:"https://google.com"` seems to return what you would expect.

I think this issue should be closed, since the unexpected behavior is on Reddit's end and there is a way to get the expected results.

[2019-01-09 23:13] jarhill0 commented on #932
[It seems that Reddit has resolved this on their end](https://github.com/praw-dev/praw/pull/933#issuecomment-407467405). I just tested:

[code]

[2019-01-09 23:13] #932 closed

[2019-01-11 22:36] 13steinj commented on #983
@bboe apologies, timing happened such that I was going on holiday and by the time I got back your message was no longer considered "important" by Github's beta dashboard.

I'll make a prototype over this weekend.

[2019-01-11 22:55] bboe commented on #983
No problem. Looking forward to it.

[2019-01-14 17:17] #983 closed

[2019-01-14 21:06] jarhill0 commented on #959
On second thought, this parameter might have effect when there is no user context.

[2019-01-16 04:31] bboe opened #1011 "DISCUSSION: Oauth Types"
Continuation of discussion from here:

https://github.com/praw-dev/praw/pull/1005#issuecomment-454544773

It seems like we could make this an option upon initialization. However, I also think this could be handled by a separate `Reddit` instance.

Yes, you make a good point that the name may be misleading. However, like above, I don't really see any reason to switch between two types of _read only

[2019-01-17 12:08] 13steinj commented on #1011
Right, again, neither do I. However currently if I have an app that is meant to be Script or Web when *not* in read-only, then when in read-only, the read-only mode *forces* the use of the Client Credentials flow, where the Installed Client flow is still valid.

I'm not specifically saying that the ability to change between the two different read-only flows at any time is needed, just that being a

[2019-01-18 22:12] jarhill0 commented on #959
I'm closing this as already supported. As I said [above](https://github.com/praw-dev/praw/issues/959#issuecomment-451778234), when there is a user context, the setting is ignored. However, it is not ignored when there is no user context, and it works as intended. See this example:

[code]

This feature is indeed supported as `params={'include_over_18': 'on'}`.

[2019-01-18 22:12] #959 closed

[2019-01-19 17:12] cmsteffen-code opened #1016 "PRAW won't compile with PyInstaller"
## When attempting to compile a PRAW application with PyInstaller, the resulting application fails.

Here's an example script:

    #!/usr/bin/env python3

    import praw

    reddit = praw.Reddit(
        client_id="insert_something_here",
        client_secret="insert_something_here",
        user_agent="user_agent",
        username="username",
        password="password",
    )

    print(red

[2019-01-19 18:11] cmsteffen-code commented on #1016
I found that if I add a bit to automatically create a `praw.ini` file in the same directory as the script is being run, the executable runs without any issue. Here's code that works:

    #!/usr/bin/env python3

    import praw, os

    praw_ini = """[DEFAULT]
    # A boolean to indicate whether or not to check for package updates.
    check_for_updates=True

    # Object to kind mappings
    comm

[2019-01-19 19:36] bboe commented on #1016
PRAW requires all those settings to be defined, hence why the package ships with the default praw.ini file in the package directory. Is it not trivial to include it?

Either way, I believe you can pass all the settings into `Reddit` as keyword arguments.

[2019-01-19 20:51] cmsteffen-code commented on #1016
Oh! I’ll give that a shot. Thanks for the heads-up. I’ll report back!

[2019-01-20 01:36] cmsteffen-code commented on #1016
@bboe was absolutely correct! Simply passing the values did the trick. This compiled and runs just fine:

    #!/usr/bin/env python3

    import praw, os

    reddit = praw.Reddit(
        client_id="insert_something_here",
        client_secret="insert_something_here",
        user_agent="user_agent",
        username="username",
        password="password",
        check_for_updates=False,

[2019-01-20 01:36] cmsteffen-code commented on #1016
Issue resolved. :+1:

[2019-01-20 01:36] #1016 closed

[2019-01-20 11:02] ScrappyCocco opened #1017 "API submit empty comments"
## Issue Description

I use praw to submit comments from Telegram using a bot.
This bot take the command `/comment <text>` in reply to a post link.
The comment is submitted like that:
[code]
The problem is:

- When a post is submitted from Telegram the bot add a default comment, the first one you can see in the screenshot, with no problems, it's always there and visible.

- But, when a comment is

[2019-01-20 12:20] nmtake commented on #1017
Since the variable `comment_text` contains unescaped markdown meta characters `[` and `]`, I suspect they causes incorrect rendering from markdown to HTML, so could you show me the output  of

[code]

[2019-01-20 12:41] ScrappyCocco commented on #1017
Sure, here you are
![screenshot](https://user-images.githubusercontent.com/11294898/51439348-1fd39c00-1cb9-11e9-880f-b543f22eda69.PNG)

[2019-01-20 14:16] nmtake commented on #1017
It seems `[foo@bar]:test text` works on reddit but `[foo@bar]:test`. I think [backslash quoting](https://daringfireball.net/projects/markdown/syntax#backslash) should solve the problem, e.g.,

    comment_text = "\\[From telegram" + update.message.from_user.name + "\\]:"

Please close the issue if it works.

[2019-01-20 14:41] ScrappyCocco commented on #1017
It works, thank you so much

[2019-01-20 14:41] #1017 closed

[2019-01-20 16:38] entelechi commented on #273
Was there's ever any addition to allow https proxies to be directly passed rather than using using config files?  As a beginner I've spent the last hour or so trying to wrap my head around exactly what's required following reading the link above - is either r.https.proxies() or something like r = praw.Reddit('Example bot', config={"proxy": 'https://0.0.0.0/')} possible?

[2019-01-20 18:15] jarhill0 commented on #273
@entelechi See [Using an HTTP or HTTPS proxy with PRAW](https://praw.readthedocs.io/en/latest/getting_started/configuration.html#using-an-http-or-https-proxy-with-praw). It describes how to use an HTTPS proxy by passing it in as an environment variable.

[2019-01-20 18:17] jarhill0 commented on #273
I believe this is the case, yeah.

[2019-01-20 18:31] jarhill0 commented on #273
If you [configure a custom `Session`](https://praw.readthedocs.io/en/latest/getting_started/configuration.html#configuring-a-custom-requests-session), you can accomplish this without environment variables. You need to modify [`Session.proxies`](http://docs.python-requests.org/en/master/api/#requests.Session.proxies).

[code]

I'm deleting my other two comments because I don't think they're helpful

[2019-01-21 05:49] jarhill0 commented on #944
Re-opening this. My PR neglected to add the ability to *set* these flairs on posts or redditors.

I'll submit a PR with these features.

[2019-01-21 17:14] JoelMcLeod commented on #273
Is there any means of checking the ip connecting to Reddit via Praw?  Are there any methods from the Reddit entity which return the current proxy after using Session() as shown above in order to double check that the correct proxy is being used per Praw connection?

[2019-01-22 00:20] jarhill0 commented on #273
I don't believe so, but @bboe can probably correct me if I'm wrong.

It's not very elegant, but:

[code]

[2019-01-22 04:00] #944 closed

[2019-01-22 04:58] 13steinj commented on #1011
Right, but this is only because reddit doesn't make end users aware of how they differentiate users. In theory it could make all the difference on something like, the front page, or trending posts, or the explore page.

The problem is there is no way for any of us to know (because none of us (I assume) work at reddit).

I think it better to allow the option of changing because there *might* be a s

[2019-01-23 10:13] entelechi commented on #273
Thanks for that @jarhill0, all working fine now

[2019-02-06 20:51] LandonStewart opened #1023 "[Feature Request] Add resubmit kwarg to submission.crosspost()"
## Issue Description

When using `submission.crosspost()` to a different sub it would be nice if one could avoid resubmitting an existing URL with a `resubmit` kwarg like `subreddit.submit()` has.

## System Information

- PRAW Version: praw-6.1.1
- Python Version: Python 3.6.8
- Operating System: virtualenv on macOS

[2019-02-06 21:41] jarhill0 commented on #1023
Unfortunately, Reddit's API does not support this. Using the web interface, there is no warning when you attempt to crosspost something that has already been crossposted to that particular sub.

I also tried editing the PRAW source and passing a `'resubmit': False` field to the Reddit API, but it didn't do anything (multiple crossposts were still created).

I'm closing this issue since it is unfon

[2019-02-06 21:41] #1023 closed

[2019-02-13 11:15] Pyprohly opened #1025 "Stream implementation is inconvenient"
Many reddit bots operate as a service that needs to stream in new content in real time. Often, we want the bot to be unkillable: if it disconnects from the internet it should try to reconnect continuously; if it finds that it cannot handle a particular item, it’s probably in its best interest to just ignore it. We want the bot to stay alive as much as possible.

To facilitate streaming, PRAW provi

[2019-02-13 16:50] bboe commented on #1025
I love this suggestion. Correct me if I'm wrong, but wouldn't there be no need to put the iterators for submission and comment streams inside the try/except. E.g., would this work instead?

[code]

My only other concern has to do with the asynchronous nature of the approach. I personally like it, but I worry it might be a bit confusing to new-to-programming users. That said, perhaps how it handles

[2019-02-14 01:32] Pyprohly commented on #1025
Yes, there’s no longer a strong need to do exception handling on the outside of the iterators anymore, and it may make a little more sense to have the try/except on the inside of each stream loop. How the exception handling written here isn’t too important… the way I see it, having such a generic try-catch at this level is simply to have a last ditch effort to keep the bot alive if something goes

[2019-02-14 05:12] bboe commented on #1025
While I don't have time to fully respond I can respond to this statement:

The only reason for limit is to attempt to break any caches. The thought being that adjusting that parameter will result in a fresh response. While I'm not looking at the code, I think it's especially important when the before parameter doesn't change because identical requests would otherwise be re-issued which might hit a

[2019-02-16 16:18] Pyprohly commented on #1025
Thanks @bboe, that information has really helped.

So the idea essentially is to use `limit` to break any caches, while `before` can be used to reduce data consumption. Given those goals, I’ve now implemented much improved `limit` and `before` adjusting logic into new `Stream`.

## limit adjusting

### Current behaviour

A `limit` of 100 is always used, unless `before` is `None`, in which case `li

[2019-02-17 02:00] DragonBallZeke opened #1026 "No error thrown when attempting to ban a moderator"
## Issue Description
When banning a user with `subreddit.banned.add()`, if the user is a moderator they will be unable to be banned, as you cannot ban a moderator. However, no error is thrown, despite the action failing.
## System Information

- PRAW Version: 5.3.0
- Python Version: 2.7.14
- Operating System: Ubuntu 17.10 x86_64

[2019-02-18 05:58] waab76 opened #1027 "Missing support for subreddit banner on Reddit redesign"
## Issue Description

More of a feature request than an issue.

I've been working on a script to automate the process of generating and uploading new sidebar and banner images for a subreddit based on the results of our weekly photo contest.  I've succeeded in updating the banner and sidebar image for "Old Reddit" since they're both controlled via our CSS stylesheet.  I also succeeded in updating

[2019-02-18 19:16] endlisnis opened #1028 "Timeouts on media posts"
## Issue Description
I find that frequently, when posting large images, the operation times out and I get something like this:
[code]
When I looked into the source code of praw, I found several places that use "timeout=2" (https://github.com/praw-dev/praw/blob/master/praw/models/reddit/subreddit.py#L449). I'm assuming that's a 2-second timeout.  I'm also assuming that timeout is not sufficient for

[2019-02-18 19:19] jarhill0 commented on #1028
Could you provide an image that (sometimes) triggers this exception? I'd like to look into it more.

I'm not entirely happy with the websocket-based implementation in the file you linked, but it seems to be the only option.

If raising the timeout (or allowing it to be customized) alleviates the problem, I'm all for the change.

[2019-02-19 01:35] endlisnis commented on #1028
Here's an example of an image that I had trouble with:
![big](https://user-images.githubusercontent.com/3651887/52984257-a6fd5800-33bc-11e9-8cf3-172e91ecb661.png)

[2019-02-19 06:27] waab76 commented on #1027
Ok, I've got a working solution but I haven't written any tests and I'm not 100% sure my code is compliant with project style guidelines (I've really only been working in Python for about 2 weeks).  Also, it's relying on APIs that aren't documented as part of the official Reddit API documentation, so I'm not sure if that means the APIs are still subject to change or not.

[2019-02-19 15:09] jarhill0 commented on #1027
Other parts of PRAW do this as well. Hopefully the APIs don't change, but if they do, we can make fixes.

[2019-02-23 14:23] #1027 closed

[2019-02-27 15:34] jarhill0 commented on #1028
Sorry it took me so long, but I have verified that when the timeout is around 12 or higher, this image can be submitted without an exception. I'm submitting a PR that

- raises the default timeout from 2 to 10
- allows for a custom value, as you suggested

Thanks for the bug report!

[2019-02-27 18:05] #1028 closed

[2019-02-28 23:31] CrackedP0t opened #1036 "Don't send unnecessary params in API requests"
## Issue Description

Currently, PRAW always sends all API parameters, even when they're the same as the defaults. For example, Praw always sends the `send_replies`, `nsfw`, and `spoiler` parameters in `Subreddit.submit`, even though they're the same as Reddit's defaults.

Obviously this isn't a massively important issue, but I think cleaning up the API requests might be nice.

My thought for impl

[2019-02-28 23:36] CrackedP0t commented on #1026
That's strange - when I try to reproduce this, I get the `praw.exceptions.APIException` `CANT_RESTRICT_MODERATOR`, like it should be.

[2019-03-01 00:09] bboe commented on #1036
@CrackedP0t I love your recent effort and I definitely do not want to squash your enthusiasm. With that said, I don't see much value in removing the default parameters. I also have a concern in that I would prefer code didn't break in the event Reddit changes their default behavior. However, perhaps you have a great reason for wanting to do. Thoughts?

[2019-03-01 05:07] bboe commented on #1026
Confirmed. I also receive:

[code]

@DragonBallZeke perhaps there was a hiccup on Reddit's end, but it seems as if all is good now. Please reopen with more information is you can still reproduce.

[2019-03-01 05:07] #1026 closed

[2019-03-01 07:07] CrackedP0t commented on #1036
Yeah, the only real reason I proposed this was just disliking the aesthetic of sending these unnecessary parameters, but given Reddit's laissez-faire attitute towards modifying their API, it makes sense to try and keep PRAW's stable.

[2019-03-01 17:21] bboe commented on #1036
Agreed. Please keep looking for improvements to make. We appreciate your enthusiasm.

[2019-03-01 17:21] #1036 closed

[2019-03-05 18:16] Poolitzer opened #1037 "'Comment' object has no attribute 'permalink'"
hello there.

I just got the error above which makes me wonder cause comments should have permalinks right?

I use the following code (more or less cause I have other streams as well, but it should be enough to be able to understand where I am coming from?)
[code]

and the full traceback:
[code]
## System Information

- PRAW Version: 6.0.0
- Python Version: 3.7
- Operating System: Ubuntu 16.04.5 L

[2019-03-05 19:31] bboe commented on #1037
Unfortunately Reddit's API is inconsistent with what it returns. Comments that are returned alongside submissions have a `permalink` attribute. Comments that are returned from the inbox have a `context` attribute.

While PRAW _could_ attempt to fix this by adding an attribute, I'd prefer not to as past attempts to do things like that have resulting in PRAW breaking when Reddit fixed the API to wor

[2019-03-05 19:31] #1037 closed

[2019-03-09 10:01] bicubic opened #1043 "Comment stream dropping comments?"
## Issue Description

A simple consumer like the below seems to not be processing all comments.

I observed a drop in total comment throughput with the praw stream sometime around december 2018 and it has never really recovered.

I have tested by manually making a number of comments and observing that some of them don't get captured by the praw stream.

IO on the client side is not a limiting fact

[2019-03-09 17:55] bboe commented on #1043
@bicubic unfortunately the /r/all comment stream isn't 100% reliable. If you can find a way to increase reliability we'd definitely love to incorporate those ideas. What part of the documentation would make sense to update to state this observation?

[2019-03-09 18:01] bboe commented on #880
Closing issue as per @jarhill0's suggestion.

[2019-03-09 19:02] #885 closed

[2019-03-09 22:54] bicubic commented on #1043
The stream docs I guess.

Do you have any clues as to why it's not reliable? Is it the reddit api or is it praw itself? Are you aware of the volume drop I mentioned around December?

[2019-03-09 23:56] bboe commented on #1043
I'm not aware of any such volume drop. PRAW can grab up to 100 comments in a single request and makes requests roughly one a second (assuming you have only a single service running using your credentials). That means if Reddit ever gets more than 100 comments in a single second (more precisely, since the last request) items will be missed.

The part PRAW relies on is how quickly Reddit updates tho

[2019-03-10 12:29] bicubic commented on #1043
That is not consistent with the failure mode I am seeing. Below is a count of comments ingested per approx. 1 second. They are floats because the counting mechanism is timed by the stream processor firing and so elapsed delta time may be some fraction higher than 1s.

Note that at no point does the throughput approach 100/s and in fact there is a pretty clear pattern of the throughput dropping to

[2019-03-10 21:09] bboe commented on #1043
Thanks for the data. If you can narrow it down more, I'd love to be wrong so that things can be fixed. You can try logging the actual requests to see if that helps shed any light on the missed comments:

https://praw.readthedocs.io/en/latest/getting_started/logging.html

Keep in mind too that comments might be going into a spam filter and thus they won't show up in the listings. However, they shou

[2019-03-13 12:38] bicubic commented on #1043
I'm not sure how I can help narrow it down since I have zero understanding of praw, but here is something you can easily test yourself.

https://gist.github.com/bicubic/774bf7ae25c29d78acb39d6d2b07849c

Couple of observations:

* When I tested, the above averaged 55 comments per second, praw was averaging 22 for the same time period
* Just like praw, the above does show that some periods show 0 ne

[2019-03-19 15:41] nmtake commented on #1043
I tried this script

[code]

And [here is the result log.](https://gist.github.com/nmtake/49e837db4a5ec5f8c26e1facba57ddba) As we can see, there are many dropped comments as @bicubic  pointed out, and some of them can be retrieved later via api/info:

[code]

I too am guessing it's a cache problem (rather than private subreddit or unapproved comment). As the second GET /comments request in the log

[2019-03-20 23:05] Pyprohly commented on #1043
My testing suggests that this might have to do with the suboptimal `before` param adjusting PRAW does.

I’ve modified bicubic’s script to output comment `id`s to a text file, and compared them to the `id`s output by the following script:

[code]

I’ve compared the two text files—`bicubic_stream.txt` and `praw_stream.txt`—by counting the number of lines that we’re in each but missing from the other

[2019-03-24 00:12] nmtake commented on #1043
I noticed [this discussion](https://github.com/praw-dev/praw/issues/1025#issuecomment-463448709) about `stream_generator()` by @bboe and @Pyprohly. I should have read it before posting my above comment. Also, here is a similar report on /r/redditdev: [My comments don't show in sub.stream.comments, and I don't know why](https://old.reddit.com/r/redditdev/comments/b4i00d/my_comments_dont_show_in_sub

[2019-03-24 00:22] bboe commented on #1043
So where do things stand? What change to PRAW, if any, would produce better results? It'd be great to pull such a change in if one exists.

[2019-03-24 00:32] Pyprohly commented on #1043
Well assuming that it is a matter of before adjusting, one way to solve things would be to just lose the before adjusting, but this would reduce the efficiency of the stream. Doing this would only benefit those who are specifically streaming comments from r/all, so this is not a good solution.

The best thing to do now would probably be to just have PRAW detect that r/all is being streamed from, a

[2019-03-24 00:49] bboe commented on #1043
Can you say more about losing the efficiency of the stream? For slower streams, PRAW introduces longer wait limits when nothing has changed, so maybe dropping that param altogether is fine. I'd personally prefer higher accuracy over efficiency, and I suspect many PRAW users would as well.

[2019-03-24 00:58] nmtake commented on #1043
@bboe I have no idea because I don't know what the root cause of this problem.

[2019-03-24 01:17] bboe commented on #1043
Sorry for the confusion @nmtake. That question should have been addressed directly to @Pyprohly regarding this comment:

[2019-03-24 01:28] Pyprohly commented on #1043
I think removing the before adjusting would be an acceptable fix for now, although know that everyone who’s *not* streaming from r/all is going to be *slightly* worse off, which makes me a little bit uncomfortable.

But it’s not like any other reddit api library does any sort of fancy `before` param adjusting either.

I’ll reintroduce before adjusting with a more optimal algorithm by the time I’m

[2019-03-24 05:09] Watchful1 commented on #1043
I'm guessing this isn't praw's fault, but reddit not updating the index's powering the before parameter fast enough, causing it to not properly find submissions "before" the id if that id was added to the index only a second before. The average number of comments being submitted to reddit each second has grown something like 30% in the last year, so I wouldn't be surprised if something on their si

[2019-03-24 05:32] bicubic commented on #1043
None of the approaches discussed here are actually capable of capturing 100% of r/all. That should be kept in mind for any changes to praw. For some use cases a loss rate of 5% is just as bad as 25%.

Perhaps its worth considering a different approach for those who do want the 100% r/all firehose and treating that as a special case.

[2019-03-24 05:39] Watchful1 commented on #1043
Aside from this bug, this approach absolutely will capture 100% of r/all as long as you don't make any other requests. And if you are planning to make other requests, there's no endpoint that will let you catch up since no endpoint returns more than a hundred objects.

It could be made more robust by using an incremental id based approach like pushshift does, but that won't solve the underlying pr

[2019-03-24 05:56] bicubic commented on #1043
Having run an incremental ID fetch solution for the last few days, I see multiple time periods where the throughput rate exceeds 100messages/s.

Does that not impose a guaranteed loss on any orthodox api based approach?

[2019-03-24 06:07] Watchful1 commented on #1043
It averages out to 60-70 comments a second. As long as you kept track of which ids you had processed and  which you hadn't, you can just keep requesting the ones you hadn't and you'll eventually catch up. In times of peak activity you might fall minutes behind, but as long as you're only requesting comments and not doing anything else you'll be fine.

How are you running an incremental ID approach

[2019-03-24 06:21] bicubic commented on #1043
Probably in a similar way pushshift does. With a pool of workers across multiple IPs making up to N polls per second for 100 explicit IDs each. I don't think such an approach is viable on a single node without technically violating api rate limits.

[2019-03-24 06:28] Watchful1 commented on #1043
Well I'm reasonably sure that u/Stuck_In_the_Matrix only runs one request a second for pushshift. And he fetches comments and submissions in the same request. He's talked recently about adding a second requester, but he hasn't needed to yet.

I'm not really sure where you're getting multiple hundreds of distinct ids a second from, reddit just doesn't get that much content other than a few brief pe

[2019-03-24 06:40] bicubic commented on #1043
Correct, I have a surplus of polling capacity because I'm re-polling comments to watch scores and thread progression.

To consume 100% of the firehose in real time you need to be capable of fetching up to 2x100 item queries per second. Re-polling at a later time is not ideal due to comments getting moderated or deleted seconds after creation. Re-polling also prevents use cases like bots reacting t

[2019-03-24 21:24] fwump38 opened #1047 "Retrieve Removal Reasons"
## Issue Description

Following on from https://github.com/praw-dev/praw/pull/1002 which added support for using the new (and as yet undocumented) removal_reasons APIs, I would like to propose a feature to fetch (and possibly use) the already configured removal reasons found at https://www.reddit.com/r/SUBREDDIT/about/removal

By viewing my network requests it looks like removal reasons can be fet

[2019-03-24 22:59] bboe commented on #1047
Let's do it! What information do you require to get started?

[2019-03-24 23:51] fwump38 commented on #1047
I'm not super familiar with the process for a pull request or where exactly the code for this would go within the existing project, but at the very least I imagine I could sort of follow along with what was done in Issue #1002 and look at providing an optional parameter for the ID of the removal reason to use.

[2019-03-25 00:53] bboe commented on #1047
Awesome. You'll be off to a great start doing that.

[2019-04-06 19:40] bboe commented on #1043
Can y'all see if the following PR improves the streaming functionality?

https://github.com/praw-dev/praw/pull/1050/files

Thanks!

[2019-04-10 13:37] Pyprohly commented on #1043
Yes, #1050 works well for me @bboe.

I’ve noticed you’ve decided to do away with limit adjusting as well. You once mentioned to me that part of the reason for the param adjusting is to avoid cached results. I’d like to know about any relevant discussions. There must have been a reason for adding all this adjusting in the first place.

[2019-04-25 16:15] Pyprohly opened #1052 "New attribute system discussion"
Continuing from #1032.

There are still a few things we need to discuss... Mostly, how do we deal with the backwards incompatibility?

#### Breaking changes

The new attribute system is inherently not going to be compatible with code that tries to access attributes through `__dict__` since attributes are no longer stored there. There are no work arounds that I can offer.

Previously, in #1032 I ha

[2019-04-25 20:55] jonathanwall opened #1053 "Add support for Collections"
## Feature Request

Adding support for Collections

https://www.reddit.com/dev/api/#section_collections
https://www.reddit.com/r/changelog/comments/bgifzd/an_update_on_making_it_easier_to_host_events_on/
https://mods.reddithelp.com/hc/en-us/articles/360027311431

Currently, only the same mod who created the collection is allowed to add to the collection, making this perfect for a bot account. I wo

[2019-04-25 21:53] jarhill0 commented on #1053
One thing to note is that all the endpoints in the documentation you linked are currently tagged `*** BETA ***`. That said, I agree that it makes sense for PRAW to support this feature.

I'd like to take this on. I'll get started this weekend.

[2019-04-28 03:29] jarhill0 commented on #1053
Another thing which should be added as part of this is updating the `submit` arguments for "submit to collection," which automatically adds a new post to a collection: https://www.reddit.com/dev/api/#POST_api_submit

[2019-04-28 04:09] jarhill0 commented on #1053
@bboe I'd like your opinion and advice on something here:

Collections do not have fullnames (like t3_bgj1yr). They do, however, have UUIDs which can be used to fetch them individually. The [`RedditBase` class](https://github.com/praw-dev/praw/blob/c083b0b6de08ed4737d628fbf70fd7717a5d73b7/praw/models/reddit/base.py#L13-L107) provides all sorts of useful functionality, including lazy-loads when an

[2019-04-28 20:40] RylanSchaeffer opened #1055 "How to confirm success of subreddit.submit function?"
`subreddit.submit()` returns a Submisison object. How can I check whether the submission was successful or not? None of the fields in a submission indicate this information. thanks!

[2019-04-28 20:52] jarhill0 commented on #1055
If a `Submission` is returned then the submission has been successful. Otherwise, an exception will be thrown.

Here are several examples of failures:

[code]

[code]

[code]

[code]

[2019-04-28 23:45] RylanSchaeffer commented on #1055
Can that be added to the documentation?

On Sun, Apr 28, 2019, 13:53 Joe RH <notifications@github.com> wrote:

[2019-04-29 00:24] jarhill0 commented on #1055
The section of the documentation that has to do with the [`submit` method](https://praw.readthedocs.io/en/latest/code_overview/models/subreddit.html#praw.models.Subreddit.submit) says:

In my view, it's relatively clear (implicitly) that a return value means the operation was successful.

Generally, the pattern in all of PRAW is that, for actions whose failure is detectable, such as making a submi

[2019-04-29 02:11] Pyprohly commented on #1055
@bboe seems to have gone AWOL.

Would returning `"Collection_" + UUID` not be appropriate as a fullname for a collection? I personally wouldn’t mind fabricating a fullname if Reddit doesn’t provide one. We could define the `fullname` property to be “return the fullname or the closest thing to one”.

Apart from the fullname, is there any other reason why a collection might not fit the RedditBase mo

[2019-04-29 02:11] Pyprohly commented on #1053
@bboe seems to have gone AWOL.

Would returning `"Collection_" + UUID` not be appropriate as a fullname for a collection? I personally wouldn’t mind fabricating a fullname if Reddit doesn’t provide one. We could define the `fullname` property to be “return the fullname or the closest thing to one”.

Apart from the fullname, is there any other reason why a collection might not fit the RedditBase mo

[2019-04-29 02:15] Pyprohly commented on #1055
+1, Success is implied.

However, I think he meant document the expectations.

There are [quite a few][1].

[1]: https://github.com/reddit-archive/reddit/blob/master/r2/r2/lib/errors.py#L31-L192

[2019-04-29 02:37] jarhill0 commented on #1055
We can't accurately document Reddit's exceptions since Reddit has gone closed-source. All of those end up as `APIException`, which we have documentation for.

[2019-04-29 03:12] jarhill0 commented on #1053
Thanks for weighing in @Pyprohly!

I would rather not have to fabricate a fullname when one doesn't exist. I think that it's somehow "misleading" or "lying" to do that.

Thanks for linking bboe's comment regarding removal of `fullname`. I think that it probably would make sense to turn `fullname` support into a Mixin, or perhaps to create a new class in the inheritance hierarchy between `PRAWBase`

[2019-04-29 03:19] RylanSchaeffer commented on #1055
None of this is obvious or implied to someone who installs praw and starts
using it immediately. And the subreddit submit documentation
<https://praw.readthedocs.io/en/latest/code_overview/models/subreddit.html#praw.models.Subreddit.submit>
doesn't
mention anything about exceptions.

On Sun, Apr 28, 2019 at 7:37 PM Joe RH <notifications@github.com> wrote:

--
Rylan Schaeffer
rylanschaeffer.github.

[2019-04-29 04:10] jarhill0 commented on #1055
@RylanSchaeffer Thank you for expressing your concerns.

In my experience, PRAW's handling of this is in line with most other Python libraries. That is, for most other libraries, if a function returns without raising an exception, then it has succeeded. This is also true of the Python standard library; for instance, Python's [file handling](https://docs.python.org/3/tutorial/inputoutput.html#readi

[2019-04-29 06:29] bboe commented on #1053
Hi all. Still around, just not a ton of time to look too deeply into things. I will support whatever approach you think is best @jarhill0. If that means creating a new base class that doesn't include fullname, or hacking UUID onto fullname somehow, either can work.

[2019-04-29 07:31] Pyprohly commented on #1053
That’s just like the `ID_MIXIN` idea @bboe had. I don’t really like this plan. It doesn’t seem sensible to move only one (or maybe two if `id` is included) properties into a new mixin.

Why not just treat and write `fullname` as a regular attribute in like the rest?

If the new attribute system I’ve proposed gets approved then it can be neatly separated away from the other JSON ones.

I’ve designe

[2019-04-29 14:12] jarhill0 commented on #1053
Because for those six types mentioned above, the format and use is the same. For that reason, I don't think we should define fullname separately in six places.

Awesome! I look forward to it 😁😁

All the methods in RedditBase aside from fullname.

It does work without fullname. See the link in my previous comment.

[2019-04-29 16:30] Pyprohly commented on #1053
Fair enough on that point. We should avoid duplication. And it’s clear that some grouping is going on there, so a mixin for `fullname` wouldn’t be completely unwise.

Rather, I guess a new mixin is necessary then.

One thing that bothers me is that you now have to come up with a mixin name that somehow includes all the `RedditBase` classes that have a fullname (which is, currently, *all* of them,

[2019-04-29 17:43] jarhill0 commented on #1053
I'm going to take a stab at this. I'll override the `_fetch()` method in `FullnameMixin` (or whatever I call it).

Yeah, you're right. That's a bad idea. A mixin is much better.

[2019-04-30 02:40] vgoklani opened #1056 "How to extract JSON from the comment object?"
Hey there - thanks for creating this library! How do I extract the JSON from the comment object? I would like the raw JSON so I can serialize it to MongoDB. Thanks!

[2019-04-30 02:43] vgoklani opened #1057 "Which REST endpoints are being called by the subreddit.stream.comments()?"
I would like to replicate the subreddit.stream.comments() method via directly calling the Reddit REST API. Which endpoints are you using to synthesize the subreddit.stream.comments() stream? What about the subreddit.stream.submissions? Thanks!

[2019-04-30 03:29] jarhill0 commented on #1057
`Subreddit.stream.comments()` makes requests to https://oauth.reddit.com/r/[subreddit]/comments/ and performs some logic on it (checking which posts have already been yielded). You can see the logic for that [here](https://github.com/praw-dev/praw/blob/c083b0b6de08ed4737d628fbf70fd7717a5d73b7/praw/models/util.py#L170-L208), but be aware that there are open PRs and Issues having to do with changing

[2019-04-30 03:29] #1057 closed

[2019-04-30 03:55] jarhill0 commented on #1056
At the moment, PRAW doesn't store the full original raw JSON from Reddit, though I believe that may change.

I went ahead and wrote a proof-of-concept "PRAW object to JSON" conversion, which will probably interest you. I didn't put all that much time into it, and I haven't really tested it, so it might not perfectly satisfy your needs, but hopefully it provides a good start.

Here it is:

https://

[2019-04-30 03:57] Pyprohly commented on #1056
Have you tried `vars(comment)`? It’ll give you something close to the raw JSON but you may have to do some work and reduce the objects it contains into something that is serialisable if you want the whole thing to be serialisable.

PRAW doesn’t let you retrieve the raw JSON of its objects because it modifies the data in place.

My new attribute system intends to solve this though. Check out my [`a

[2019-04-30 04:19] vgoklani commented on #1056
This ended up working for me:

    j = {k: v for k,v in comment.__dict__.items() if k != '_reddit'}
    j['author'] = j['author'].name
    j['subreddit'] = j['subreddit'].name

[2019-04-30 04:19] #1056 closed

[2019-04-30 04:25] Pyprohly commented on #1053
Hey, what about `AttributeMixins.Fullname`?

`fullname` is the only custom attribute on PRAW objects at the moment, but I can see myself adding more to `AttributeMixins` in future.

[2019-04-30 04:27] Pyprohly commented on #1053
Hey, what about `AttributeMixins.Fullname`?

`fullname` is the only custom attribute on PRAW objects at the moment, but it might be useful to add more to `AttributeMixins` in future.

[2019-05-01 04:52] Starayo opened #1058 "Documentation - Error in reports example code"
Hi there, I've found an error in the documentation:

Line 1618 of praw/models/reddit/subreddit.py

[code]

This throws a NameError: name 'report' is not defined. It should be:

[code]

[2019-05-01 18:15] jarhill0 commented on #1058
Thanks for noticing this. I'v submitted a PR with a fix.

[2019-05-01 18:25] #1058 closed

[2019-05-07 01:28] 0xlivebeef opened #1066 "SubredditStylesheet.upload_banner_additional_image needs support for left/right/center image placement within banner"
## Issue Description

On reddit redesign, an uploaded banner additional image is placed on the left side by default, regardless of the location of any previous image. However, after upload, the image can be placed on the center or right side of the banner via radio button on the design tab. Requesting PRAW to offer this functionality as an optional parameter passed to the SubredditStylesheet.uploa

[2019-05-10 17:59] #1055 closed

[2019-05-11 03:10] jarhill0 commented on #1053
Pull submitted! Thanks for creating this issue @jonathanwall.

[2019-05-11 05:41] Tystgit commented on #1043
I just want to note that I'm seeing the same issues mentioned here and I'm eagerly awaiting a new version that includes #1050.

[2019-05-11 14:45] #1053 closed

[2019-05-17 00:42] jarhill0 opened #1071 "Add support for new subreddit restrictions."
## Issue Description

Reddit has added support for finer controls on subreddit restrictions. We should support these.

## References

- https://www.reddit.com/r/modnews/comments/bp3tx0/restricted_communities_now_offer_3_approved_user/

[2019-05-22 00:12] jonathanwall opened #1073 "Add support for mod.comment.lock"
## Feature Request

Reddit has recently added a way for mods to lock individual comments. PRAW should support this feature, ideally under comment.mod.lock

https://www.reddit.com/r/modnews/comments/brgr8i/moderators_you_may_now_lock_individual_comments/eodrqq5/

https://www.reddit.com/dev/api#POST_api_lock

[2019-05-22 11:27] klvbdmh commented on #597
It is relevant if you want to use PRAW with other modules relying on asyncio, like [discord.py](https://discordpy.readthedocs.io/en/latest/faq.html#what-does-blocking-mean)

[2019-05-22 12:55] leviroth commented on #597
Is it actually necessary in order to coexist with asyncio, or is it possible to use blocking PRAW calls within a coroutine?

[2019-05-22 15:06] bboe commented on #597
@klvbdmh as @leviroth commented, it's possible for asyncio to coexist with blocking tools. Here's an example that I helped a team of high schooler's work on:

https://github.com/TheNumberGame/multBot/blob/master/multBot.py

[2019-05-22 16:16] #1073 closed

[2019-05-23 16:35] chrisspen commented on #833
I still routinely get this error with version 6.1.1.

[2019-05-23 16:41] bboe commented on #833
@chrisspen there's been a handful of comment tree issues on Reddit recently. It wouldn't surprise me if MoreComments returns orphaned comments. But if you want to provide more information, please open a new issue. Thanks!

[2019-05-28 16:17] derSeddy opened #1076 "time_filter week might be broken"
## Issue Description

When getting post from a subreddit there are less entries with `time_filter='week'` than with  `time_filter='day'`, which seems broken. A few days ago my code worked as expected.

Consider this example:
[code]
Result curently is 255 for `day` but only 17 for `week`.

## System Information

- PRAW Version: 6.2.0 (latest dev version)
- Python Version: 3.4.3
- Operating System:

[2019-05-28 16:30] bboe commented on #1076
Unfortunately this issue is on Reddit's end. Sometimes their listings don't get populated as they should. Consider mentioning it on /r/bugs.

[2019-05-28 16:30] #1076 closed

[2019-06-01 06:03] #1071 closed

[2019-06-01 16:39] #1066 closed

[2019-06-06 20:34] Watchful1 opened #1079 "Chat Support"
It doesn't look like reddit will release official endpoints for chat any time soon, so I'm giving up waiting and want to start looking into supporting chat using the existing functionality.

There are other people who have done this, [Snooful](https://github.com/Snooful/Snooful) (in javascript) for one. So it doesn't look too hard.

I'll start work on it hopefully in the next few weeks, but any de

[2019-06-24 05:56] perfelo opened #1089 "has no attribute 'lower'"
here _config_boolean is given the return of _fetch_or_not_set
https://github.com/praw-dev/praw/blob/3756dcc4190dc5d6faab7f850334193a6cdb126a/praw/config.py#L98-L100
however _fetch_or_not_set can return CONFIG_NOT_SET here
https://github.com/praw-dev/praw/blob/3756dcc4190dc5d6faab7f850334193a6cdb126a/praw/config.py#L92
which creates a bug if .lower() is called on CONFIG_NOT_SET in _config_boolean
h

[2019-06-24 06:25] bboe commented on #1089
This behavior is somewhat intentional. All the settings must be set, and the only way they aren't set is if something messed with the package-level praw.ini file.

What do you think should be done differently?

[2019-06-24 07:15] perfelo commented on #1089
maybe add `if isinstance(item, _NotSet): return bool(item)` in between these 2 lines https://github.com/praw-dev/praw/blob/3756dcc4190dc5d6faab7f850334193a6cdb126a/praw/config.py#L30-L31 so that when it crushes the error is higher up the chain.
Yet it doesn't appear that all setting would be set if here:https://github.com/praw-dev/praw/blob/3756dcc4190dc5d6faab7f850334193a6cdb126a/praw/config.py#L

[2019-06-24 18:28] bboe commented on #1089
`CONFIG_NOT_SET` intentionally should not be used to infer a value. We could probably raise a more specific exception in such a case, however, I maintain this is undefined behavior as `praw.ini` should always be available. Operating in an environment without it is going to be problematic.

If you'd like to make a PR to raise a more specific exception, we'll certainly incorporate that, but as it st

[2019-06-24 18:28] #1089 closed

[2019-06-26 04:03] Watchful1 opened #1090 "Submission stream returning duplicates"
If you stream submissions from r/all, the stream returns duplicate copies of items. See this example code: https://github.com/Watchful1/Sketchpad/blob/master/streamTester.py

Streaming 5000 submissions resulted in 3508 duplicates, many 5 or 6 times each.

Increasing the size of the seen_attributes BoundedSet in stream_generator to some large number, I used 2000, fixed the problem, but that feels l

[2019-06-26 04:56] jarhill0 commented on #1090
I think this may be a Reddit issue, seeing as it is new and we haven't made any changes. Let's monitor this but not change anything immediately.

[2019-07-01 11:10] Pyprohly commented on #1090
I tried streamTester.py again today and it seems the issue has cleared up on its own.

It’s very important that streams yield unique items. Let’s hope the problem doesn’t return.

[2019-07-01 15:41] #1090 closed

[2019-07-03 04:38] Watchful1 opened #1093 "Replying to comments in quarantined subreddits returns an empty object"
I have a bot that fetches comment ids from pushshift, then does some work and replies to the comment. If the comment is in a quarantined subreddit that I have not clicked through the quarantine warning for, I get the following error.

[code]
The reply call succeeds, returning a valid http code and the following json
[code]
`objector.objectify` fails to parse this and returns an empty array. Import

[2019-07-07 07:33] jarhill0 opened #1096 "Community list format change"
## Issue Description

The Reddit API has changed upstream without warning, and the format for creating or editing a `CommunityList` widget now requires a `description` field.

[2019-07-07 22:24] vaclav-2012 opened #1098 "Misleading information in SubredditWiki docstring"
## Issue Description

Docstring of the __init__ method of the SubredditWiki class contains mentions of SubredditModeration class:

https://github.com/praw-dev/praw/blob/ac1a7402360079b8b35f8d8c3ba2675828cd113d/praw/models/reddit/subreddit.py#L2853

https://github.com/praw-dev/praw/blob/ac1a7402360079b8b35f8d8c3ba2675828cd113d/praw/models/reddit/subreddit.py#L2855

## System Information

- PRAW Ver

[2019-07-07 22:25] jarhill0 commented on #1098
Would you like to submit a PR to fix this?

[2019-07-07 22:31] vaclav-2012 commented on #1098
I haven't contributed before, so I would need to learn about the correct procedures/conventions first. Since it's just a very small update I would rather leave it on regular contributors.

[2019-07-07 22:33] jarhill0 commented on #1098
If you'd like to make the PR, just make the changes and add yourself to `AUTHORS.rst`. Since you wouldn't be touching any code, you wouldn't have to worry about tests.

I can make the PR if you'd like, but if you want to do it, then you should! Let me know if you have any further questions 😊

[2019-07-07 23:43] vaclav-2012 commented on #1098
OK. I have submitted the PR. I hope the used language and the PR itself is correct.

[2019-07-08 02:19] #1098 closed

[2019-07-08 16:17] Pyprohly commented on #1093
The alternatives I propose:

* Option 1 - return `None`.
* Option 2 - use the authenticated user’s comment history to retrieve the reply.
* Option 3 - raise a fake APIException.
* Option 4 - have separate `reply()` methods: one that raises and one that doesn’t.

If the returned comment is going to be used by the client then option 2 would be preferred, but when it’s not, option 1 would be the best

[2019-07-09 01:15] Watchful1 commented on #1093
The cleanest option would be to add a new exception type and throw that. IMO this case warrants it since it's a unique combination of not returning a result while actually creating the comment.

Other than that I think 2 would be best. I think it's a fairly rare use case, so the extra call wouldn't be that big a deal. But I don't know if there's any precedent for making two api calls in a single f

[2019-07-09 14:43] Pyprohly commented on #1093
Actually, there could be a bad precedent waiting in option 2 if down the road PRAW becomes asynchronous: extra care would have to be taken in a concurrent setting to avoid a race condition. Even then, option 2 still involves quite a few moving parts and would be unpleasant to maintain.

Also, what if there is some other yet to be discovered scenario where an empty object gets returned but the comm

[2019-07-10 02:50] Watchful1 commented on #1093
The problem with returning None is that it's much harder to diagnose. If I wasn't paying close attention to my error messages, I would probably have just assumed it was something going wrong with the API and it had accidentally returned something invalid, and restarted my bot. A SuccessNothingReturned error would make it more obvious what happened. The error could only be thrown if the returned ob

[2019-07-10 05:53] Pyprohly commented on #1093
Well I did think of returning some sort of sentinel object that could make it clearer for the user, but I figured that idea was similar to returning `None`, and returning `None` seems sensible enough. The API response doesn’t return a comment object and a `None` value reflects that appropriately.

Anyone else have an opinion on what should happen here? @bboe @jarhill0

I think returning `None` is

[2019-07-11 17:41] #1096 closed

[2019-07-12 06:33] Dan6erbond commented on #597
Seeing this comment chain a little later than I had hoped to find it. @bboe I took a look at your example and comparing it to what I have implemented in my framework it doesn't seem too far off, yet after letting my bot run for a couple of hours (days, maybe) it will crash due to PRAW blocking the event loop, I think. The error specifically would be:
![image](https://user-images.githubusercontent.

[2019-07-12 15:32] Pyprohly commented on #1093
Option 1 has been accepted by @bboe and a PR for it is soon to be merged.

If anyone runs into this scenario and needs to retrieve the comment object from the authenticated user’s comment history, the follow snippet will come in handy.

[code]

Thank you for reporting this bug @Watchful1.

[2019-07-14 01:47] #1093 closed

[2019-07-15 21:20] jenbanim opened #1107 "Allow creating a userflair template with both a CSS class and a background color"
## Issue Description

When support was added for v2 flairs back in January (#1018), the Reddit API did not support defining new userflair templates that had both CSS classes and background colors defined. There are some checks in the code currently that throw errors if you try to do this (eg. praw/models/reddit/subreddit.py, line 956).

After doing some testing myself, I found that the API does su

[2019-07-15 21:26] bboe commented on #1107
Thanks for filing. Would definitely love to see your pull request.

[2019-07-16 21:24] MrEdinLaw opened #1108 "[Suggestion] Get redditor object by user_id"
## Issue Description

It would be nice to get redditor object with the user id.
If possible.

[2019-07-16 21:40] bboe commented on #1108
Does Reddit's API permit that? If not then it's not something PRAW can do.

[2019-07-16 21:54] MrEdinLaw commented on #1108
I found some old reddit posts saying its doable, also in praw there is a function to get user object by username.

[2019-07-16 22:19] bboe commented on #1108
Can you link said posts please? I don't recall off hand such way to convert from user id to username. Out of curiosity, why do you have user ids?

[2019-07-17 09:05] MrEdinLaw commented on #1108
[Post Link](https://www.reddit.com/r/redditdev/comments/ac0w3l/how_do_i_get_a_redditor_instance_by_redditor_id/) - [Suggested Solution](https://www.reddit.com/r/redditdev/comments/ac0w3l/how_do_i_get_a_redditor_instance_by_redditor_id/ed4hdeh?utm_source=share&utm_medium=web2x) - [Solution Tested and Working](https://www.reddit.com/r/redditdev/comments/ac0w3l/how_do_i_get_a_redditor_instance_by_red

[2019-07-20 16:56] dginovker opened #1109 "'Comment' object has no attribute 'permalink'"
## Issue Description
[code]

permalink in doc: https://praw.readthedocs.io/en/latest/code_overview/models/comment.html

## System Information

- PRAW Version: 6.3.1
- Python Version: 3.7
- Operating System: Linux

[2019-07-20 17:01] dginovker commented on #1109
It seems that it's the documentation that needs to be updated: https://github.com/praw-dev/praw/commit/1a2c54bb7b892a56753843c6fe647621bbbbe65f#diff-87ff0d206cb2ddf9fd5c8b3c905c13a5

[2019-07-23 09:25] jackodsteel commented on #1108
I'm going to work on this now :)

[2019-07-23 09:36] jackodsteel commented on #1109
@dginovker That change is removing the method, but the attribute should still be there. I'm still able to get a permalink e.g. `reddit.comment('dkk4qjd').permalink` should work for you.

Are you able to give more info on what the comment it was trying to call that on was? Do you have the comment id?

[2019-07-29 02:07] #1109 closed

[2019-07-29 02:08] #1107 closed

[2019-08-06 06:07] michaelkolber opened #1115 "PRAW raises prawcore.exceptions.BadRequest when attempting to call send_removal_message()"
## Issue Description

Any time I try to use `send_removal_message()`, PRAW gives me a 400 error. Looking at the official Reddit API, it appears the endpoints for that function have been removed.

**Attempt:**
[code]

## System Information

- PRAW Version: 6.3.1
- Python Version: 3.7.0
- Operating System: Windows 10 x64

[2019-08-07 04:14] jmcurran opened #1116 "AttributeError: module 'websocket._ssl_compat' has no attribute 'ssl'"
## Issue Description

My programme fails with no message. However, using an interactive environment suggests there is something wrong with websocket. I have looked around, and a lot of sites recommend the removal of websocket and the installation of websocket_client instead. I have done this:

[code]
This is the stack trace from LiClipse:

[code]

## System Information

- PRAW Version: 6.3.1
- Pyt

[2019-08-09 05:02] jarhill0 commented on #1116
PRAW does indeed use `websocket-client`. See below, from the requirements:

https://github.com/praw-dev/praw/blob/8674ed520652746e1495cfbeb37125761f500b20/setup.py#L45

This is why you got "requirement already satisfied" when you tried to install it.

---

Based on what I can tell, this is an issue with `websocket-client` and/or your Windows configuration. I don't believe there is a bug in PRAW. U

[2019-08-09 05:02] #1116 closed

[2019-08-09 05:35] jarhill0 commented on #1115
Thanks for the clear example of your attempt!

I played around with your code, which reproduced the same results. Then I looked at the test for the method:

https://github.com/praw-dev/praw/blob/8674ed520652746e1495cfbeb37125761f500b20/tests/integration/models/reddit/test_comment.py#L300-L307

Based on this code, it looks like you cannot send a removal message for a comment that isn't removed. The

[2019-08-09 06:08] michaelkolber commented on #1115
Sure, I'd be happy to.

[2019-08-22 01:22] MrEdinLaw commented on #105
Has this been removed? I always get this error `AttributeError: 'Subreddit' object has no attribute 'refresh'`, i have the latest praw version.

[2019-08-22 01:27] MrEdinLaw opened #1118 "Whats the new way to refresh the reddit request?"
I have found this issue https://github.com/praw-dev/praw/issues/105 which explains what im asking. I remember using this in my past, did not need it for a good while, now trying to use it returns an error `AttributeError: 'Subreddit' object has no attribute 'refresh'`, which seems to be a praw issue i guess.

Has this been removed/replaced or something? This would still be very usable for us.

[2019-08-22 02:29] jarhill0 commented on #1118
It's undocumented and thus subject to change at any time, but many PRAW objects have a `._fetch()` method. Example:
[code]

[2019-08-22 02:29] #1118 closed

[2019-08-31 05:32] jkrejcha commented on #940
Yeah, it's a private property of a private messages `is_repliable`. There are other scenarios in which a message isn't repliable (such as for one off events). I thought it was in the API, but I guess it isn't.

[2019-09-11 19:44] Vinccool96 commented on #940
I think I found it while doing tests. You can't reply when `distinguished` isn't null.

[2019-09-18 06:17] logeeker opened #1120 "Submission.crosspost got unexpected keywords argument 'nsfw' and 'spoiler'"
## Issue Description

In Submission.crosspost(), nsfw and spoiler aren't working.

[code]
Output:
[code]
Trace: (if not using try except)
[code]

## System Information

- PRAW Version: 6.3.1
- Python Version: 3.7.4 32-bit
- Operating System: Windows 10 Home 1809

[2019-09-18 13:23] jarhill0 commented on #1120
Hi,

These features haven't been released yet, as seen in the [change log](https://praw.readthedocs.io/en/latest/package_info/change_log.html). I've been meaning to release a new version, and that should happen soon.

[2019-09-18 13:23] #1120 closed

[2019-09-23 13:39] jarhill0 opened #1123 "Add support for disabling websocket use"
## Issue Description

There should be a way to submit images and videos without using websockets.

[2019-09-23 18:24] endlisnis opened #1124 "praw raises WebSocketConnectionClosedException"
## Issue Description
When I call `submit_image`, I sometimes get:
`websocket._exceptions.WebSocketConnectionClosedException: Connection is already closed.`

Here is the full traceback:
[code]

I believe this is happening when Reddit.com does not respond before the timeout (which I've set to 60 seconds).

Today (for some reason) Reddit is really slow and this is happening 100% of the time when I tr

[2019-09-23 18:34] jarhill0 commented on #1124
If the issue just started happening and you think it's on Reddit's end, it will probably be resolved when they fix it.

Also, issue #1123 is related to this — I want to add an option to disable the use of websockets to avoid cases like this.

[2019-09-23 18:39] endlisnis commented on #1124
I do think that Reddit.com is misbehaving today, but I don't have an easy way of handling this type of failure in my code unless praw catches this exception and produces a more structured response.

Sometimes, I get a different exception during a timeout: `praw.exceptions.ClientException: Websocket error. Check your media file. Your post may still have been created.`

Unfortunately, that does not

[2019-09-23 18:43] jarhill0 commented on #1124
Thanks for the feedback @endlisnis. You make good points about the types of exceptions raised. I agree that

- All websocket exceptions should be caught and raised by PRAW instead
- The exceptions that PRAW does provide should give more useful information (for example, differentiating between timeouts and other websocket exceptions).

If you'd like to make a PR to make these changes, you are more

[2019-09-23 18:44] endlisnis commented on #1124
Please make the changes yourself.  It would probably take me several weeks to get the time to be able to dig into this project enough to be able to make a change like that.

[2019-10-08 07:41] fwump38 commented on #1047
Better late than never :)

[2019-10-10 17:06] YasminFathy opened #1126 "How to get the data between two dates ?."
## Issue Description
We can't get the submission between two dates as it was explained in many links and on reddit using cloudsearch. So, this doesn't work.

reddit.subreddit('all').search('apple', sort='new',limit=None,syntax='cloudsearch',
                                         params={'timestamp':'1420027200..1420070400'})
How it can be between strict dates?. Now using lucene, it allows only

[2019-10-10 17:17] jarhill0 commented on #1126
This feature was removed from Reddit's API, and so it was removed from PRAW in [version 6.0.0](https://praw.readthedocs.io/en/latest/package_info/change_log.html). If you want this functionality, you may be interested in pushshift.io, which is unaffiliated with PRAW.

[2019-10-10 17:17] #1126 closed

[2019-10-22 19:08] MrEdinLaw opened #1127 "A way to change the reddit 'online members' and 'members' calling."
## Issue Description

![image](https://user-images.githubusercontent.com/10659028/67321648-11e4cd00-f510-11e9-8ce4-fbcc5d7c0b34.png)
Currently it looks like this.

I saw that you can change it from the reddit interface. Would be nice to also change it from the praw code.

[2019-10-22 19:58] jarhill0 commented on #1127
Hi,

Please use

[code]

as described on [this page of the docs](https://praw.readthedocs.io/en/latest/code_overview/other/idcard.html#praw.models.IDCard).

[2019-10-22 19:58] #1127 closed

[2019-10-27 19:32] baxcat opened #1128 "Add a way to sticky comments"
## Issue Description
`sticky()` as mentioned in [the docs](https://praw.readthedocs.io/en/v4.0.0/code_overview/other/submissionmoderation.html?highlight=sticky#praw.models.reddit.submission.SubmissionModeration.sticky) doesn't work on comments, or specifying them is unclear. Trying the following:
`comment = submission.reply('comment here')`
`sticky(comment, state=True)`
returns `NameError: name 's

[2019-10-27 19:42] leviroth commented on #1128
You need to use `comment.distinguish`, which is documented [here](https://praw.readthedocs.io/en/v4.0.0/code_overview/other/subredditmoderation.html#praw.models.reddit.subreddit.SubredditModeration.distinguish).

Note that, apart from the different name, `distinguish` is a *method*, and so you have to call it as `comment.distinguish(...)` and not `distinguish(comment, ...)`.

[2019-10-27 19:57] baxcat commented on #1128
Thanks for this, but I can't figure out how to run it properly. I've run:
`comment = submission.reply('comment here')`
`comment.distinguish(how='yes')`
and it returns `AttributeError: 'Comment' object has no attribute 'distinguish'`. I'm not sure what I've done wrong, do i have the syntax wrong, or?

[2019-10-27 20:00] leviroth commented on #1128
Argh, sorry, I didn't think that through. It should be `subreddit.mod.distinguish(comment, ...)`. The `subreddit.mod` part is what gets you the `SubredditModeration` object described on that page.

[2019-10-27 20:30] jarhill0 commented on #1128
Isn't it `comment.mod.distinguish()`? I'm away from my computer but I believe that should work if you are a mod with appropriate permissions.

[2019-10-27 20:37] baxcat commented on #1128
@leviroth So `subreddit.mod.distinguish(comment, how='yes')` calls the `SubredditModeration` object, but just to tell me that it doesn't contain the attribute `distinguish`. Bit confusing since `distinguish` is under the `SubredditModeration` section in the docs.

@jarhill0 that does distinguish the comment, but it doesn't sticky it. I tried with `how='yes'`, `how='admin'`, and `how='special'`, wh

[2019-10-27 20:44] leviroth commented on #1128
Ah, wait, which exact version of PRAW are you using? You linked the documentation for 4.0.0, but the fact that `comment.mod` even exists makes me think you're using a later version. If you're using anything since `4.1.0`, there should be a `sticky` parameter to `comment.mod.distinuish` as documented [here](https://praw.readthedocs.io/en/v4.6.0/code_overview/other/commentmoderation.html#praw.models

[2019-10-27 21:39] baxcat commented on #1128
`comment.mod.distinguish` works, but `comment.mod.sticky` doesn't seem to exist. As for the version, running `python3 -m pip install praw` returns that everything is already satisfied, not sure how to check the exact version.

[2019-10-27 21:40] jarhill0 commented on #1128
As @leviroth says, what you want is `comment.mod.distinguish(sticky=True)`.

[2019-10-27 21:56] baxcat commented on #1128
This works, thank you. I didn't read the part about the parameter correctly, I assumed it was a separate function.

[2019-10-27 21:56] #1128 closed

[2019-10-27 22:03] leviroth commented on #1128
You can do `pip show praw` or just `praw.__version__` from within Python.

[2019-10-27 22:07] baxcat commented on #1128
6.4.0. I only installed it yesterday, I thought 4 was the latest. My bad, I didn't know how to check previously.

[2019-11-01 06:36] H4CKY54CK opened #1129 "Emoji uploading options"
I looked into exactly what this means, as I don't use the redesign regularly. This would benefit mods with large amounts of emojis, especially in subreddits where their emoji limit is increased.

When adding an emoji to a subreddit as a mod (redesign), you are prompted by a menu, with the options being:

"Appears in:"
[ ] Post Flair
[ ] User Flair
Mod only: [ ]

Currently, as far as I can tell, wh

[2019-11-06 19:20] H4CKY54CK commented on #1129
No longer an issue

[2019-11-06 19:21] jarhill0 commented on #1129
Hi @H4CKY54CK,

Do you mean to say that PRAW does indeed have this feature?

[2019-11-07 15:34] jarhill0 commented on #1129
I'm reopening this issue because I don't understand why it was closed.

[2019-11-10 20:39] kungming2 commented on #1079
Since Reddit uses [Sendbird](https://sendbird.com) for their chat, is their [API](https://docs.sendbird.com/platform) a useful reference?

[2019-11-10 23:08] #1123 closed

[2019-11-11 10:11] H4CKY54CK commented on #1129
Sorry, I don't get alerted to GitHub comments, else I'd have replied sooner.

I closed it because I'm unfamiliar with GitHub. In my mind, it was no longer relevant. I apologize, it's a confusing system.

[2019-11-21 01:29] #1108 closed

[2019-11-21 03:03] jackodsteel opened #1139 "SubredditFlairTemplates.update nullifies/overwrites existing values if not given"
## Issue Description

The current [SubredditFlairTemplates.update](https://github.com/praw-dev/praw/blob/master/praw/models/reddit/subreddit.py#L1236) method nullifies/overwrites existing values if not given as inputs to the method, instead of retaining them and only modifying the inputs given.

Although this is documented, it would be preferable to only update the values given as inputs to the ca

[2019-11-21 03:05] jackodsteel commented on #1139
I should be able to get to this sometime next week, but if anyone else wants to pick it up then feel free.

[2019-11-22 06:41] frankdilo opened #1140 "Cache support?"
## Issue Description

Hi, I saw that you remove caching support in 2016 and that now just some properties are cached via the `cachedproperty` decorator. I was interested in caching the results I get via the `subreddit.top("day")` method.

What's your suggested way to do that?

## System Information

- PRAW Version: 6.4.0
- Python Version: 3.7.4
- Operating System: macOS Catalina

p.s. Love what yo

[2019-11-25 03:40] jackodsteel commented on #1139
After investigating this, it seems that this is default behaviour of the API endpoint, so to improve this we would first need to fetch/recieve the existing data and then apply the changes given.

There are a few ways this could be done. I'd like to get discussion or a decision on what to go with before I implement it fully, as they have different pros and cons.

In each case, once we had the exist

[2019-11-25 09:20] wojciiii opened #1141 "Please document how to use installed application flow - the documentation is unclear"
## Issue Description

First thank you for your work on this library. I find it very useful. :)

I think that the documentation (https://praw.readthedocs.io/en/latest/getting_started/authentication.html) is unclear when it comes to how to use the installed application flow using PRAW.

Would you please consider updating https://praw.readthedocs.io/en/latest/getting_started/authentication.html with

[2019-11-27 20:45] kungming2 opened #1142 "`reddit.user.moderator_subreddits()` has a limit of 100 subreddits that is not documented."
## Issue Description

`reddit.user.moderator_subreddits()` is a method for `reddit.user` that [returns a ListingGenerator of the subreddits that the currently authenticated user is a moderator of](https://praw.readthedocs.io/en/latest/code_overview/reddit/user.html). It works fine, but there is actually a **hard limit of 100 subreddits returned** through this method, and that limit is currently no

[2019-11-27 23:41] PokestarFan opened #1143 "Using non string value in reddit.comment() causes TypeError when calling repr()"
## Issue Description

If the comment or submission classes are initialized through the reddit class with any non-string value, an object is created but can no longer be accessed unless one of the dynamic attributes are called.

[code]

But if I call any of the dynamic attributes, the issue resolves itself:

[code]

The method should do any needed type conversions before loading a comment or submis

[2019-11-28 00:43] bboe commented on #1143
If you make a PR, I think the simplest solution is to simply reject anything that is not a string. Thoughts?

[2019-11-28 22:01] kungming2 commented on #1142
Closing due to opening of PR #1145.

[2019-11-28 22:01] #1142 closed

[2019-11-29 19:03] jarhill0 opened #1146 "PRAW installed by pip is missing the `images` directory and its contents"
## Issue Description

PRAW's video submit method uses a placeholder image as a video thumbnail when the user doesn't provide a thumbnail. Here's the relevant code:

https://github.com/praw-dev/praw/blob/54f8b3f998008b81988aac057d33fe38d5ac7739/praw/models/reddit/subreddit.py#L511-L514

That image is at [`praw/images/PRAW logo.png`](https://github.com/praw-dev/praw/blob/master/praw/images/PRAW%20lo

[2019-11-29 22:19] nmtake commented on #1141
Hi,

as [the table](https://praw.readthedocs.io/en/latest/getting_started/authentication.html#authenticating-via-oauth) shows, installed apps can use "code" or "application-only" flow (implicit flow is rarely used). See https://praw.readthedocs.io/en/latest/getting_started/authentication.html#code-flow to use code flow, and https://praw.readthedocs.io/en/latest/getting_started/authentication.html#

[2019-12-01 18:49] JohnMackYouTube05 opened #1147 "Cannot import PRAWBase from praw.base"
## Issue Description
When I try to run my program for my reddit bot, instead of it running, Python returns and gives me this error:
`============= RESTART: C:\Users\liljm\Desktop\SteamKeyBot v1.py =============
Traceback (most recent call last):
  File "C:\Users\liljm\Desktop\SteamKeyBot v1.py", line 6, in <module>
    from praw import helpers
  File "C:\Users\liljm\AppData\Local\Programs\Python\P

[2019-12-01 18:51] JohnMackYouTube05 commented on #1147
Please help! I really want my bot to work!

[2019-12-01 18:54] jarhill0 commented on #1147
Hi there.

I would recommend uninstalling PRAW and then reinstalling it with `python3 -m pip install praw`.

I am closing this issue as it doesn't seem to be a problem with PRAW in general.

[2019-12-01 18:54] #1147 closed

[2019-12-01 18:55] JohnMackYouTube05 commented on #1147
I tried doing that already. It still doesn’t work

On Sun, Dec 1, 2019 at 12:54 PM Joey RH <notifications@github.com> wrote:

--
Sent from John Mack Skype - yellowboy111 Hangouts - John Mack

[2019-12-01 19:29] bboe commented on #1147
How are you installing PRAW?

[2019-12-01 19:30] JohnMackYouTube05 commented on #1147
I’m installing PRAW via Command Prompt with the pip command.

On Sun, Dec 1, 2019 at 1:29 PM Bryce Boe <notifications@github.com> wrote:

--
Sent from John Mack Skype - yellowboy111 Hangouts - John Mack

[2019-12-01 19:50] bboe commented on #1147
Where is that line coming from? Helpers doesn't exist. It seems like you may have an old version of PRAW lingering around.

[2019-12-01 19:51] JohnMackYouTube05 commented on #1147
I just installed PRAW yesterday

On Sun, Dec 1, 2019 at 1:50 PM Bryce Boe <notifications@github.com> wrote:

--
Sent from John Mack Skype - yellowboy111 Hangouts - John Mack

[2019-12-01 20:04] bboe commented on #1147
Did you write your script? If not, please consult whomever provided it to you.

This line `from praw import helpers` is for an old version of PRAW, so something you have isn't going to work.

[2019-12-01 20:07] jarhill0 commented on #1147
When I try `from praw import helpers` I get an `ImportError` on `helpers`, which doesn't exist. On your machine, the `helpers.py` file does exist.

@JohnMackYouTube05 I think you should do

    python3 -m pip uninstall praw
    python3 -m pip install 'praw>=6.0.0'

because as @bboe says, it sounds like your system still has an old version of PRAW <4 still installed.

[2019-12-01 22:20] #1047 closed

[2019-12-02 00:27] bboe commented on #1140
Hi @frankdilo, can you provide more information about your reason for wanting to cache `top("day")` listing?

[2019-12-08 00:24] kungming2 opened #1152 "A Style Guide for PRAW Documentation"
## Issue Description

Recently, I've been working to standardize some of the terminology in the documentation and to bring it up-to-date (Reddit Gold [has been renamed for more than a year](https://www.reddit.com/r/help/comments/978kis/what_is_reddit_premium_and_how_will_it_affect_my/), for example), and I asked bboe on #1150 if we could add a "Style Guide" `rst` for documentation to `package_info

[2019-12-08 18:58] jarhill0 commented on #1152
Thanks for this. I think PRAW would benefit a lot from a style guide. I'm gonna quote some of what you said and then ramble about my opinions.

I agree. Though, some examples only work for subreddits where the authenticated user is a moderator, and most PRAW users are not mods at /r/test. Any thoughts on that?

This gets at something that I think about when writing PRAW documentation that you don'

[2019-12-21 00:24] nmtake commented on #1141
Closing due to inactiveness.

[2019-12-23 03:28] PokestarFan opened #1162 "Name of modaction.py does not match naming schemes"
The file `praw.models.modaction` goes against the naming convention of snake_case. Should this be ignored or renamed to mod_action to match the naming convention?

[2019-12-23 03:47] PokestarFan opened #1163 "Some files are missing the ListingGenerator disclaimer"
## Issue Description

Any function that calls ListingGenerator has a kwargs arg in order to send the extra keyword arguments to ListingGenerator, and this is usually documented with a disclaimer. However, while stubbing files, I realized some of the docstrings are missing the disclaimer.

Finding files that call ListingGenerator that miss the disclaimer should be easy enough with a recursive funct

[2019-12-23 04:21] PokestarFan opened #1165 "Remnants of Python2 support"
Python 2 has been recently unsupported, but there still exists a lot of old, useless code remnants that should be removed. For example, calls to super() should not be required to supply the class and the instance of the class, and #1161 attempts to address the problem of unicode string descriptors (`u""`).

[2019-12-23 16:01] bboe commented on #1162
Renaming it would require a major version change, which is fine. We should move it in a backwards compatible way first to give anyone who imports directly from modaction notice, and we can clean up the backwards compatible part before the next major version bump. Thoughts?

[2019-12-23 16:01] bboe commented on #1163
Improving documentation is always great!

[2019-12-23 16:21] PokestarFan commented on #1162
I think setting up a warning in modaction should be acceptable. Rename modaction to mod_action, then add this line to modaction.py:
import warnings
from .mod_action import *
warnings.warn("The name modaction has been deprecated. Please import modaction as mod_action. This feature will be removed on the next major version release.", DeprecationWarning, stacklevel=2)

[2019-12-23 16:30] bboe commented on #1162
Sounds great. There is specifically `DeprecationWarning` which you can use: https://docs.python.org/3/library/exceptions.html#DeprecationWarning

[2019-12-23 17:36] PokestarFan commented on #1162
That's what I did

[2019-12-24 16:50] PokestarFan opened #1175 "Pre-push does not work on Windows"
I was tinkering around on a Windows VM and it seems that black does not work on Windows because it cannot use `*.py` wildcards. A good solution would be to remove the *.py argument directly, as black still behaves without it.

[2019-12-25 16:08] PythonCoderAS opened #1177 "SubmissionModeration.flair() does not have template_id support"
## Issue Description

The class SubmissionModeration obtained from a Submission instance is unable to flair submissions with any templates. However, using the SubmissionFlair class, even if you are not the submission creator, seems to work. The flair() method should be deprecated and moderators should use SubmissionFlair instead of directly calling flair().

## System Information

- PRAW Version:

[2019-12-25 21:28] PokestarFan commented on #1162
Resolved.

[2019-12-25 21:28] #1162 closed

[2019-12-25 21:28] PokestarFan commented on #1163
Resolved.

[2019-12-25 21:28] #1163 closed

[2019-12-25 21:56] PythonCoderAS opened #1179 "Better exception handling"
I feel that exceptions are really vague, especially if you try to do something without permissions. The error from using invalid credentials to sign in is just as vague as trying to do a mod action without having mod powers, as is the error for authenticating with password but without token on a 2FA-supported account. I feel like exceptions should be well defined, and for auth errors, leave sugges

[2019-12-27 05:03] #1143 closed

[2019-12-27 16:52] PokestarFan commented on #1175
Closing as fixing the black argument signature stopped the error

[2019-12-27 16:52] #1175 closed

[2019-12-27 16:52] #1165 closed

[2019-12-27 23:37] jarhill0 commented on #1177
Can you provide a code sample demonstrating what currently works but should be deprecated, and what doesn't exist yet but should exist?

[2019-12-27 23:44] PokestarFan commented on #1177
[code]

[2019-12-29 01:33] PokestarFan opened #1224 "PRAW Integration Tests cannot be used with tokens"
On #1051 , the PR Creator tried to use a refresh token when making cassettes, but the refresh token cassettes do not work when run with a username/password combination.

I think that refresh tokens should be standardized, as it is much easier to deal with a leaked token (just revoke it) than it is to deal with a leaked password, also it's hell to run tests with 2FA enabled, and 2FA should be encou

[2019-12-29 01:34] PokestarFan commented on #1224
Paging @LilSpazJoekp

[2019-12-29 01:38] LilSpazJoekp commented on #1224
Yes. I spent an hour generating 6 cassettes because I have 2FA enabled. If I could have used a token it would have taken 2 minutes to generate them.

[2019-12-29 01:39] LilSpazJoekp commented on #1224
I was able to get it to work but with tokens but it’s an all or nothing situation. If you use a token on some cassettes and then someone else uses user/pass on another the token cassettes will fail.

[2019-12-29 01:43] PokestarFan commented on #1224
@LilSpazJoekp can you do me a favor and re-run all the integration tests with a token combo, as I got signed out and my phone broke (I had a backup tho so I just need a new one to restore to)

[2019-12-29 01:45] LilSpazJoekp commented on #1224
I can tomorrow. I’ll have to use a different account for the private inbox one as I have some hate mail in my mailbox at the moment.

[2019-12-29 01:46] PokestarFan commented on #1224
@LilSpazJoekp How would that affect the results? It's not like inbox results are filtered by content or even recorded

[2019-12-29 01:47] LilSpazJoekp commented on #1224
Doesn’t it have message contents?

[2019-12-29 01:49] PokestarFan commented on #1224
Let me check

[2019-12-29 01:50] LilSpazJoekp commented on #1224
It does. [This](https://github.com/praw-dev/praw/blob/master/tests/integration/cassettes/TestInbox.test_mark_read.json) is one of the cassettes that will need to be regenerated and it has subject and message content.

[2019-12-29 01:54] PokestarFan commented on #1224
I checked and you're right.

[2019-12-29 01:55] PokestarFan commented on #1224
Let me spin up a temp alt for this.

[2019-12-29 01:57] LilSpazJoekp commented on #1224
I have alts that I already have tokens for and I can generate it tomorrow

[2019-12-29 02:04] LilSpazJoekp commented on #1224
We also have to consider testing password auth for people who still use it. IIRC there are tests for the different auth types. I don’t know if forcing tokens for tests will have any effect on those tests.

[2019-12-29 02:18] PokestarFan commented on #1224
That's why I am regenerating tests. Plus, how did token tests succeed without passwords?

[2019-12-29 02:19] LilSpazJoekp commented on #1224
I had to remove the password placeholder using the method you suggested before.

[2019-12-29 02:36] PokestarFan commented on #1224
@LilSpazJoekp can you run tests again for the test_reddit file? I'm getting a whole bunch of exceptions on the live thread ones.

[2019-12-29 08:19] bboe commented on #1224
It'd be nice to not have to regenerate all the existing tests. Perhaps we can provide a configuration that allows a set of tests to be run/recorded/replayed using tokens instead of passwords?

[2019-12-29 18:14] LilSpazJoekp commented on #1224
@bboe do you think it would be good regenerate some of the cassettes in case the api returns something different? Also, is there a way to check what place holders a cassette has so that different args can be passed into the reddit instance when that cassette is ran? So it can check if the cassette was generated using a token vs user/pass.

[2019-12-29 18:18] PokestarFan commented on #1224
@LilSpazJoekp @bboe The problem is that any refresh token reddits will request for an access token using a different auth flow (password vs token) so all cassettes will be invalidated.

[2019-12-29 18:21] LilSpazJoekp commented on #1224
Not all, only the `read_only = False` ones will be invalidated. What I’m wondering is if we could check what placeholders were used in a cassette and switch the auth flow on the fly.

[2019-12-29 21:05] #1224 closed

[2019-12-29 21:05] PokestarFan commented on #1224
@LilSpazJoekp says he fixed this issue.

[2019-12-29 22:27] bboe commented on #1224
I don't know if that's exposed via betamax. However, we could definitely add more information to test cases which use tokens to indicate they should use tokens for authentication. And any such test cases which don't have this extra information can be assumed to use script-type auth.

[2019-12-29 22:42] LilSpazJoekp commented on #1224
@bboe if you look at my mention of this issue above you can see how I was able to use tokens for the tests of the methods that PR is adding.

[2019-12-29 22:54] bboe commented on #1224
Fantastic! I'll try to take a look at that PR in more depth in the next day or so.

[2019-12-30 22:34] PokestarFan opened #1235 "New submissions are not showing up"
## Issue Description

I'm trying to debug post flair, but on my test subreddit, new posts are not showing up. There are three total posts, but only one shows up.

[code]

Subreddit: https://www.reddit.com/r/PRAW_iavynavffv/

Why is only one of the submissions showing up when there's three more, and the poster is a moderator?

## System Information

- PRAW Version: 6.4.1dev0
- Python Version: 3.8.0

[2019-12-30 22:37] jarhill0 commented on #1235
[code]

I'm getting all three. I think something is specific to your account. Maybe you hid two of the posts, or maybe you have a setting enabled in https://www.reddit.com/prefs/ that hides posts you've voted on or posts below a certain score. I recommend logging in on the web as whatever account you authenticated PRAW with and messing around with the preferences until all three posts show.

[2019-12-30 22:40] PokestarFan commented on #1235
i can see them on the desktop version so I'm confused

[2019-12-30 22:41] PokestarFan commented on #1235
Wait i'm auth from a different account on the client

[2019-12-30 22:43] PokestarFan commented on #1235
aha found it ` 'min_link_score': 3,` so I just need to update this

[2019-12-30 22:43] #1235 closed

[2019-12-31 04:11] PythonCoderAS opened #1238 "Did a username change"
Just thought I’d formally announceI changed my username from PokestarFan to PythonCoderAS to try and separate my GitHub account and coding experience from all of my other web activity.

[2019-12-31 04:20] bboe commented on #1238
Thanks for the heads up. For future reference, I don't think the username change necessitates filing an issue.

[2019-12-31 04:20] #1238 closed

[2019-12-31 13:16] PythonCoderAS commented on #1238
I was going to close it on my own anyways

[2019-12-31 23:42] dequeued0 opened #1240 "Support sending the admins spam and abuse reports"
## Issue Description

It would be great if there was a way to submit reports to the admins for spam and abuse. Unfortunately, there isn't an API for this, just a form:

https://www.reddit.com/report

The admins have made it clear that they no longer want to receive modmails to /r/reddit.com and admin responsiveness for modmails sent to /r/reddit.com is not good.

## System Information

- PRAW Vers

[2020-01-01 01:27] PythonCoderAS commented on #1240
Python 2.7 is unsupported by PRAW, so why is PRAW being run on 2.7?

[2020-01-01 01:34] dequeued0 opened #1241 "is_friend attribute doesn't work for suspended and banned redditors"
## Issue Description

Checking `.is_friend` doesn't work for suspended and banned (i.e., shadowbanned by Reddit) redditors. Requesting directly via `/api/v1/me/friends` does work although an exception is generated if the account is suspended/banned and not in friends.

Checking the entire friends list also works, but is much slower for a large friends list, so I am only calling this way in my work

[2020-01-01 01:37] PythonCoderAS commented on #1240
Also as it turns out there is an undocumented OAuth API to reports, `https://oauth.reddit.com/api/report?redditWebClient=desktop2x&app=desktop2x-client-production&raw_json=1&gilding_detail=1`. Here is an example report for `It threatens violence or physical harm at someone else` sent from the website:

[code]

It looks as if it takes data values for reason, site_reason, thing_id, api_type, and fro

[2020-01-01 01:37] jarhill0 commented on #1240
@pythoncoderas: Since this is a feature request, the python version doesn't matter. In addition, PRAW supported 2.7 in recent versions and support was only dropped recently. And of course, the issue specifies 3.7 as well.

[2020-01-01 01:38] jarhill0 commented on #1240
@pythoncoderas Thanks for looking into it! That is much appreciated.

[2020-01-01 12:29] PythonCoderAS commented on #1241
It's much easier to embed the files as code:

# Is Friend Testcase

[code]

# Is Friend Testcase Python Code
[code]

[2020-01-01 18:34] PythonCoderAS opened #1244 "Inconsistency in return values for SubredditStylesheet"
The class `praw.models.reddit.Subreddit.SubredditStylesheet` has a bunch of methods for uploading various types of images. Some of the methods return the link to images, while others do not. It is understandable, that you do not need a link to the banner image, since there is only one banner. However, the methods `upload_header`, `upload_mobile_header` and `upload_mobile_icon` all return links to

[2020-01-03 00:35] PythonCoderAS commented on #1241
@dequeued0 what kind of exception is thrown?

[2020-01-04 01:59] PythonCoderAS commented on #940
I made a report on my test alt and it also can't be replied to, but it has a different warning.
<img width="874" alt="Screen Shot 2020-01-03 at 8 55 54 PM" src="https://user-images.githubusercontent.com/13932583/71758300-da799180-2e6b-11ea-80b7-ed5099ee56dc.png">

[2020-01-04 02:00] jkrejcha commented on #940
It simply just isn’t detectable. Many admins messages are repliable. Many messages even by /u/reddit are repliable. The only way to reliably detect it is by HTML scraping.

From: PythonCoderAS
Sent: Friday, January 3, 2020 5:59 PM
To: praw-dev/praw
Cc: Justin Krejcha; Comment
Subject: Re: [praw-dev/praw] Attempting to respond to Reddit administratormessages throws 403 (#940)

I made a report on my

[2020-01-04 02:11] PythonCoderAS commented on #940
Maybe petition admins to show if the message is replyable

[2020-01-04 02:13] PythonCoderAS commented on #940
A good idea is to put the entire program in a while loop, and only terminate on KeyboardInterrupt/SystemExit/etc

[2020-01-04 06:24] #1124 closed

[2020-01-04 18:02] PythonCoderAS commented on #917
Here's a full list of files that need common attributes, so it's easier to make sure all of them have been completed.

- [ ] comment.py
- [ ] emoji.py
- [ ] multi.py
- [ ] submission.py
- [ ] __init__.py
- [ ] message.py
- [ ] redditor.py
- [ ] wikipage.py
- [ ] widgets.py
- [ ] subreddit.py
- [ ] more.py
- [ ] collections.py
- [ ] modmail.py
- [ ] live.py
- [ ] removal_reasons.py

[2020-01-05 04:55] dequeued0 commented on #1241
@PythonCoderAS The exceptions are shown in the test case output, the first file.

[2020-01-05 13:50] PythonCoderAS commented on #1241
I see. Can you also dump the vars of each Redditor instance, through`vars(<variable holding a Redditor>)`?

[2020-01-05 15:35] PythonCoderAS commented on #1139
My proposed flair class in #1231 should solve this problem because it has it's own built-in update function and therefore it will use previously existing models. However, it is optional, so I think the best idea is to fetch the data matching the template id, as unless one subreddit has an insane amount of templates, there should not be a noticeable problem.

I think caching results for an hour wou

[2020-01-05 15:38] PythonCoderAS commented on #1115
I'll update the documentation as it clearly has been forgotten.

[2020-01-05 15:49] PythonCoderAS commented on #940
What if we add an internal check to escape a 403 if the message has distinguish type admin and then silently fail, or add an optional argument to throw errors if a message is not replyable?

[2020-01-05 17:34] jarhill0 commented on #1139
@pythoncoderas I think introducing a cache system would have unintended negative side effects. For example, when flairs are updated outside of a certain program, that program would be unable to get the new flairs until the hour is up.

[2020-01-05 17:34] jarhill0 commented on #1139
In addition, the data associated with flairs is not very large, so a cache really wouldn't speed anything up.

[2020-01-05 17:38] jarhill0 commented on #940
PRAW should not let any actions silently fail because then its users will think that the requested action went through when it in fact didn't.

Throwing exceptions or not shouldn't be an option that's up to the caller. If the caller wishes to ignore a particular exception, they should use a `try`-`except` block to catch and ignore it.

[2020-01-05 18:44] michaelkolber commented on #1115
I'm sorry, I totally lost track of this.

[2020-01-05 19:16] bboe commented on #1115
It's not a problem. Life happens :).

[2020-01-05 19:51] justcool393 commented on #940
In addition, that just isn't expected behavior. There are non-distinguished non-admin messages that are unreplyable too and it's just something we can't reliably determine.

[2020-01-05 20:07] justcool393 commented on #1241
Reddit returns 404s for shadowbanned users. this is pretty much expected and correct behavior. otherwise it wouldn't be a shadowban.

permanently suspended (whether by password lockout or otherwise) users only return the `name` and `is_suspended` attribute.

Reddit also returns HTTP 400 always if you're not friends with a certain user, regardless of their shadowban or suspension status. this is al

[2020-01-05 20:10] justcool393 commented on #1241
a note on deleted accounts: they will show `[deleted]` for the username when checking a post or comment (as I believe the use case for this is), so it doesn't really matter anyway.

after 30 days they're removed from your friends list entirely and a note is placed on their account noting this, even though it is inaccessible for the first 30 days or so. Reddit will return 400 in this case for `/api

[2020-01-06 02:35] jarhill0 commented on #1244
I think you're right that it would be nice if the three that returned returned the image source directly. However, since this is the existing behavior and there is likely code out there that depends on it, it isn't really worth changing in my opinion.

As for the discrepancy between returning something or not, I would hazard a guess that some of the API calls give a meaningful response and some do

[2020-01-06 02:38] #1115 closed

[2020-01-06 22:10] tchanxx opened #1268 "Replace_more() AssertionError After Refreshing Comment"
**Describe the bug**

Using the replace_more() function on a comment's replies after the comment has been refreshed raises an AssertionError. This only happens on certain submissions and I'm not sure why (the code below is an example of a submission that fails). Also, the AssertionError is not raised if the refresh() function is not called on the comment.

**To Reproduce**
Run this code after repl

[2020-01-06 22:25] PythonCoderAS commented on #1268
This error is reproducible. I modified your code to immediately produce an exception, because it takes a lot of time otherwise.

[code]

[2020-01-06 22:26] PythonCoderAS commented on #1268
My question to you is: Does the error happen without the `confidence` sort?

[2020-01-06 22:41] tchanxx commented on #1268
@PythonCoderAS Thanks for making my code faster. Yes, the error happens even without the confidence sort. It only doesn't happen when the comment.refresh() line is removed.

[2020-01-06 23:08] PythonCoderAS commented on #1268
I didn't write this, but I assume it checks to make sure that the comment doesn't already have a full instance or something to that line. The best method would be to not do anything if the internal refresh boolean is True.

[2020-01-06 23:26] PythonCoderAS commented on #1244
I see why those methods do not return anything. They normally return a websocket.

Example return:
[code]

[2020-01-06 23:31] PythonCoderAS commented on #1244
@jarhill0 since you have expertise in websockets how should I resolve these websockets? I have no idea how to get the value inside of them.

[2020-01-07 01:25] bboe commented on #1268
I've never thought of someone calling `replace_more` more than once. Is there a specific reason why you are doing that?

[2020-01-07 01:42] PythonCoderAS commented on #1268
`replace_more` only replaces 32 comments, so that could be a valid reason.

[2020-01-07 01:58] tchanxx commented on #1268
@bboe I think I may be misunderstanding how `replace_more()` is meant to be used.

I thought that since a submission is basically a tree, I can call `replace_more()` on the submission itself to reveal all the top level comments (the first layer of the tree). Then, if I only want to dive deep into a single top level comment (only explore this branch of the tree), I can call `replace_more()` on just

[2020-01-07 02:29] PythonCoderAS commented on #1268
How about calling `replace_more(limit=len(submission.comments))`? That way, it will only replace up the amount of top level comments. You could also filter out top level `MoreComments` by a simple for loop:

[code]

[2020-01-07 02:50] tchanxx commented on #1268
@PythonCoderAS I might be mistaken, but with that approach, wouldn't I still need to call `replace_more()` on the replies of a top level comment if I wanted to see every reply to that comment? If so, I think I would have the same issue as before.

Basically, I just want to see every top level comment and I also want to see every reply to a single top level comment that I choose without having to c

[2020-01-07 03:15] PythonCoderAS commented on #1268
Replace_more is destructive, so why not create a new Comment and then replace_more that? You can make it a function.

[code]

[2020-01-07 04:35] bboe commented on #1268
I think what @PythonCoderAS is mentioning might work. The issue with the example code from the start of the issue is when calling `refresh`, you're replacing the same "more" instance more than once hence the exception.

What I think PRAW should do, is raise a new type of ClientException, rather than an assertion to indicate that the same comment is being replaced.

[2020-01-07 05:49] kungming2 opened #1271 "Typing `NoReturn` requires Python 3.5.4"
**Describe the bug**
Attempting to run PRAW 6.5.0 under <Python 3.5.4  (I'm using 3.5.1) will result in:

https://docs.python.org/3/library/typing.html#typing.NoReturn

[code]

Typing `NoReturn` was only introduced in [3.5.4](https://docs.python.org/3/library/typing.html#typing.NoReturn) of Python, and PRAW allows for installation on 3.5.0 <= version <3.5.4 (3.5.0, 1, 2, 3) versions so users with

[2020-01-07 09:04] jarhill0 commented on #1271
This is a pretty significant issue. Thanks.

[2020-01-07 09:33] jarhill0 opened #1273 "Tests should ensure NoReturn is not used."
Per #1271, use of `NoReturn` from `typing` causes incompatibility with some Python 3.5 and 3.6 versions. Tests should ensure that PRAW does not use this name.

[2020-01-07 09:34] jarhill0 commented on #1271
@kungming2 Can you please pull changes from #1272 and ensure that it fixes the problem for you? I intend to release a fix for this as PRAW version 6.5.1 in the morning (about 8-10 hours from now, for me).

[2020-01-07 10:01] jarhill0 commented on #1244
I advise staying far away from the websockets. Don't use them at all. It adds complexity that should be avoided if at all possible, which it is in this case.

[2020-01-07 11:12] PythonCoderAS commented on #1273
This was an error on my part to read the documentation. I made assumptions from the names of the annotations.

[2020-01-07 11:14] PythonCoderAS commented on #1244
I think I’ll add a disclaimer that these values do not return, and resolve the issue.

[2020-01-07 11:24] PythonCoderAS commented on #1273
Tests should not be using typing annotations at all really. A simple find and replace should do the trick.

[2020-01-07 16:26] bboe commented on #1273
We introduced a bug, so it's good to write a sort of regression test to ensure it doesn't happen again. This could be another static check on the linting side.

[2020-01-07 16:51] PythonCoderAS commented on #1273
The problem here is that we don't static test on any of the 3.x.0 versions.
Can we change the tests to run on Python 3.5.0, 3.6.0, etc?

On Tue, Jan 7, 2020, 11:26 AM Bryce Boe <notifications@github.com> wrote:

[2020-01-07 16:55] bboe commented on #1273
There's two things we _could_ do. One would be to run all the test suits on the 3.x.0 version. That would have caught this issue definitively. If github actions doesn't support that, then we could write a static analysis lint-like tool, to specifically check for this inclusion. That would be agnostic to the python version the check runs on.

[2020-01-07 17:21] #1271 closed

[2020-01-07 17:26] kungming2 commented on #1271
Thanks @jarhill0 and @bboe for taking care of this.

[2020-01-07 17:36] PythonCoderAS commented on #1273
Wouldn't that be annoying, and require one tool per specific exclusion? I
can't auto fix it with a tool like the code blocks, but I can alert a user
to every line that has the error.

[2020-01-07 17:47] bboe commented on #1273
I think the better solution is to run tests on the lowest version of each minor release we support.

Short of that, I don't think one tool per regression is really a bad thing. But we could consolidate all said checks into a single tool too. It's not necessary that said tools can fix the problem. It's only necessary that they exit with status code != 0 on said issues.

[2020-01-07 17:49] bboe commented on #1271
@kungming2 I'm curious why you're not on a more recent 3.5 release. Is one not available on your OS?

I'm not yet sure if we actually want to support versions older than the latest patch release.

[2020-01-07 17:50] kungming2 commented on #1271
@bboe I just happened to have that version active on this computer. That's all.

[2020-01-07 17:52] bboe commented on #1271
Oh okay. So maybe this isn't something we actually need to handle -- though the use of `NoReturn` in this case happened to be a bug. I'll have to look into it a bit more, but my initial thought is that it seems reasonable that we only support the latest patch version for each supported release.

[2020-01-07 17:53] kungming2 commented on #1271
It's up to you guys. But if that is the way going forward I feel that it should be documented so that people know to use the latest version for 3.5+.

[2020-01-07 17:56] bboe commented on #1271
Absolutely.

[2020-01-07 18:04] jarhill0 commented on #1271
For what it's worth, I happened to have an unsupported 3.6 version a week or two ago when I tried to run a different PR that used `NoReturn`. I upgraded my python version since then, but I don't think we should expect people to upgrade their python version to use our library.

[2020-01-07 18:10] PythonCoderAS commented on #1273
Replacement tools should be separate. Check tools can be lambdas or
decorated functions of a class instance.

[2020-01-07 18:14] jarhill0 commented on #1273
That's what I would like to do.

[2020-01-07 18:17] PythonCoderAS commented on #1273
Assign me to this issue/PR. I'll come up with a class so more tests can be
added.

[2020-01-07 18:18] bboe commented on #1273
Let's slow down on this a bit. We haven't decided yet if we want to support all patch versions of supported python minor versions yet. If someone wants to weigh in on how other popular packages handle this, that'd be great.

[2020-01-07 18:31] PythonCoderAS commented on #1273
I'm going to implement a class that can be used as a future. Sort of like a
framework

[2020-01-08 01:30] PythonCoderAS commented on #1268
@tchanxx The best solution so far is to make a custom exception, so you can assume that when the exception is called, it means the comment has already been refreshed.

[2020-01-09 00:11] #1268 closed

[2020-01-09 00:22] PythonCoderAS commented on #1268
@tchanxx your error is calling both `submission.comments.replace_more()` and `comment.replies.replace_more()`. Since they share the same root submission, this caused the error. If you need to retrieve replies, create a new instance of a comment through the reddit instance.

[2020-01-09 03:15] PythonCoderAS commented on #1244
Actually there is no need for a disclaimer. Closing this issue.

[2020-01-09 03:15] #1244 closed

[2020-01-09 11:11] PythonCoderAS commented on #1179
I feel that a good thing to do is replace all the ClientExceptions to more descriptive errors.

[2020-01-10 00:38] PythonCoderAS opened #1282 "Usage of assert"
These assert values should be added or updated with a message to explain what went wrong.

- [ ] praw/objector.py: Line 40 has phrase assert, please edit and remove this.
- [ ] praw/objector.py: Line 171 has phrase assert, please edit and remove this.
- [x] praw/models/comment_forest.py: Line 82 has phrase assert, please edit and remove this.
- [x] praw/models/trophy.py: Line 45 has phrase assert,

[2020-01-10 02:52] PythonCoderAS commented on #1140
I would say to manually cache yourself through a dict:

[code]

[2020-01-10 02:53] PythonCoderAS commented on #1139
So should we just pull data from reddit?

[2020-01-10 03:55] #1282 closed

[2020-01-10 04:29] bboe commented on #1140
Closing due to inactivity.

[2020-01-10 04:29] #1140 closed

[2020-01-10 04:35] bboe commented on #1139
I think the proposed option #1 seems to make sense. I would like to avoid any sort of caching layer.

[2020-01-11 09:17] jarhill0 commented on #1141
Closing per @nmtake's attempt.

[2020-01-11 09:17] #1141 closed

[2020-01-12 07:47] jarhill0 commented on #954
Closing for inactivity.

[2020-01-12 07:47] #954 closed

[2020-01-12 20:17] kungming2 commented on #1273
@bboe I should note that the last default version of Python on Raspbian Stretch seems to have been 3.5.3, so it's very likely that a lot of people operating PRAW on older Raspberry Pis will have this particular version and not the latest (3.5.9) or the minimum required for `NoReturn` typing (3.5.4).

[2020-01-12 21:17] bboe commented on #1273
That's a great point. Thanks for the info. Are such people able to update?

[2020-01-12 21:24] kungming2 commented on #1273
@bboe IIRC you have to compile from source to update Python on the Pi, or alternatively update to Raspbian Buster, which the RPi foundation recommends starting fresh, [which comes with Python 3.7.2](https://wiki.debian.org/Python#Supported_Python_Versions). Raspbian Buster came out in the middle of last year with the release of the RPi4, but to my knowledge there's still a lot of people on Stretch

[2020-01-12 22:11] #1179 closed

[2020-01-12 22:25] PythonCoderAS commented on #1273
Even if NoReturn is supported, they really should not be used, unless it’s for something like a stream, which we can modify from `Generator[Any, None, None]` to `Generator[Any, NoReturn, None]`.

[2020-01-13 01:48] PythonCoderAS opened #1291 "Unclear how to sort comments"
I was investigating comment sort, and it’s really unclear what sort types we have. Maybe a disclaimer, like: “You can sort comments by best, top, etc.” would be useful.

[2020-01-13 01:50] PythonCoderAS opened #1292 "Add a stream for comments on a submission"
**Describe the solution you'd like**

A stream for all comments made to a post.

Toggle-able options such as top level comments only, etc.

However, if we used the current implementation of retrieving comments, trying to stream a large submission would require a lot of calls to replace_more.

[2020-01-13 03:38] jarhill0 commented on #1292
I don't think this feature is within PRAW's scope. This can be achieved using a normal comment stream while filtering based on which post the comment is from. Perhaps this would fit in better to [prawdditions](https://github.com/praw-dev/prawdditions).

[2020-01-13 03:39] jarhill0 commented on #1291
Can you make a PR for this?

[2020-01-13 07:53] bboe commented on #1292
I agree with @jarhill0. PRAW closely mimics functionality available from Reddit's API. Streaming comments by submission is only partially accomplishable by filtering a subreddit stream, which can be easily done by the end user. We could certainly provide an example in our documentation how someone might achieve such a stream.

I'm going to close this issue.

[2020-01-14 02:24] PythonCoderAS opened #1294 "A method for extracting dicts from PRAWBase objects"
**Describe the solution you'd like**
This in response to #954 and the solution seems to be to export a dict but convert other PRAWBases to their string form.

**Describe alternatives you've considered**

- Directly call `class.__dict__()` and then stringify as needed
- Also for #954 PRAWBases can check if a dict or string is being given and parse appropriately

[2020-01-14 11:11] PythonCoderAS opened #1295 "Tool to auto-sort attribute lists"
**Describe the solution you'd like**

A tool that can take a multiline string of example attributes (copy pasted and piped through) and then sort them.

**Describe alternatives you've considered**

Doing it manually

**Additional context**

Assign me to this issue because I think I know how to make such a tool.

[2020-01-14 16:00] bboe commented on #1295
Thanks for the idea. However, I don't think this is something we need in this project.

[2020-01-14 16:00] #1295 closed

[2020-01-15 03:22] #1291 closed

[2020-01-15 03:28] #1273 closed

[2020-01-15 23:44] PythonCoderAS opened #1299 "Docstring values for parameter g in method Preferences.update"
**Describe the bug**

https://github.com/praw-dev/praw/blob/bdc05bbaa34830bb3036f237b73c4f0d3cb56e0e/praw/models/preferences.py#L71-L86

- `GB` should not be at the end
- The `US_XX` values should be sorted by state

**System Info**
 - PRAW Version: latest

[2020-01-18 00:15] PythonCoderAS opened #1303 "Sphinx stops emitting warnings if it encounters only one"
**Describe the bug**
 When running pre_push, if Sphinx runs into an warning, it does does print any more. When there are lots of warnings, it takes a lot of time to re-run pre_push per warning

I recommend adding the command line argument `--keep-going`. This will cause it to print all warnings.

**System Info**
 - PRAW Version: Latest

[2020-01-18 01:23] #1299 closed

[2020-01-18 01:24] #1303 closed

[2020-01-18 02:50] PythonCoderAS opened #1306 "Text should not be required in SubredditFlairTemplates.update"
There is usually no reason to always update the text. What if I want to change the color without the text?

I propose setting the text to an empty string, just like CSS class. This issue links with #1139 .

[2020-01-18 05:04] PythonCoderAS opened #1309 "Certain cassettes take up a lot of storage"
There are certain Betamax cassettes, specifically the stream cassettes, that take up megabytes of storage space because of their sheer size.

Here is a node tree of all files in the cassettes directory:

[code]

Most cassettes are under 100 kb each, but the single-most node, the submission MultiredditStream, takes up almost 50 megabytes. My theory is that that stream contained 100 submissions with

[2020-01-18 05:06] PythonCoderAS commented on #1309
My solution was to make a script that would scan all cassettes, and bzip the ones greater than 1mb (using the python library), and then on the first test run, unzip these. However, that would be really tedious to maintain between testing and pushing, so I would like to hear some alternatives.

[2020-01-18 16:48] bboe commented on #1309
I don't think the extra complexity is worth saving a few MBs. Also it's nice to be able to see the details of the cassettes in code review. Thus I'm going to close this issue.

[2020-01-18 16:48] #1309 closed

[2020-01-18 16:49] bboe commented on #1309
On that point, if you'd like to try to optimize any cassettes to reduce the number of requests captured, that's fine.

[2020-01-18 20:44] jarhill0 commented on #1309
I think the multireddit stream cassette is certainly too big. If you can re-record it to get it significantly smaller (perhaps by changing the test slightly), I think that would be a worthwhile change.

The other large cassettes aren't all that large in comparison, so I don't think we should do anything about them.

[2020-01-19 01:36] PythonCoderAS opened #1311 "Tool to inspect docstrings of reddit models"
Re: assign me please this is a remainder for a tool I want to make later.

[2020-01-19 04:07] jarhill0 commented on #1311
Can you make this issue more detailed and specific?

[2020-01-19 04:17] PythonCoderAS commented on #1311
Sorry, but I basically thought of a tool to verify that all RedditBase subclasses have a docstring containing common attributes and examples.

[2020-01-25 00:10] PythonCoderAS commented on #1241
I think the best way to resolve this issue is to add a note in documentation for suspended or shadowbanned accounts.

[2020-01-25 00:20] PythonCoderAS commented on #1025
I was thinking of adding an option to suppress errors, but then we come to the error where someone tries streaming, e.g. comments of a private subreddit they lost access to, which would just go into an infinite loop, so maybe we should have an internal counter of exceptions, and throw an exception if X amount of errors happen in Y seconds.

[2020-01-25 04:46] justcool393 commented on #1241
This is already documented, no?

A user that doesn't exist (as is the case with a shadowbanned user) is obvious to fail. It's easy to verify that it'd fail even on the website

[2020-01-25 13:46] PythonCoderAS commented on #1241
I was thinking about putting a note for suspended accounts, which is not documented. It also doesn't hurt to put a notice about shadowbanned, although suspended should definitely be mentioned.

[2020-01-25 13:54] PythonCoderAS commented on #1043
To resolve the issue, maybe it can be noted that the `r/all` stream may drop some comments. I think the main issue is that any stream to `r/all` is going to require a special class to handle dropped items, and proactively add them in. A simple base 36 decoder can count the item numbers, and then if it detects a gap of two, it inserts the missing comment or submission into the yield list.

I have c

[2020-01-25 14:00] PythonCoderAS opened #1317 "Discussion about logging"
I think that logging should be implemented more throughout PRAW, not just prawcore. Maybe at the debug level on praw we could log all streamed items, and on the info level, log all objects retrieved through the `reddit` instance. These are just some suggestions.

[2020-01-25 21:56] PythonCoderAS commented on #1240
Giving it some second thoughts, I realized that not even the mobile app can file reports from the official report form. And I think using an undocumented API to send report forms is a surefire way to get banned.

For now, open the user into the web browser.

Closing until an official report API is implemented.

[2020-01-25 21:59] PythonCoderAS commented on #940
I think a solution could be to leave a documentation note stating that not all messages are replyable, and to let the user deal with the exception handling.

[2020-01-25 22:00] PythonCoderAS commented on #1079
How do existing chatbots currently operate Reddit's chat?

[2020-01-26 01:05] PythonCoderAS commented on #1241
Furthermore, the calls for getting user object data always succeed because of lazy-loading. Shadowbanned accounts are the same as an incorrect username.

[2020-01-26 18:40] PythonCoderAS opened #1322 "Create model for SubredditTraffic"
Currently, Reddit returns a confusing dict with traffic stats, and I was thinking that a model could be better-suited to handling the traffic data.

[2020-01-26 19:30] bboe commented on #1322
I really only like to introduce models when there are methods associated with the data. As a result, I don't think having a model for Traffic makes much sense.

[2020-01-26 19:30] #1322 closed

[2020-01-26 19:32] bboe commented on #1317
As always, is there a specific problem you would like to address, or is this something you feel would be nice to have? If the former, can you be a little more specific about the issue?

[2020-01-26 19:39] PythonCoderAS commented on #1317
I was going to say that a lot of Reddit API errors are really vague, and that maybe it would be nice to find out what started it.

[2020-01-26 19:42] bboe commented on #1317
Does the stacktrace not provide sufficient info on such errors?

[2020-01-26 19:53] PythonCoderAS commented on #1317
No, like if let's say I iterate through something, I want to be able to inspect the contents. Example: Submissions and Comments

[2020-01-26 19:56] bboe commented on #1317
I feel like that's the user's responsibility if that information is relevant to them. It makes sense to log things that are transparent to the user (e.g., what prawcore is logging). With that said, perhaps there are a few things we could do to improve logging of transparent actions.

[2020-01-26 23:49] PythonCoderAS commented on #940
I was thinking, and this error is not just limited to admin messages. A reply to an item that was locked would also create an error. The best solution is what @jarhill0 said to do (catch the error).

[2020-01-27 03:57] #940 closed

[2020-01-27 13:25] PythonCoderAS commented on #1241
Closing as this is a bug on Reddit's side, not PRAW's side. There is a new method to check for existing friendships, please use that.

[2020-01-27 13:25] #1241 closed

[2020-01-27 16:09] #1146 closed

[2020-01-27 18:40] PythonCoderAS opened #1329 "Choose to return raw dicts"
Would it be possible to make every function return data as a raw dict? For example, I would like to check Reddit data, and dealing with raw dicts are sometimes easier than dealing with objects. I propose a switch to every function, that can get passed down to the request calls, that skips the objector. This will be very tough to handle, and may require rewriting of several functions to return dire

[2020-01-27 18:41] PythonCoderAS opened #1330 "Finish typing functions"
There are a few files that still do not have type values. Those should be finished for PRAW 7.0.0.

[2020-01-27 19:18] PythonCoderAS commented on #1329
This would be better used by going through prawcore, and I realized that there's really no benefit to using a high level library.

[2020-01-27 19:18] #1329 closed

[2020-01-28 23:01] PythonCoderAS opened #1331 "Sort ID-based models"
**Describe the bug**

I should be able to sort submissions, comments, and other id-based items, by their ID.

**System Info**
 - Python: 3.7
 - PRAW Version: latest

[2020-01-28 23:09] bboe commented on #1331
What's the use-case?

[2020-01-28 23:12] PythonCoderAS commented on #1331
sorting a list of random comments in first-posted order

[2020-01-28 23:26] bboe commented on #1331
While generally id values increment, it's not a strict guarantee and there are some well known examples which break the order. Such a sort _could_ be misleading.

Again, is this something you have a specific need for, or do you simply think it'd be nice to have?

[2020-01-28 23:28] PythonCoderAS commented on #1331
The latter.

[2020-01-28 23:29] PythonCoderAS commented on #1331
I could also sort by created time if all of the items have that.

[2020-01-29 00:10] bboe commented on #1331
I'd recommend that we don't add features simply because they sound nice to have. Given that no one has asked for a way to sort comments/submissions in all of PRAW's existence, it's additional code (more test than implementation) that we have to maintain. Further, the confusion that might arise by having sortable comments/submissions doesn't seem worth the benefit. To add, if someone were really as

[2020-01-29 12:51] justcool393 commented on #1241
this isn't a bug, it's intended behavior on reddit's side though...

[2020-01-29 21:40] PythonCoderAS commented on #1241
Well therefore it's closed as normal behavior.

[2020-01-29 21:47] #1177 closed

[2020-01-29 22:34] jarhill0 commented on #1043
Noting a known issue is always good, but just noting the issue isn't the same as fixing it. For this reason, it would be better if we could improve the streams to avoid dropping items entirely, but this is difficult to achieve.

[2020-01-29 22:37] jarhill0 commented on #1240
I'd like to keep this open. PRAW uses undocumented API points in other places (such as [`submit_image`](https://praw.readthedocs.io/en/latest/code_overview/models/subreddit.html#praw.models.Subreddit.submit_image)), so I don't consider that an issue.

[2020-02-01 23:04] PythonCoderAS commented on #1331
Reopen: I ran into an error where I cannot use a Queue to manage models, becuase I am trying to make a bot, and I want to use priority so user requests are higher in priority than submissions from r/all.

[2020-02-02 00:35] bboe commented on #1331
What are you putting in the priority queue?

[2020-02-02 23:01] Majiick opened #1336 "AttributeError exception when a request comes back with status 403."
**Describe the bug**
praw throws an AttributeError exception when a request comes back with status 403.

**To Reproduce**
Get a 403 response from a request that praw makes.

**Expected behavior**
praw raises correctly formatted ResponseException(just like it does with 404 responses) instead of AttributeError.

**Code/Logs**
[code]

If I print response before the exception it is a string with the v

[2020-02-02 23:12] bboe commented on #1336
Hi I see that `threading` is your stacktrace. Are you doing something with ThreadPool?

Additionally, this stacktrace doesn't give us any information about where it actually failed in your code. Can you reproduce without threading and include information about what the actual request was that resulted in the 403 body?

[2020-02-02 23:28] PythonCoderAS commented on #1336
Please include the code that led to the error. If it's a threading call, include the function that's called by the thread.

[2020-02-03 11:09] Majiick commented on #1336
Hey @bboe, I am not sure how to reproduce without threading since I am pretty sure the 403 comes from spamming the API too much.

@PythonCoderAS
[code]

This is not the actual code, I chopped it down to the basics and so it's more digestible.

[2020-02-03 13:11] PythonCoderAS commented on #1336
First of all you can just return `submission.comments.list()` directly, no need to loop over it again.

Second, can you add this code to the top of your code?

[code]

[2020-02-03 17:16] bboe commented on #1336
Unfortunately PRAW doesn't attempt to be threadsafe, so we're going to close this issue. If you can reproduce without using threads then please reply and we'll reopen it.

Thanks for reporting.

[2020-02-03 21:43] Majiick commented on #1336
@bboe Alright thank you, I thought that using multiprocessing instead of the thread module would solve that issue.

[2020-02-03 21:54] bboe commented on #1336
Are you explicitly using a threadpool? If so, then that's problematic. If you're using multiprocessing with processes and not threads (confusing, I know), then things _should_ work.

[2020-02-03 22:15] Majiick commented on #1336
I don't use threading anywhere to my knowledge. I use the `multiprocessing.Pool` with apply_async just like in the code snippet in one of the previous comments. It does say in the documentation that the Pool is a pool of processes, not threads.

https://docs.python.org/3/library/multiprocessing.html#module-multiprocessing.pool

if I print os.getppid() inside the function which creates a new PRAW i

[2020-02-03 22:29] bboe commented on #1336
Oh okay. multiprocessing must internally be using threads to keep track of something. So long as the PRAW code isn't being run across threads, things should be okay. It'd still be ideal to reproduce this code without multiple processes. Or at least can you narrow your code down significantly to the smallest reproducible chunk?

[2020-02-04 01:40] PythonCoderAS commented on #1336
@Majiick https://praw.readthedocs.io/en/latest/getting_started/logging.html

[code]

This will let us see what API call caused the error. Place this at top and re-run your file.

[2020-02-04 17:44] vgoklani commented on #1329
I second this. Going through the objects is exhausting, and it's much easier just to iterate through the JSON. The only reason I'm even looking at this library is because Reddit's API is a total piece of crap.

[2020-02-04 19:11] bboe commented on #1331
@PythonCoderAS ^

[2020-02-04 21:24] Majiick commented on #1336
Hi @bboe and @PythonCoderAS,

The issue seems to be that pickling custom exceptions in Python is broken. Such is the case in prawcore/exceptions.py. You can see the explanation in https://stackoverflow.com/questions/27993567/custom-exceptions-are-not-raised-properly-when-used-in-multiprocessing-pool

Problem in the code:

[code]

The fix is to do this instead:

[code]

Code to reproduce:

[code]

[2020-02-05 00:34] PythonCoderAS commented on #1331
Submissions, but I fixed that with https://docs.python.org/3/library/queue.html#queue.PriorityQueue

[code]

[2020-02-05 00:34] #1331 closed

[2020-02-05 22:44] PythonCoderAS commented on #1336
@Majiick i read your code and it seems that basically I have to set request to a value of None. However, I think you can change your code to use a `ThreadPool`, since most of the code's time is spent on network. Verify that a ThreadPool does not not cause the error.

[2020-02-05 23:25] Majiick commented on #1336
Using a ThreadPool would cause other issues since Praw is not thread-safe, is that not correct?

[2020-02-06 02:24] PythonCoderAS commented on #1336
@Majiick it works perfectly fine as long as each thread makes Th wit own Reddit.

[2020-02-06 10:55] Majiick commented on #1336
The documentation says to stick with multiple processing instead of threads, but I will try with threads.

https://praw.readthedocs.io/en/latest/getting_started/multiple_instances.html

`In theory having a unique Reddit instance for each thread should work. However, until someone perpetually volunteers to be PRAW’s thread safety instructor, little to no support will go toward any PRAW issues that

[2020-02-06 10:58] PythonCoderAS commented on #1336
The problem with multiple threads is the access of shared objects. In theory, as long as no objects are shared, or shared as strings, there shouldn’t be any problem.

[2020-02-07 16:38] danksky commented on #1043
In my case, I'm looping through a list of subreddit titles and passing `subreddit_title` to create the `subreddit` object.

The following
[code]
prints 1 commend ID per second / per subreddit.

I thought it might be a rate limiting issue, but every _first_ subreddit that I stream comments from does the same as all the subreddits following. Doesn't rule out rate limiting, but I can't figure out wha

[2020-02-09 17:23] #917 closed

[2020-02-09 17:23] #924 closed

[2020-02-09 17:23] #1311 closed

[2020-02-10 00:40] #1129 closed

[2020-02-10 00:42] bboe commented on #1011
Closing this issue due to inactivity.

[2020-02-10 00:42] #1011 closed

[2020-02-10 01:02] PythonCoderAS opened #1339 "Get AssertionError when submitting url post to selftext only subreddit while ratelimited"
**Describe the bug**

If I am ratelimted on Reddit, such as for posting to /r/tifu, and I post a URL post, which is banned, instead of getting either error, I get an AssertionError

**To Reproduce**
Steps to reproduce the behavior:
Submit to a selftext-only subreddit while post-ratelimited.

**Expected behavior**

Raise one or both errors

**Code/Logs**

Code:
[code]

Error:
[code]

**System Info*

[2020-02-10 10:28] Majiick commented on #1336
Hi @PythonCoderAS,

I've ran it for a while with multiple threads and it seems to be doing fine (and takes up much less memory!).

Anyway, the workaround is to use threads but the multiprocessing is still broken.

[2020-02-10 16:48] PythonCoderAS commented on #1336
The best way to resolve this is to include a note stating that Reddit instances should never be shared and all other instances should be converted to strings before sharing. My export PR can come in handy for this.

[2020-02-11 03:22] jarhill0 commented on #1339
Just to be clear, this issue only happens with `validate_on_submit=True`, right? This is related to the upcoming "post rules" feature.

[2020-02-11 16:23] PythonCoderAS commented on #1339
No, it is not related. I trigger it by trying to post an image to r/tifu while ratelimited by Reddit

[2020-02-11 21:23] jarhill0 commented on #1339
@pythoncoderas what happens if you don't pass that parameter?

[2020-02-11 21:35] PythonCoderAS commented on #1339
No, basically, I hit one of those 10 minute post ratelimits on Reddit. If I have one of those active, and then try to post an image post to a text-only subreddit, such as r/AskReddit, I get the above error.

[2020-02-12 21:31] jarhill0 commented on #1339
Here's my attempt to reproduce the issue. Without `validate_on_submit=True` (a new Reddit feature that PRAW is working to support), I could not reproduce your `AssertionError`:

https://gist.github.com/jarhill0/4b64ece572b2304f8073c2319ad445df

[2020-02-13 04:19] Pyprohly commented on #1339
I once had plans to make `APIException` iterable and then take these assertions out but never got around to it. Regardless of whether @PythonCoderAS’ story is true or not, multiple API errors is definitely a possibly and these assertions need to be dealt with.

A reliable way to reproduce multiple errors for the purposes of testing:

[code]

[2020-02-13 05:52] Pyprohly commented on #1309
Some other ways the cassettes can be thinned:

* [Remove the pretty JSON serialiser][1] and use something like `jq` if you want to see a cassette’s content.
* [Remove the `Accept-Encoding: Identity` header][2] so the body content is gzip compressed.
* Remove all or most of the request and response headers.
* Perform the access token request outside or before running betamax so that each cassette d

[2020-02-13 06:38] bboe commented on #1309
You have some great ideas there, however, I'd like to weigh in with some specifics.

Primarily, I look at the cassettes on github for most new features to ensure there aren't more requests necessary to implement something. Removing the pretty printed cassettes, or compressing the results makes this significantly more challenging.

Generally speaking, you're right that we don't need cassettes. Howe

[2020-02-14 00:58] PythonCoderAS commented on #1309
I also support removing the cassettes, because it's hard for new users to work with them. @bboe I think a simple python script can be devised that reads the JSON and outputs all of the URLs that are accessed.

[2020-02-14 01:31] bboe commented on #1309
@PythonCoderAS I find it a little surprising you would suggest something that makes reviews take even longer ;). I definitely don't want to check out repos locally to review the code.

[2020-02-14 01:40] PythonCoderAS commented on #1309
@bboe Maybe a script we can tack onto the end of GitHub actions (before coverage) that reports the list?

[2020-02-15 16:41] #1139 closed

[2020-02-15 16:41] #1306 closed

[2020-02-19 22:21] pkdarn opened #1343 "Slack Link Expired"
Real-time chat can be conducted via the PRAW Slack Organization (please create an issue if that invite link has expired).

[2020-02-19 22:23] jarhill0 commented on #1343
Thanks! I'll fix this now.

[2020-02-19 22:30] jarhill0 commented on #1343
The new slack link is https://join.slack.com/t/praw/shared_invite/enQtOTUwMDcxOTQ0NzY5LWVkMGQ3ZDk5YmQ5MDEwYTZmMmJkMTJkNjBkNTY3OTU0Y2E2NGRlY2ZhZTAzMWZmMWRiMTMwYjdjODkxOGYyZjY.

[2020-02-19 22:31] #1343 closed

[2020-02-22 21:24] sweickge opened #1347 "Trying to sticky a post which is already stickied causes PRAW to exit script"
**Describe the bug**

If a post (submission) is already stickied, and `mod.sticky(state=True)` is called on that submission, a script using praw exits because of a HTTP 409 error. Traceback shown below in "Code/Logs" section

**To Reproduce**

1. Make a post and sticky it as a mod
2. Try to call mod.sticky(state=True) on that same submission, without doing a check to see if it is already stickied

[2020-02-22 21:29] jarhill0 commented on #1347
I've confirmed this behavior. I feel like this is an issue on Reddit's end, but PRAW should still do something to prevent this scenario from raising an exception.

[2020-02-22 21:45] sweickge commented on #1347
I probably should've added a check to see if the thread is stickied first, but anyways, yeah it seems like this could probably be on Reddit's end as I hadn't encountered this error before and I hadn't made any code changes/praw version changes for at least 3 months

[2020-02-23 00:35] PythonCoderAS commented on #1347
As this is mostly a Reddit issue, I'll note the error on the method documentation.

[2020-02-23 00:37] jarhill0 commented on #1347
@pythoncoderAS, that wasn't what I meant when I suggested that PRAW do something about this. Perhaps we could catch and silence this specific exception?

[2020-02-23 19:39] PythonCoderAS commented on #1336
@Majiick upon further testing it's only found in multiprocessing Pools. `multiprocessing.Process` works normally.

# Code
[code]

# Output
[code]

[2020-02-23 20:22] PythonCoderAS commented on #1336
Me and @jarhill0 have identified a solution to the error, but it is very cumbersome to implement. Basically, this code:

[code]
becomes
[code]

However, this is hard to implement, and as it is an edge case (Multiprocessing Pool) with a very easy solution, (use Thread Pool), this will not be fixed. Documentation will be changed to reflect this.

[2020-02-23 20:22] #1336 closed

[2020-02-23 20:36] PythonCoderAS commented on #1336
Note: If anyone ever wants to attempt to fix this in the future, as of 23-02-2020, you will need to replace these exceptions:

- [ ] prawcore.exceptions.RequestException,
- [ ] prawcore.exceptions.ResponseException,
- [ ] prawcore.exceptions.OAuthException,
- [ ] praw.exceptions.APIException,
- [ ] prawcore.exceptions.BadJSON,
- [ ] prawcore.exceptions.BadRequest,
- [ ] prawcore.exceptions.Conflic

[2020-03-01 21:16] #1347 closed

[2020-03-02 23:08] PythonCoderAS opened #1354 "PRAW throws assertionerror if comments returned from Reddit are manually assigned a submission"
**Describe the bug**

I'm working with an endpoint that returns comments, and replies, but the replies (which have MoreComments) don't include a submission. I have given each object the submission manually, but when I call `replace_more`, I get an `AssertionError`.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

replace_more to return comments

**Code/Logs**

[co

[2020-03-08 20:13] qo4on opened #1356 "How to tune replace_more?"
This code will output all the top-level comments, followed by second-level, third-level:
[code]
When there are a few thousand comments, it takes forever. Is it possible to limit the number of top level comments and collect more second level and more the third?

[2020-03-08 20:47] bboe commented on #1356
Great question! You can manually iterate through the top-level comments and manually call `comments` on the `More` objects you encounter giving you full control of how to handle the replacement.

Providing configuration on how to iterate through comments in `replace_more` is very likely something we won't support, however, as there simply are too many possibilities.

[2020-03-08 20:47] #1356 closed

[2020-03-08 21:14] qo4on commented on #1356
Thanks for answer.
So, it's impossible to get comments in the same order as I see it on reddit.com, right?

[2020-03-08 21:40] bboe commented on #1356
No you can change the order that comments are returned in. But it's a forest, and you have to decide how to traverse. For comment sort order see `comment_sort`: https://praw.readthedocs.io/en/latest/getting_started/quick_start.html

[2020-03-09 01:04] HarryBak opened #1357 "User_Agent string not accurately reported"
**Describe the bug**
REDDIT_USER_AGENT="/u/My Useragent String"

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize session
2. Log in manually via browser
3. Navigate to https://old.reddit.com/account-activity
4. User agent being reported is 'PRAW 6.4.0 prawcore 1.0.1'

**Expected behavior**
You would expect "/u/My Useragent String" to be reported on Reddits end. How do they know we u

[2020-03-09 01:15] jarhill0 commented on #1357
This seems to be just how Reddit chooses to parse the user agent. For example, when I access Reddit via my computer, my full user agent (via my browser's network inspector) is `Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:73.0) Gecko/20100101 Firefox/73.0`. But this show's up in Reddit's display as `Firefox 73.0 Mac OS X 10.15`.

As for how Reddit knows that PRAW is PRAW, when you set `user_ag

[2020-03-09 01:15] #1357 closed

[2020-03-09 11:50] qo4on commented on #1356
It does not allow to get the same order. This code will output all the top-level comments, followed by second-level, third-level:
[code]
When I say "the same order" I mean "the same order":
![image](https://user-images.githubusercontent.com/35609308/76210085-2e667500-6225-11ea-9f9a-7ccc16159d7d.png)

Si, It's impossible to do, right?

[2020-03-12 06:22] ZucchiniZe opened #1359 "Submitting images using `submit_image` fails with a 400 client error."
**Describe Bug**
Whenever the `submit_image` method is called on a subreddit object, I get a 400 client error. This has been going on for about a week and I was able to successfully submit images with it until March 3rd. Since then I have not been able to submit any images without getting a 400 client error. I had encountered some websocket timeouts but that was an error with the network on my end

[2020-03-12 06:38] ZucchiniZe commented on #1359
Upon further digging (packet sniffing) it looks like my image is just slightly too large for the i.redd.it service. It seems to be that reddit recently changed their upload policy with a max of a 20mb image file.

[2020-03-13 00:49] PythonCoderAS commented on #1359
Thanks for mentioning that there is a file limit. I'll implement code that checks the file size to make sure that it doesn't exceed Reddit limits. Can you link where the policy change is?

[2020-03-13 01:05] bboe commented on #1359
@PythonCoderAS is the Reddit exception clear? If so, I'd prefer to simply rely on that than have a client-side check.

[2020-03-13 02:00] PythonCoderAS commented on #1359
@bboe I would assume it isn't clear if a bug was filed. @ZucchiniZe what was the full exception? (Copy-paste text)

[2020-03-13 20:07] jarhill0 commented on #1359
Just chiming in to say that client-side checks for server-side validation that may change on the server side is probably not a great strategy. It's inflexible and can get out of sync.

[2020-03-14 00:01] PythonCoderAS commented on #1359
I have reproduced the error.

[code]

[2020-03-14 00:08] PythonCoderAS commented on #1359
Confirmed that this does not occur if very small files are used. Those just throw a websocket error.

[2020-03-14 00:09] bboe commented on #1359
Is there anything in the response body or headers that indicate image size?

[2020-03-14 00:10] PythonCoderAS commented on #1359
I'm checking that next. I'm changing the code to print the response before error-ing.

[2020-03-14 00:31] PythonCoderAS opened #1360 "Combine all submit methods"
**Describe the solution you'd like**

Would it be possible for all submissions to happen from a single method, `submit`? We could add `image` and `video` parameters, and treat them like the `url` and `selftext` parameters.

**Describe alternatives you've considered**

**Additional context**

[2020-03-14 00:35] PythonCoderAS commented on #1359
@bboe XML is returned.
[code]

[2020-03-14 01:25] bboe commented on #1360
I think we discussed that when making the methods. Since they serve different purposes it made sense to separate them. I believe we also discussed separating submit into submit_text and submit_url for better consistency. The downside is that would be a breaking change. Anyhow, I'd prefer that to adding more mutually exclusive options in the method, because it's more explicit which arguments belong

[2020-03-14 01:28] jarhill0 commented on #1360
Yep, @bboe is right. When I first wrote the feature, it was all in `submit`, and he made the (correct) call to separate it out into new methods.

[2020-03-14 16:45] PythonCoderAS commented on #1356
This could be done, but it would require sorting through comments and their replies.

[2020-03-14 17:45] #1360 closed

[2020-03-14 17:52] PythonCoderAS commented on #1292
This is basically an issue for #1355 so I will link this issue and re-open it, since a suitable API point was found.

[2020-03-15 04:42] #1359 closed

[2020-03-15 18:59] devonwasson opened #1363 "Praw send_removal_message throws 400 when title > 50 characters"
The praw method send_removal_message throws an unhelpful 400 error when attempting to send a removal message with a title > 50 characters. Reddit limits these titles to 50 characters but that limit is not documented anywhere and the error message is not descriptive. Adding documentation would be helpful.

Other alternatives are changing the error thrown when this happens to be more descriptive or

[2020-03-15 20:07] bboe commented on #1363
Thanks for reporting. Would you like to add it to the documentation?

[2020-03-15 20:15] bboe commented on #1363
Looks like we should be able to provide a more specific error message:

[code]

[2020-03-15 21:30] bboe commented on #1363
Actually, I think I'll simply make it raise a better exception.

[2020-03-15 22:20] PythonCoderAS commented on #1363
I'll take and write a quick exception for this.

[2020-03-15 23:48] #1339 closed

[2020-03-16 14:48] jarhill0 commented on #1292
Closing per slack discussion: This will be a prawdditions feature.

[2020-03-16 14:48] #1292 closed

[2020-03-16 15:03] jarhill0 commented on #1354
I don't think this is a bug in PRAW, considering you've encountered it while trying to add a new feature. You probably need to make sure that each `reply.parent_id` is in `reply._submission._comments_by_id` (and there may be a method to do this; I'm not familiar with how `CommentForest` works).

In general, I don't think that exceptions encountered in the course of developing PRAW itself are issue

[2020-03-16 15:03] #1354 closed

[2020-03-16 17:18] #1363 closed

[2020-03-16 17:34] PythonCoderAS commented on #1043
Maybe the subreddit does output 1 comment/sec. Try on `AskReddit`, which has a high comment throughput.

[2020-03-18 16:12] PythonCoderAS opened #1366 "Difference between gilding and awarding"
While setting up filters, I realized that reddit considers awards and gilded items differently. An award is something that costs coins. Gildings are any of the main awards that award Reddit premium (Gold & Platinum) and any awards that act similar to gold and platinum are not part of it. In the documentation, we should revise any references to gilded or awarded depending on what Reddit's API retur

[2020-03-20 21:29] PythonCoderAS opened #1373 "Splitting files with multiple classess"
In my opinion, some files, especially `subreddit.py`, have several classes and are full of code. This makes it hard to navigate the files. I propose making subdirectories, such as a `subreddit` module, and then have everything be importable. This should not break any existing imports, but it will make it easier to work with certain files.

For example, the file subreddit.py after the transformatio

[2020-03-20 21:39] bboe commented on #1373
Great idea. I support it. Please import everything into the __init__ space so that imports don't break anywhere.

[2020-03-20 21:39] PythonCoderAS commented on #1373
That was the plan

[2020-03-21 18:52] dequeued0 opened #1377 "Document request timeout settings"
**Describe the bug**

Please document prawcore settings that may be useful in both prawcore and praw.

The environment variable setting `prawcore_timeout` is only mentioned in `prawcore/CHANGES.rst`.

The `prawcore.requestor.TIMEOUT` setting isn't mentioned anywhere.

[2020-03-21 20:42] jarhill0 commented on #1079
The chat interface uses WebSockets. Because WebSockets lend themselves to asynchronous programming and PRAW is not async, perhaps this would best be a feature for an auxiliary package that isn't part of PRAW itself.

I'm interested in making this a feature of PRAW (or an add-on package), though it seems like a decently large undertaking.

[2020-03-21 20:49] PythonCoderAS commented on #1079
Chat should be implemented the way discord.py is. A function that is called on every message, and other methods that are called from the message function.

[2020-03-21 21:22] PythonCoderAS opened #1378 "Merge SubredditStylesheet and Stylesheet"
Per #1371 , I don't really see why SubredditStylesheet and Stylesheet are different models. No stylesheet is going to exist without a SubredditStylesheet, and the Stylesheet class is completely blank. I propose merging them into one, and deprecating the `__call__` function that returned the old Stylesheet class.

[2020-03-22 13:10] PythonCoderAS commented on #1377
I'm changing PRAWCore to add a parameter for timeout, which I can add onto Reddit.

[2020-03-23 03:10] #1317 closed

[2020-03-23 18:12] devonwasson commented on #1363
Thanks for the work on this, huge improvement to the debugging process.

[2020-03-26 04:26] Watchful1 opened #1383 "Add submission of chat posts"
I unfortunately don't have time at the moment to put together a pull request, but this should be fairly simple. Just pass a `"discussion_type": "CHAT"` in the submit call. There's an example [here](https://gist.github.com/markis/48a71a0fbe71a3996cf8167e48b0bcc9).

As far as I can tell, the only accepted arguments for `discussion_type` are `"CHAT"` or `None`, so this could probably be added as a `T

[2020-03-26 04:54] bboe commented on #1383
See https://github.com/praw-dev/praw/pull/1367 :)

[2020-03-26 04:54] #1383 closed

[2020-04-02 03:32] jarhill0 opened #1386 "Let moderators create/edit subreddit welcome messages."
Moderators using PRAW should be able to create and edit subreddit welcome messages, which are PMs that are automatically sent to new subscribers.

See [this thread from /r/modhelp](https://www.reddit.com/r/modguide/comments/eyx3pr/how_to_create_a_welcome_message_for_your_community/) for information about the new feature.

[2020-04-05 05:38] #1386 closed

[2020-04-15 04:12] nickatnight commented on #1330
Is anyone working on this? Would love to take this up

[2020-04-15 23:58] jarhill0 commented on #1330
I'd say go for it. @PythonCoderAS doesn't seem to be actively typing new files, so I doubt there'd be any work duplicated or merge conflicts or anything.

[2020-04-16 11:52] PythonCoderAS commented on #1330
@nickatnight Sure, you can try to. I did avoid typing the Subreddit file because it's very massive to work with. Also a lot of classes need to be moved to the bottom, so return values can be accurately shown without using `TypeVars`.

[2020-04-17 18:12] PythonCoderAS opened #1393 "Environment variables take higher precedence than coded-in values"
**Describe the bug**

Passing in authentication values through environment variables gives those values a higher priority than values that have been coded in.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.
4.

**Expected behavior**

If authentication values have been directly programmed in, they should take the highest priority.

**Code/Logs**

**System Info**
 - OS:
 - Python:
 - PRA

[2020-04-18 04:55] jarhill0 commented on #1393
This is expected behavior, as documented [here](https://praw.readthedocs.io/en/latest/getting_started/configuration.html) and [here](https://praw.readthedocs.io/en/latest/getting_started/configuration/environment_variables.html). It may or may not make sense to behave this way, but it is not a bug.